[Desktop Entry]
Name=K3b Wave Decoder
Name[cs]=Wave dekodér K3b
Name[csb]=Dekòder Wave dlô K3b
Name[de]=K3b-Wave-Dekoder
Name[el]=Αποκωδικοποιητής Wave του K3b
Name[es]=Descodificador Wave de K3b
Name[et]=K3b Wave dekodeerija
Name[eu]=K3b WAV dekodetzailea
Name[fi]=K3b:n wave-purkaja
Name[fr]=Décodeur Wave pour K3b
Name[ga]=Díchódóir Wave K3b
Name[gl]=Descodificador de Wave para K3b
Name[he]=מפענח Wave של K3b
Name[hne]=के3बी वेव डिकोडर
Name[ja]=K3b wave デコーダ
Name[km]=កម្មវិធី​ឌិកូដ Wave របស់ K3b
Name[ko]=K3b 웨이브 디코더
Name[lv]=K3b Wave dekoderis
Name[nb]=K3b Wave-dekoder
Name[nds]=Wave-Dekoderer för K3b
Name[nl]=K3b Wave-decoder
Name[pa]=K3b Wave ਡੀਕੋਡਰ
Name[pl]=Dekoder Wave dla K3b
Name[pt]=Descodificador de WAVE do K3b
Name[pt_BR]=Decodificador Wave do K3b
Name[ro]=Decodor K3b Wave
Name[sv]=K3b Wav-avkodare
Name[th]=K3b - ตัวถอดรหัส Wave
Name[tr]=K3b Wave Kod Çözücü
Name[uk]=Декодер Wave для K3b
Name[x-test]=xxK3b Wave Decoderxx
Name[zh_CN]=K3b Wave 解码器
Comment=Decoding module to decode wave files
Comment[bg]=Декодиращ модул за wave файлове
Comment[cs]=Modul pro dekódování souborů wave
Comment[csb]=Mòdul dekòdërëjący lopczi wave
Comment[de]=Dekodierungsmodul für Wave-Dateien
Comment[el]=Άρθρωμα αποκωδικοποίησης αρχείων Wave
Comment[es]=Módulo de descodificación para descodificar archivos wave
Comment[et]=Wave-failide dekodeerimise moodul
Comment[eu]=WAV fitxategiak dekodetzeko dekodetze modulua
Comment[fi]=Wave-äänitiedostojen purkumoduli
Comment[fr]=Module pour décoder les fichiers Wave
Comment[ga]=Modúl díchódaithe a dhíchódaíonn comhaid Wave
Comment[gl]=Módulo de descodificación de ficheiros wave
Comment[he]=מודול המפענח קבצי Wave
Comment[hne]=वेव फाइल ल डिकोड करे बर डिकोडिंग माड्यूल
Comment[ja]=wave ファイルをデコードするモジュール
Comment[km]=ម៉ូឌុល​ឌិកូដ ដែលត្រូវ​ឌិកូដ​ឯកសារ wave
Comment[ko]=웨이브 파일 디코딩 모듈
Comment[lv]=Dekodēšanas modulis wave failiem
Comment[nb]=Modul som dekoder wave-filer
Comment[nds]=Dekodeermoduul för "Wave"-Dateien
Comment[nl]=Module voor het decoderen van wave-bestanden
Comment[pl]=Moduł dekodujący pliki wave
Comment[pt]=Módulo de descodificação de ficheiros WAVE
Comment[pt_BR]=Módulo de decodificação para decodificar arquivos wave
Comment[ro]=Modul de decodare pentru decodarea fișierelor wave
Comment[sv]=Avkodningsmodul för att avkoda Wav-filer
Comment[th]=มอดูลถอดรหัสแฟ้มประเภท wave
Comment[tr]=Wav dosyalarının kodlarını çözmek için kod çözme modülü
Comment[uk]=Модуль декодування файлів wave
Comment[x-test]=xxDecoding module to decode wave filesxx
Comment[zh_CN]=用于解码 WAVE 文件的解码模块
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3bwavedecoder
X-KDE-PluginInfo-Name=k3bwavedecoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=4.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioDecoder
X-KDE-PluginInfo-EnabledByDefault=true
