[Desktop Entry]
Name=K3b Wave Decoder
Name[bg]=Wave декодер за K3b
Name[bs]=Wave dekoder za K3b
Name[ca]=Descodificador Wave del K3b
Name[ca@valencia]=Descodificador Wave del K3b
Name[cs]=Wave dekodér K3b
Name[csb]=Dekòder Wave dlô K3b
Name[da]=K3b wave-dekoder
Name[de]=Wave-Dekodierer
Name[el]=Αποκωδικοποιητής Wave του K3b
Name[en_GB]=K3b Wave Decoder
Name[es]=Descodificador Wave de K3b
Name[et]=K3b Wave dekodeerija
Name[eu]=K3b Wave deskodetzailea
Name[fi]=K3b:n Wave-purkaja
Name[fr]=Décodeur « Wave » pour K3b
Name[ga]=Díchódóir Wave K3b
Name[gl]=Descodificador de Wave para K3b
Name[he]=מפענח Wave של K3b
Name[hne]=के3बी वेव डिकोडर
Name[hr]=K3b-ov dekoder Wavea
Name[hu]=Wave-dekódoló a K3b-hez
Name[ia]=Decifrator Wave de K3b
Name[is]=K3b Wave afkóðari
Name[it]=Decodificatore Wave di K3b
Name[ja]=K3b wave デコーダ
Name[kk]=K3b Wave декодері
Name[km]=ឌិកូឌ័រ​ Wave របស់ K3b
Name[ko]=K3b 웨이브 디코더
Name[lt]=K3b Wave dekoderis
Name[lv]=K3b Wave dekoderis
Name[mr]=के3बी Wave डीकोडर
Name[nb]=K3b Wave-dekoder
Name[nds]=Wave-Dekoderer för K3b
Name[nl]=K3b Wave-decoder
Name[nn]=Wave-dekodar for K3b
Name[pa]=K3b Wave ਡੀਕੋਡਰ
Name[pl]=Dekoder Wave dla K3b
Name[pt]=Descodificador de WAVE do K3b
Name[pt_BR]=Decodificador Wave do K3b
Name[ro]=Decodor K3b Wave
Name[ru]=Декодер Wave
Name[sk]=Wave dekodér pre K3b
Name[sl]=K3b-jev dekodirnik Wave
Name[sq]=K3b Wave Dekoder
Name[sr]=ВАВ декодер за К3б
Name[sr@ijekavian]=ВАВ декодер за К3б
Name[sr@ijekavianlatin]=WAV dekoder za K3b
Name[sr@latin]=WAV dekoder za K3b
Name[sv]=K3b Wave-avkodare
Name[th]=K3b - ตัวถอดรหัส Wave
Name[tr]=K3b Wave Çözücü
Name[uk]=Декодер Wave для K3b
Name[x-test]=xxK3b Wave Decoderxx
Name[zh_CN]=K3b Wave 解码器
Name[zh_TW]=K3b Wave 解碼器
Comment=Decoding module to decode wave files
Comment[bg]=Декодер за wave файлове
Comment[bs]=Modul dekodiranja za dekodiranje WAVE datoteke
Comment[ca]=Mòdul de descodificació per a descodificar fitxers wave
Comment[ca@valencia]=Mòdul de descodificació per a descodificar fitxers wave
Comment[cs]=Modul pro dekódování souborů wave
Comment[csb]=Mòdul dekòdërëjący lopczi wave
Comment[da]=Dekodermodul til dekodning af wave-filer
Comment[de]=Dekodierungsmodul für Wave-Dateien
Comment[el]=Άρθρωμα αποκωδικοποίησης αρχείων Wave
Comment[en_GB]=Decoding module to decode wave files
Comment[es]=Descodificando módulo para descodificar archivos wave
Comment[et]=Wave-failide dekodeerimise moodul
Comment[eu]=wave fitxategiak deskodetzeko modulua
Comment[fi]=Wave-äänitiedostojen purkumoduuli
Comment[fr]=Module de décodage pour des fichiers audio au format « wav »
Comment[ga]=Modúl díchódaithe a dhíchódaíonn comhaid Wave
Comment[gl]=Módulo de descodificación de ficheiros wave
Comment[he]=מודול המפענח קבצי Wave
Comment[hne]=वेव फाइल ल डिकोड करे बर डिकोडिंग माड्यूल
Comment[hr]=Dekoderski modul za dekodiranje wave datoteka
Comment[hu]=Dekódolómodul wav-fájlok dekódolásához
Comment[ia]=Modulo decifrante per decifrar files wave
Comment[id]=Modul decoding untuk mendekode file-file wave
Comment[it]=Decodifica modulare di file WAVE
Comment[ja]=wave ファイルをデコードするモジュール
Comment[kk]=Wave файлдарының декодер модулі
Comment[km]=ម៉ូឌុល​ឌិកូដ សម្រាប់​ឌិកូដ​ឯកសារ wave
Comment[ko]=웨이브 파일 디코딩 모듈
Comment[lt]=Dekodavimo modulis dekoduoti wave failus
Comment[lv]=Dekodēšanas modulis wave failiem
Comment[mr]=wave फाईल्स डीकोड करण्याकरिता डीकोडिंग विभाग
Comment[nb]=Modul som dekoder wave-filer
Comment[nds]=Dekodeermoduul för "Wave"-Dateien
Comment[nl]=Module voor het decoderen van wave-bestanden
Comment[nn]=Modul for dekoding av wave-filer
Comment[pl]=Moduł dekodujący pliki wave
Comment[pt]=Módulo de descodificação de ficheiros WAVE
Comment[pt_BR]=Módulo de decodificação de arquivos WAVE
Comment[ro]=Modul de decodare pentru decodarea fișierelor wave
Comment[ru]=Модуль декодирования файлов Wave
Comment[sk]=Modul pre dekódovanie súborov wave
Comment[sl]=Dekodirni modul za dekodiranje datotek Wave
Comment[sr]=Модул за декодирање ВАВ фајлова
Comment[sr@ijekavian]=Модул за декодирање ВАВ фајлова
Comment[sr@ijekavianlatin]=Modul za dekodiranje WAV fajlova
Comment[sr@latin]=Modul za dekodiranje WAV fajlova
Comment[sv]=Avkodningsmodul för att avkoda wave-filer
Comment[th]=มอดูลถอดรหัสแฟ้มประเภท wave
Comment[tr]=Wav dosyalarının kodlarını çözmek için kod çözme modülü
Comment[uk]=Модуль декодування файлів wave
Comment[x-test]=xxDecoding module to decode wave filesxx
Comment[zh_CN]=用于解码 WAVE 文件的解码模块
Comment[zh_TW]=解碼 wave 檔案格式的模組
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3bwavedecoder
X-KDE-PluginInfo-Name=k3bwavedecoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=4.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioDecoder
X-KDE-PluginInfo-EnabledByDefault=true
