[Desktop Entry]
Name=K3b Wave Decoder
Name[cs]=Wave dekodér K3b
Name[sv]=K3b Wave-avkodare
Name[x-test]=xxK3b Wave Decoderxx
Comment=Decoding module to decode wave files
Comment[cs]=Modul pro dekódování souborů wave
Comment[sv]=Avkodningsmodul för att avkoda wave-filer
Comment[x-test]=xxDecoding module to decode wave filesxx
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3bwavedecoder
X-KDE-PluginInfo-Name=k3bwavedecoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=4.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioDecoder
X-KDE-PluginInfo-EnabledByDefault=true
