[Desktop Entry]
Type=MimeType
Patterns=*.cue;*.CUE
MimeType=application/x-cue
Icon=cdimage
Comment=CDRWIN cue-sheet
Comment[da]=CDRWIN hjælpe-ark
Comment[de]=de]=CDRWIN im "Cue-Sheet"-Modus (Berechnung von Daten durch das Brennerlaufwerk)
Comment[es]=Archivo de imagen de CD de CDRWIN
Comment[fr]=Cue-sheet CDRWIN
Comment[it]=File immaginde di CDRWIN
Comment[nl]=CDRWIN cue-bestand
Comment[pt]=Projecto do CDRWIN
Comment[pt_BR]=Folha de dicas do CDRWIN
Comment[sv]=Cd-rw index-blad
Comment[zh_CN]=CDRWIN cue-表单
