[Desktop Entry]
Type=MimeType
Patterns=*.iso;*.ISO
MimeType=application/x-iso
Icon=cdtrack
Comment=ISO9660 image file
Comment[da]=ISO9660 billedfil
Comment[de]=ISO-Abbild
Comment[es]=Archivo de imagen ISO9660
Comment[pt]=Ficheiro com imagem ISO9660
Comment[pt_BR]=Ficheiro com imagem ISO9660
Comment[sv]=ISO9660-avbildsfil
