[Desktop Entry]
Type=MimeType
Patterns=*.iso;*.ISO
MimeType=application/x-iso
Icon=cdtrack
Comment=ISO9660 image file
Comment[da]=ISO9660 billedfil
Comment[de]=de]=ISO-Abbilddatei
Comment[el]=Αρχείο εικόνας ISO9660
Comment[es]=Archivo de imagen ISO9660
Comment[fr]=Image ISO9660
Comment[it]=File immagine ISO9660
Comment[nl]=ISO9660 beeldbestand
Comment[pt]=Ficheiro com imagem ISO9660
Comment[pt_BR]=Arquivo de imagem ISO9660
Comment[sk]=ISO9660 obraz
Comment[sv]=Cd Bake Oven - ISO9660-avbildsfil
Comment[xh]=Ifayile yomfanekiso we ISO9660
Comment[zh_CN]=ISO9660 映像文件
