# KDE Config File
[Desktop Entry]
MimeType=application/x-k3b;
Comment=K3b Project
Comment[be]=Праект K3b
Comment[bg]=K3b проект
Comment[ca]=Projecte de K3b
Comment[cs]=K3b projekt
Comment[csb]=Ùdba K3b
Comment[de]=K3b-Projekt
Comment[el]=Έργο K3b
Comment[eo]=K3b projekto
Comment[es]=Proyecto de K3b
Comment[et]=K3b projekt
Comment[fi]=K3b-projekti
Comment[fr]=Projet K3b
Comment[ga]=Tionscadal K3b
Comment[gl]=Proxecto de K3b
Comment[hsb]=K3b-projekt
Comment[is]=K3b verkefni
Comment[ja]=K3b プロジェクト
Comment[km]=គម្រោង K3b
Comment[ko]=K3b 프로젝트
Comment[lt]=K3b projektas
Comment[lv]=K3b projekts
Comment[nb]=K3b-prosjekt
Comment[nds]=K3b-Projekt
Comment[ne]=केथ्रीबी परियोजना
Comment[nl]=K3b-project
Comment[pl]=Projekt K3b
Comment[pt]=Projecto do K3b
Comment[pt_BR]=Projeto do K3b
Comment[ru]=Проект K3b
Comment[sk]=K3b Projekt
Comment[sv]=K3b-projekt
Comment[th]=โครงการเขียนแผ่นด้วย K3b
Comment[tr]=K3b Projesi
Comment[uk]=Проект K3b
Comment[x-test]=xxK3b Projectxx
Comment[zh_CN]=K3b 项目
Icon=k3b
Type=MimeType
Patterns=*.k3b;
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.k3b
