# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-k3b
Comment=K3b Project
Comment[da]=K3b-projekt
Comment[de]=de]=K3b-Projekt
Comment[el]=K3b εργασία
Comment[es]=Proyecto de K3b
Comment[fr]=Projet K3b
Comment[it]=Progetto K3b
Comment[nl]=K3b-project
Comment[pt]=Projecto do K3b
Comment[pt_BR]=Projeto K3b
Comment[sk]=Projekt K3b
Comment[sv]=K3b-projekt
Comment[xh]=Iprojekti ye K3b
Comment[zh_CN]=K3b 方案
Icon=k3b
Type=MimeType
Patterns=*.k3b;
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.k3b
