# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-k3b
Comment=K3b Project
Comment[af]=K3b Projek
Comment[ar]= مشروع K3b
Comment[bg]=K3b проект
Comment[bn]=কে-থ্রি-বি প্রকল্প
Comment[br]=Raktres K3b
Comment[bs]=K3b projekat
Comment[ca]=Projecte de K3b
Comment[cs]=K3b projekt
Comment[da]=K3b-projekt
Comment[de]=K3b-Projekt
Comment[el]=Έργο K3b
Comment[eo]=K3b projekto
Comment[es]=Proyecto de K3b
Comment[et]=K3b Projekt
Comment[fa]=پروژۀ K3b
Comment[fi]=K3b-projekti
Comment[fr]=Projet K3b
Comment[gl]=Proxecto de K3b
Comment[he]=פרוייקט K3b
Comment[hi]=के3बी परियोजना
Comment[hu]=K3b-projekt
Comment[is]=K3b verkefni
Comment[it]=Progetto K3b
Comment[ja]=K3b プロジェクト
Comment[ka]=K3b-ის პროექტი
Comment[km]=គម្រោង K3b
Comment[lt]=K3b projektas
Comment[mk]=Проект за K3b
Comment[ms]=Projek K3b
Comment[nb]=K3b-prosjekt
Comment[nds]=K3b-Projekt
Comment[ne]=K3b परियोजना
Comment[nl]=K3b-project
Comment[nn]=K3b-prosjekt
Comment[pa]=K3b ਪ੍ਰੋਜੈੱਕਟ
Comment[pl]=Projekt K3b
Comment[pt]=Projecto do K3b
Comment[pt_BR]=Projeto do K3b
Comment[ru]=Проект K3b
Comment[sk]=K3b Projekt
Comment[sl]=Projekt K3b
Comment[sr]=K3b-ов пројекат
Comment[sr@Latn]=K3b-ov projekat
Comment[sv]=K3b-projekt
Comment[ta]=K3bதிட்டம்
Comment[tg]=Лоиҳаи K3b
Comment[tr]=K3b Projesi
Comment[uk]=Проект K3b
Comment[uz]=K3b loyihasi
Comment[uz@cyrillic]=K3b лойиҳаси
Comment[xh]=Iprojekti ye K3b
Comment[zh_CN]=K3b 方案
Comment[zh_TW]=K3b 專案
Icon=k3b
Type=MimeType
Patterns=*.k3b;
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.k3b
