[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=K3b/Plugin
Name=K3b Plugin
Name[bg]=Приставка за K3b
Name[cs]=Modul K3b
Name[csb]=Wtëkôcz K3b
Name[da]=K3b-plugin
Name[de]=K3b-Modul
Name[el]=Πρόσθετο του K3b
Name[es]=Complemento de K3b
Name[et]=K3b plugin
Name[eu]=K3b plugin-a
Name[fi]=K3b-liitännäinen
Name[fr]=Module K3b
Name[ga]=Breiseán K3b
Name[gl]=Extensión para K3b
Name[he]=תוסף K3b
Name[hne]=के3बी प्लगइन
Name[ja]=K3b プラグイン
Name[km]=កម្មវិធី​ជំនួយ​របស់ K3b
Name[ko]=K3b 플러그인
Name[lv]=K3b spraudnis
Name[nb]=K3b programtillegg
Name[nds]=K3b-Moduul
Name[nl]=K3b-plugin
Name[pa]=K3b ਪਲੱਗਇਨ
Name[pl]=Wtyczka K3b
Name[pt]='Plugin' do K3b
Name[pt_BR]=Plug-in do K3b
Name[ro]=Modul K3b
Name[ru]=Модуль K3b
Name[sl]=Vstavek za K3b
Name[sv]=K3b-insticksprogram
Name[th]=ส่วนเสริมของ K3b
Name[tr]=K3b Eklentisi
Name[uk]=Додаток K3b
Name[x-test]=xxK3b Pluginxx
Name[zh_CN]=k3b 插件
