[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=K3b/Plugin
Name=K3b Plugin
Name[ca]=Connector K3b
Name[ca@valencia]=Connector K3b
Name[cs]=Modul K3b
Name[da]=K3b-plugin
Name[de]=K3b-Modul
Name[ga]=Breiseán K3b
Name[hr]=K3b priključak
Name[ja]=K3b プラグイン
Name[nb]=K3b programtillegg
Name[nds]=K3b-Moduul
Name[nl]=K3b-plugin
Name[nn]=K3b-tillegg
Name[pt_BR]=Plug-in do K3b
Name[ru]=Модуль K3b
Name[sk]=Modul K3b
Name[sr]=Прикључак К3ба
Name[sr@ijekavian]=Прикључак К3ба
Name[sr@ijekavianlatin]=Priključak K3ba
Name[sr@latin]=Priključak K3ba
Name[sv]=K3b-insticksprogram
Name[uk]=Додаток K3b
Name[x-test]=xxK3b Pluginxx
Name[zh_TW]=K3b 外掛程式
