[Desktop Entry]
Name=K3b FLAC Decoder
Name[x-test]=xxK3b FLAC Decoderxx
Comment=Decoding module to decode FLAC files
Comment[x-test]=xxDecoding module to decode FLAC filesxx
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3bflacdecoder
X-KDE-PluginInfo-Name=k3bflacdecoder
X-KDE-PluginInfo-Author=John Steele Scott
X-KDE-PluginInfo-Email=toojays@toojays.net
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioDecoder
X-KDE-PluginInfo-EnabledByDefault=true
