[Desktop Entry]
Name=K3b Ogg Vorbis Encoder
Comment=Encoding module to encode Ogg Vorbis files
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3boggvorbisencoder
X-KDE-PluginInfo-Name=k3boggvorbisencoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioEncoder
X-KDE-PluginInfo-EnabledByDefault=true
