[Desktop Entry]
Name=K3b Ogg Vorbis Encoder
Name[ca]=Codificador Ogg Vorbis del K3b
Name[ca@valencia]=Codificador Ogg Vorbis del K3b
Name[cs]=K3b Ogg Vorbis enkodér
Name[es]=Codificador Ogg Vorbis de K3b
Name[it]=Codificatore Ogg Vorbis di K3b
Name[nl]=K3b Ogg Vorbis-codeerder
Name[pt]=Codificador de Ogg Vorbis do K3b
Name[sk]=Ogg Vorbis enkodér pre K3b
Name[sv]=K3b Ogg Vorbis-kodare
Name[uk]=Кодувальник Ogg Vorbis для K3b
Name[x-test]=xxK3b Ogg Vorbis Encoderxx
Comment=Encoding module to encode Ogg Vorbis files
Comment[ca]=Mòdul de codificació per a codificar fitxers Ogg Vorbis
Comment[ca@valencia]=Mòdul de codificació per a codificar fitxers Ogg Vorbis
Comment[cs]=Modul pro kompresi do souborů Ogg Vorbis
Comment[es]=Módulo de codificado para codificar archivos Ogg Vorbis
Comment[it]=Codifica modulare di file Ogg Vorbis
Comment[nl]=Module voor het coderen van Ogg Vorbis-bestanden
Comment[pt]=Módulo de codificação de ficheiros Ogg Vorbis
Comment[sk]=Modul pre kódovanie súborov Ogg Vorbis
Comment[sv]=Kodningsmodul för att koda Ogg Vorbis-filer
Comment[uk]=Модуль кодування файлів Ogg Vorbis
Comment[x-test]=xxEncoding module to encode Ogg Vorbis filesxx
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3boggvorbisencoder
X-KDE-PluginInfo-Name=k3boggvorbisencoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioEncoder
X-KDE-PluginInfo-EnabledByDefault=true
