[Desktop Entry]
Name=K3b Ogg Vorbis Encoder Config Widget
Name[nds]=Intellmoduul för Ogg-Vorbis-Koderer för K3b
Name[nl]=K3b Ogg Vorbis-codeerder Configuratiemodule
Name[pt_BR]=Widget de configuração do codificador Ogg Vorbis do K3b
Name[sv]=Grafisk inställningskomponent för K3b Ogg Vorbis-kodare
Name[uk]=Віджет налаштування кодувальника Ogg Vorbis K3b
Name[x-test]=xxK3b Ogg Vorbis Encoder Config Widgetxx
Name[zh_TW]=K3b Ogg Vorbis 編碼器設定元件
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_k3boggvorbisencoder
X-KDE-ParentComponents=k3boggvorbisencoder
X-KDE-PluginInfo-Name=kcm_k3boggvorbisencoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL

