[Desktop Entry]
Name=K3b Ogg Vorbis Encoder Config Widget
Name[ca]=Estri de configuració del codificador Ogg Vorbis del K3b
Name[ca@valencia]=Estri de configuració del codificador Ogg Vorbis del K3b
Name[cs]=Konfigurační widget K3B kodéru ogg vorbis
Name[it]=Elemento di configurazione codificatore Ogg Vorbis di K3b
Name[nl]=K3b Ogg Vorbis-codeerder Configuratiemodule
Name[pt]=Item de Configuração do Codificador de Ogg Vorbis do K3b
Name[sk]=Ovládací prvok Ogg Vorbis enkodéra pre K3b
Name[sv]=Grafisk inställningskomponent för K3b Ogg Vorbis-kodare
Name[uk]=Віджет налаштування кодувальника Ogg Vorbis K3b
Name[x-test]=xxK3b Ogg Vorbis Encoder Config Widgetxx
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_k3boggvorbisencoder
X-KDE-ParentComponents=k3boggvorbisencoder
X-KDE-PluginInfo-Name=kcm_k3boggvorbisencoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL

