[Desktop Entry]
Name=K3b Ogg Vorbis Encoder Config Widget
Name[bg]=Настройки на кодирането на Ogg Vorbis
Name[bs]=Kontrola za podešavanje OGG Vorbis kodera za K3b
Name[ca]=Estri de configuració del codificador Ogg Vorbis del K3b
Name[ca@valencia]=Estri de configuració del codificador Ogg Vorbis del K3b
Name[cs]=Konfigurační widget K3B kodéru ogg vorbis
Name[csb]=Òkno nastôwów kòdera Ogg Vorbis dlô K3b
Name[da]=Konfigurationskontrol til K3b Ogg Vorbis-indkodning
Name[de]=Bedienelement zur Kodierung von Ogg Vorbis
Name[el]=Γραφικό συστατικό ρύθμισης του κωδικοποιητή Ogg Vorbis του K3b
Name[en_GB]=K3b Ogg Vorbis Encoder Config Widget
Name[es]=Control de configuración del codificador Ogg Vorbis de K3b
Name[et]=K3b Ogg Vorbise kodeerija seadistamisvidin
Name[eu]=K3b Ogg Vorbis kodetzailea konfiguratzeko trepeta
Name[fi]=K3b:n Ogg Vorbis -purkaja asetussovelma
Name[fr]=Composant graphique de configuration de l'encodeur « Ogg Vorbis » pour K3b
Name[ga]=Giuirléid Chumraíochta Ionchódóir Ogg Vorbis K3b
Name[gl]=Trebello de configuración do Codificador Ogg Vorbis para K3b
Name[he]=וידג'ט הגדרות קידוד קבצי Ogg Vorbis של K3b
Name[hne]=के3बी ओग वार्बिस एनकोडर कान्फिग विजेट
Name[hr]=K3b-ov konfiguracijski widget za koder Ogg Vorbisa
Name[hu]=A K3b Ogg Vorbis-kódolójának beállítása
Name[ia]=Decodificator Ogg Vorbis de K3b Widget de configuration
Name[it]=Elemento di configurazione codificatore Ogg Vorbis di K3b
Name[ja]=K3b Ogg Vorbis エンコーダ設定ウィジェット
Name[kk]=K3b Ogg Vorbis кодерін баптау виджеті
Name[km]=ធាតុ​ក្រាហ្វិក​កំណត់​រចនា​សម្ព័ន្ធអ៊ិនកូឌ័រ​ Ogg Vorbis របស់ K3b
Name[ko]=K3b Ogg 보비스 인코더 설정 위젯
Name[lt]=K3b Ogg Vorbis koduotuvo nustatymų valdiklis
Name[lv]=K3b Ogg Vorbis kodētāja konfigurācijas logdaļa
Name[mr]=के3बी Ogg Vorbis एन्कोडर संयोजना विजेट
Name[nb]=K3b oppsettselement for Ogg Vorbis-koder
Name[nds]=Intellmoduul för Ogg-Vorbis-Koderer för K3b
Name[nl]=K3b Ogg Vorbis-codeerder Configuratiemodule
Name[nn]=Oppsettmodul for Ogg Vorbis-kodar for K3b
Name[pl]=Okno ustawień kodera Ogg Vorbis dla K3b
Name[pt]=Item de Configuração do Codificador de Ogg Vorbis do K3b
Name[pt_BR]=Widget de configuração do codificador Ogg Vorbis do K3b
Name[ro]=Control de configurare a codorului K3b Ogg Vorbis
Name[ru]=Виджет настройки кодера Ogg Vorbis
Name[sk]=Ovládací prvok Ogg Vorbis enkodéra pre K3b
Name[sl]=K3b-jev nastavitveni modul za kodirnik Ogg Vorbis
Name[sq]=K3b Ogg Vorbis Enkoder Config Widget
Name[sr]=Виџет за подешавање ОГГ ворбис кодера за К3б
Name[sr@ijekavian]=Виџет за подешавање ОГГ ворбис кодера за К3б
Name[sr@ijekavianlatin]=Vidžet za podešavanje OGG Vorbis kodera za K3b
Name[sr@latin]=Vidžet za podešavanje OGG Vorbis kodera za K3b
Name[sv]=Grafisk inställningskomponent för K3b Ogg Vorbis-kodare
Name[th]=K3b - วิดเจ็ตปรับแต่งตัวเข้ารหัส Ogg Vorbis
Name[tr]=K3b Ogg Vorbis Kodlayıcısı Yapılandırma Parçacığı
Name[uk]=Віджет налаштування кодувальника Ogg Vorbis K3b
Name[x-test]=xxK3b Ogg Vorbis Encoder Config Widgetxx
Name[zh_CN]=K3b Ogg Vorbis 编码器配置部件
Name[zh_TW]=K3b Ogg Vorbis 編碼器設定元件
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_k3boggvorbisencoder
X-KDE-ParentComponents=k3boggvorbisencoder
X-KDE-PluginInfo-Name=kcm_k3boggvorbisencoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL

