[Desktop Entry]
X-KDE-Solid-Predicate=OpticalDisc.availableContent & 'VideoDvd'
Actions=K3bRip;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action K3bRip]
Name=Rip Video DVD Titles with K3b
Exec=k3b --videodvdrip %i
Icon=k3b
