[Desktop Entry]
Type=Service
Actions=CreateK3bVcdProject;
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/mpeg;

[Desktop Action CreateK3bVcdProject]
Exec=k3b --videocd %F
Name=Create Video CD with K3b
Name[ca]=Crea un CD de vídeo amb el K3b
Name[ca@valencia]=Crea un CD de vídeo amb el K3b
Name[cs]=Vytvořit pomocí K3b video CD...
Name[csb]=Ùsôdzë wideò CD z pòmòca K3b
Name[da]=Opret video-cd med K3b
Name[de]=Video-CD mit K3b erstellen
Name[en_GB]=Create Video CD with K3b
Name[es]=Crear CD de vídeo con K3b
Name[et]=Kirjuta video-CD K3b abil
Name[fr]=Créer un CD vidéo avec K3b
Name[he]=צור תקליטור וידאו CD עם K3b
Name[hu]=Video CD létrehozása a K3b-vel
Name[it]=Crea CD video con K3b
Name[nb]=Lag video-DVD med K3b
Name[nds]=Video-CD mit K3b opstellen
Name[nl]=Video-cd aanmaken met K3b
Name[nn]=Lag video-CD med K3b
Name[pt]=Criar um CD de Vídeo com o K3b
Name[pt_BR]=Criar CD de vídeo com o K3b
Name[ro]=Creează disc video cu K3b
Name[ru]=Записать видео компакт-диск, используя K3b
Name[sl]=Ustvari video CD s K3b
Name[sr]=Направи видео ЦД К3бом...
Name[sr@ijekavian]=Направи видео ЦД К3бом...
Name[sr@ijekavianlatin]=Napravi Video CD K3bom...
Name[sr@latin]=Napravi Video CD K3bom...
Name[sv]=Skapa video-cd med K3b
Name[th]=สร้างแผ่นวีดิโอซีดีด้วย K3b
Name[tr]=K3b ile Video CD Oluştur
Name[uk]=Створити відео-КД через K3b
Name[x-test]=xxCreate Video CD with K3bxx
Icon=k3b
