[Desktop Entry]
Actions=CreateK3bDataProject;
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
ExcludeServiceTypes=application/x-iso;

[Desktop Action CreateK3bDataProject]
Exec=k3b --data %F
Name=Create file project with K3b
Name[ca]=Crea un fitxer de projecte amb el K3b
Name[cs]=Vytvořit pomocí K3b souborový projekt...
Name[nb]=Lag filprosjekt med K3b
Name[nds]=Dateiprojekt mit K3b opstellen
Name[nl]=Bestandsproject aanmaken met K3b
Name[nn]=Lag filprosjekt med K3b
Name[pt_BR]=Criar um projeto de arquivos com o K3b
Name[sk]=Vytvoriť súborový projekt pomocou K3b
Name[sr]=Направи пројекат фајлова К3бом...
Name[sr@ijekavian]=Направи пројекат фајлова К3бом...
Name[sr@ijekavianlatin]=Napravi projekat fajlova K3bom...
Name[sr@latin]=Napravi projekat fajlova K3bom...
Name[sv]=Skapa filprojekt med K3b
Name[uk]=Створити файловий проект за допомогою K3b
Name[x-test]=xxCreate file project with K3bxx
Name[zh_TW]=用 K3b 建立檔案專案
Icon=k3b
