[Desktop Entry]
X-KDE-Solid-Predicate=OpticalDisc.availableContent & 'VideoDvd'
Actions=K3bRip;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action K3bRip]
Name=Rip Video DVD Titles with K3b
Name[bg]=Извличане на DVD заглавия с K3b
Name[bs]=Čupaj naslove sa video DVDa K3bom
Name[ca]=Extreu els títols del DVD amb el K3b
Name[ca@valencia]=Extreu els títols del DVD amb el K3b
Name[cs]=Ripovat pomocí K3b titulky video DVD
Name[csb]=Zgrôj video DVD z pòmòcą K3b
Name[da]=Rip video-dvd-titler med K3b
Name[de]=DVD-Titel mit K3b auslesen
Name[el]=Εξαγωγή τίτλων DVD με το K3b
Name[en_GB]=Rip Video DVD Titles with K3b
Name[eo]=Ekstrakti Video-DVD titolojn per K3b
Name[es]=Extraer títulos de un video DVD con K3b
Name[et]=Ripi video-DVD tiitlid K3b abil
Name[eu]=Erauzi bideo DVD tituluak K3b erabiliz
Name[fi]=Kopioi DVD-nimikkeitä K3b:llä
Name[fr]=Extraire les titres d'un DVD vidéo avec K3b
Name[ga]=Srac Teidil DVD Físe le K3b
Name[gl]=Extraer os títulos dun DVD de vídeo con K3b
Name[he]=קריעת כותר וידאו DVD עם K3b
Name[hne]=के3बी के साथ वीडियो डीवीडी रिप करव....
Name[hsb]=Dźěle widejo-DVDki z K3b ekstrahować
Name[hu]=Video DVD-címek beolvasása a K3b-vel
Name[ia]=Extrahe titulos de DVD Video con K3b
Name[id]=Rabit Judul-judul Video DVD pakai K3b
Name[is]=Rippa titla af DVD mynddiski með K3b
Name[it]=Estrai i titoli DVD video con K3b
Name[ja]=K3b で DVD タイトルを吸い出し
Name[kk]=K3b-мен Видео DVD бөлімдерін оқып алу
Name[km]=បម្លែង​​ចំណងជើង​ឌីវីឌី​វីដេអូ​ដោយ​ប្រើ K3b
Name[ko]=K3b로 비디오 DVD 타이틀 추출하기
Name[lt]=Kopijuoti video DVD Antraštes su K3b
Name[lv]=Izvilkt Video DVD virsrakstus ar K3b
Name[mr]=के3बी वापरून व्हिडीओ डिव्हीडी रिप करा 
Name[nb]=Lag kopi av video-DVD titler med K3b
Name[nds]=Video-DVD-Stücken mit K3b utlesen
Name[ne]=केथ्रीबीमा भिडियो डीभीडी शीर्षक रिप गर्नुहोस्
Name[nl]=Video-dvd-titels rippen met K3b
Name[nn]=Ta opp video-DVD med K3b
Name[pa]=K3b ਨਾਲ ਵੀਡੀਓ DVD ਟਾਇਟਲ ਰਿਪ ਕਰੋ
Name[pl]=Zgraj filmy z płyty DVD Video za pomocą K3b
Name[pt]=Extrair os Títulos do DVD de Vídeo com o K3b
Name[pt_BR]=Extrair títulos do DVD de vídeo com o K3b
Name[ro]=Extrage titluri de pe DVD video cu K3b
Name[ru]=Считать разделы Video DVD, используя K3b
Name[sk]=Ripovať tituly Video DVD pomocou K3b
Name[sl]=Zajemi video DVD s K3b
Name[sq]=Kopjo Tituj të Video DVD me K3b
Name[sr]=Ишчупај наслове са видео ДВД‑а К3бом
Name[sr@ijekavian]=Ишчупај наслове са видео ДВД‑а К3бом
Name[sr@ijekavianlatin]=Iščupaj naslove sa video DVD‑a K3bom
Name[sr@latin]=Iščupaj naslove sa video DVD‑a K3bom
Name[sv]=Lagra dvd-titlar med K3b
Name[th]=ดึงข้อมูลวิดีโอจากแผ่นดีวีดีด้วย K3b
Name[tr]=K3b ile Video DVD Başlıklarını Aktar
Name[uk]=Видерти відео DVD з K3b
Name[x-test]=xxRip Video DVD Titles with K3bxx
Name[zh_CN]=用 K3b 提取视频 DVD
Name[zh_TW]=用 K3b 擷取影像 DVD 標題
Exec=k3b --videodvdrip %i
Icon=k3b
