[Desktop Entry]
ServiceTypes=KonqPopupMenu/Plugin;media/dvdrom_unmounted;media/dvdwriter_unmounted;media/dvdvideo;
Actions=K3bDVDCopy;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action K3bDVDCopy]
Name=Copy DVD with K3b
Name[nl]=DVD kopiëren met K3b
Name[sv]=Kopiera dvd med K3b
Name[uk]=Скопіювати DVD через K3b
Name[x-test]=xxCopy DVD with K3bxx
Exec=k3b --copy %u
Icon=k3b
