[Desktop Entry]
Type=Service
Actions=CreateK3bAudioProject;
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin
MimeType=audio/*;

[Desktop Action CreateK3bAudioProject]
Exec=k3b --audiocd %F
Name=Create Audio CD with K3b
Icon=k3b
