[Desktop Entry]
Actions=CreateK3bDataProject;
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
ExcludeServiceTypes=application/x-iso;

[Desktop Action CreateK3bDataProject]
Exec=k3b --data %F
Name=Create file project with K3b
Name[cs]=Vytvořit pomocí K3b souborový projekt...
Name[csb]=Ùsôdzë lopkòwi projekt z pòmòca K3b
Name[da]=Opret filprojekt med K3b
Name[de]=Daten-CD mit K3b erstellen
Name[en_GB]=Create file project with K3b
Name[et]=Loo failiprojekt K3b abil
Name[fr]=Créer un projet de fichiers avec K3b
Name[nb]=Lag filprosjekt med K3b
Name[pt]=Criar um projecto de ficheiros com o K3b
Name[pt_BR]=Criar um projeto de arquivos com o K3b
Name[ro]=Creează proiect de fișiere cu K3b
Name[sv]=Skapa filprojekt med K3b
Name[uk]=Створити файловий проект за допомогою K3b
Name[x-test]=xxCreate file project with K3bxx
Icon=k3b
