[Desktop Entry]
Type=Service
Actions=WriteCdImage;
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-cue;

[Desktop Action WriteCdImage]
Exec=k3b --image %F
Name=Write CD Image with K3b
Name[csb]=Zapiszë òbrôz CD z pòmòcą K3b
Name[da]=Brænd cd-image-fil med K3b
Name[de]=CD-Abbild mit K3b brennen
Name[en_GB]=Write CD Image with K3b
Name[et]=Kirjuta CD-tõmmis K3b abil plaadile
Name[fr]=Graver une image de CD avec K3b
Name[nb]=Skriv CD-bilde med K3b
Name[pt]=Gravar uma Imagem de CD com o K3b
Name[pt_BR]=Gravar imagem de CD com o K3b
Name[sv]=Skriv cd-avbild med K3b
Name[uk]=Записати штамп КД через K3b
Name[x-test]=xxWrite CD Image with K3bxx
Icon=k3b
