[Desktop Entry]
Type=Service
Actions=WriteCdImage;
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-cue;

[Desktop Action WriteCdImage]
Exec=k3b --image %F
Name=Write CD Image with K3b
Name[ca]=Escriu imatge de CD amb el K3b
Name[ca@valencia]=Escriu imatge de CD amb el K3b
Name[cs]=Vypálit pomocí K3b obraz CD...
Name[csb]=Zapiszë òbrôz CD z pòmòcą K3b
Name[da]=Brænd cd-image-fil med K3b
Name[de]=CD-Abbild mit K3b brennen
Name[en_GB]=Write CD Image with K3b
Name[es]=Crear imagen de CD con K3b
Name[et]=Kirjuta CD-tõmmis K3b abil plaadile
Name[fr]=Graver une image de CD avec K3b
Name[he]=צרוב תמונת תקליטור CD עם K3b
Name[hu]=CD-képmásfájl írása a K3b-vel
Name[it]=Scrivi immagine CD con K3b
Name[nb]=Skriv CD-bilde med K3b
Name[nds]=CD-Afbild mit K3b schrieven
Name[nl]=Cd-image schrijven met K3b
Name[pt]=Gravar uma Imagem de CD com o K3b
Name[pt_BR]=Gravar imagem de CD com o K3b
Name[ro]=Scrie imagine CD cu K3b
Name[ru]=Записать образ CD, используя K3b
Name[sl]=Zapiši sliko CD-ja s K3b
Name[sr]=Упиши одраз ЦД‑а К3бом...
Name[sr@ijekavian]=Упиши одраз ЦД‑а К3бом...
Name[sr@ijekavianlatin]=Upiši odraz CD‑a K3bom...
Name[sr@latin]=Upiši odraz CD‑a K3bom...
Name[sv]=Skriv cd-avbild med K3b
Name[th]=เขียนแฟ้มอิมเมจของแผ่นซีดีด้วย K3b
Name[uk]=Записати штамп КД через K3b
Name[x-test]=xxWrite CD Image with K3bxx
Icon=k3b
