[Desktop Entry]
X-KDE-Solid-Predicate=[StorageVolume.ignored == false AND OpticalDisc.blank == true]
Actions=K3bDataProject;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action K3bDataProject]
Exec=k3b --device %i --data
Name=Create file project with K3b
Name[ca]=Crea un fitxer de projecte amb el K3b
Name[ca@valencia]=Crea un fitxer de projecte amb el K3b
Name[cs]=Vytvořit pomocí K3b souborový projekt...
Name[pt]=Criar um projecto de ficheiros com o K3b
Name[sv]=Skapa filprojekt med K3b
Name[uk]=Створити файловий проект за допомогою K3b
Name[x-test]=xxCreate file project with K3bxx
Icon=k3b
