[Desktop Entry]
Type=Service
Actions=WriteCdImage;
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-cue;

[Desktop Action WriteCdImage]
Exec=k3b --image %F
Name=Write CD Image with K3b
Name[ar]=اكتب صورة الاسطوانة ب‍«كي3بي»
Name[bg]=Запис на CD-образ с K3b
Name[bs]=Upiši sliku CDa K3bom
Name[ca]=Escriu una imatge de CD amb el K3b
Name[ca@valencia]=Escriu una imatge de CD amb el K3b
Name[cs]=Vypálit pomocí K3b obraz CD...
Name[csb]=Zapiszë òbrôz CD z pòmòcą K3b
Name[da]=Brænd cd-image-fil med K3b
Name[de]=CD-Abbild mit K3b brennen
Name[el]=Εγγραφή εικόνας CD με το K3b
Name[en_GB]=Write CD Image with K3b
Name[eo]=Skribi KD dosierkopion per K3b...
Name[es]=Grabar imagen de CD con K3b
Name[et]=Kirjuta CD-tõmmis K3b abil plaadile
Name[eu]=Idatzi CD irudia K3b erabiliz
Name[fi]=Polta CD-levykuva K3b:llä…
Name[fr]=Graver une image de CD avec K3b
Name[gl]=Escribir unha imaxe de CD co K3b
Name[he]=צרוב תמונת תקליטור CD עם K3b
Name[hr]=Zapiši presliku CD-a pomoću K3b-a
Name[hu]=CD-képmásfájl írása a K3b-vel
Name[ia]=Scribe image CD con K3b
Name[id]=Tulis CD Citra dengan K3b
Name[is]=Skrifa CD diskmynd með K3b
Name[it]=Scrivi immagine CD con K3b
Name[ja]=K3b で CD イメージを書き込み
Name[kk]=K3b-мен CD диск-бейнесін жазып алу
Name[km]=សរសេរ​រូបភាព​ស៊ីឌី​ដោយ​ប្រើ K3b
Name[ko]=K3b로 CD 이미지 쓰기
Name[lt]=Rašyti CD atvaizdą su K3b
Name[lv]=Rakstīt CD attēlu ar K3b
Name[mr]=के3बी वापरून CD प्रतिमा लिहा
Name[nb]=Skriv CD-bilde med K3b
Name[nds]=CD-Afbild mit K3b schrieven
Name[nl]=Cd-image schrijven met K3b
Name[nn]=Brenn CD-bilete med K3b
Name[pa]=K3b ਨਾਲ CD ਈਮੇਜ਼ ਲਿਖੋ
Name[pl]=Zapisz obraz płyty CD za pomocą K3b
Name[pt]=Gravar uma Imagem de CD com o K3b
Name[pt_BR]=Gravar imagem de CD com o K3b
Name[ro]=Scrie imagine CD cu K3b
Name[ru]=Записать образ CD, используя K3b
Name[sk]=Zapísať obraz CD pomocou K3b
Name[sl]=Zapiši sliko CD-ja s K3b
Name[sr]=Упиши одраз ЦД‑а К3бом
Name[sr@ijekavian]=Упиши одраз ЦД‑а К3бом
Name[sr@ijekavianlatin]=Upiši odraz CD‑a K3bom
Name[sr@latin]=Upiši odraz CD‑a K3bom
Name[sv]=Skriv cd-avbild med K3b
Name[th]=เขียนแฟ้มอิมเมจของแผ่นซีดีด้วย K3b
Name[tr]=K3b ile CD Kalıbı Yazdır
Name[uk]=Записати штамп КД через K3b
Name[x-test]=xxWrite CD Image with K3bxx
Name[zh_CN]=用 K3b 刻录 CD 镜像
Name[zh_TW]=用 K3b 寫入 CD 映像檔
Icon=k3b
