[Desktop Entry]
X-KDE-Solid-Predicate=[StorageVolume.ignored == false AND OpticalDisc.availableContent == 'Audio']
Actions=K3bRip;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action K3bRip]
Name=Extract Digital Audio with K3b
Name[uk]=Витягти цифрове аудіо через K3b
Name[x-test]=xxExtract Digital Audio with K3bxx
Exec=k3b --cddarip %i
Icon=k3b
