[Desktop Entry]
Type=Service
Actions=CreateK3bVcdProject;
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/mpeg;

[Desktop Action CreateK3bVcdProject]
Exec=k3b --videocd %F
Name=Create Video CD with K3b
Name[cs]=Vytvořit pomocí K3b video CD...
Name[sv]=Skapa video-cd med K3b
Name[x-test]=xxCreate Video CD with K3bxx
Icon=k3b
