[Desktop Entry]
X-KDE-Solid-Predicate=[[StorageVolume.ignored == false AND OpticalDisc.blank == true ] AND [OpticalDisc.discType == 'CdRecordable' OR OpticalDisc.discType == 'CdRewritable']]
Actions=K3bAudioCDProject;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action K3bAudioCDProject]
Exec=k3b --device %i --audiocd
Name=Create Audio CD with K3b
Name[ar]=أنشئ اسطوانة صوتيّة ب‍«كي3بي»
Name[bg]=Създаване на звуково CD с K3b...
Name[bs]=Napravi audio CD K3bom
Name[ca]=Crea un CD d'àudio amb el K3b
Name[ca@valencia]=Crea un CD d'àudio amb el K3b
Name[cs]=Vytvořit pomocí K3b zvukové CD...
Name[csb]=Ùsôdzë CD audio z pòmòcą K3b
Name[da]=Opret lyd-cd med K3b
Name[de]=Audio-CD mit K3b erstellen
Name[el]=Δημιουργία CD ήχου με το K3b
Name[en_GB]=Create Audio CD with K3b
Name[es]=Crear un CD de audio con K3b
Name[et]=Kirjuta audio-CD K3b abil
Name[eu]=Sortu Audio CDa K3b erabiliz
Name[fi]=Luo ääni-CD K3b:llä…
Name[fr]=Créer un CD audio avec K3b
Name[gl]=Crear un CD de son co K3b
Name[he]=צור תקליטור שמע CD עם K3b
Name[hr]=Napravi audio CD pomoću K3b-a
Name[hu]=Hang-CD létrehozása a K3b-vel
Name[ia]=Crea audio CD con K3b
Name[id]=Ciptakan Audio CD dengan K3b
Name[is]=Búa til CD hljóðdisk með K3b
Name[it]=Crea CD audio con K3b
Name[ja]=K3b でオーディオ CD を作成
Name[kk]=Аудио CD-ні K3b-мен жасау
Name[km]=បង្កើត​ស៊ីឌី​អូឌីយ៉ូ​ដោយ​ប្រើ K3b
Name[ko]=K3b로 오디오 CD 만들기
Name[lt]=Kurti audio CD su K3b
Name[lv]=Izveidot audio CD ar K3b
Name[mr]=के3बी वापरून ऑडिओ CD तयार करा
Name[nb]=Lag lyd-CD med K3b
Name[nds]=Klang-CD mit K3b opstellen
Name[nl]=Audio-cd aanmaken met K3b
Name[nn]=Lag lyd-CD med K3b
Name[pl]=Utwórz płytę CD Audio za pomocą K3b
Name[pt]=Criar um CD de Áudio com o K3b
Name[pt_BR]=Criar CD de áudio com o K3b
Name[ro]=Creează disc audio cu K3b
Name[ru]=Записать Audio CD, используя K3b
Name[sk]=Vytvoriť zvukové CD pomocou K3b
Name[sl]=Ustvari zvočni CD s K3b
Name[sr]=Направи аудио ЦД К3бом
Name[sr@ijekavian]=Направи аудио ЦД К3бом
Name[sr@ijekavianlatin]=Napravi audio CD K3bom
Name[sr@latin]=Napravi audio CD K3bom
Name[sv]=Skapa ljud-cd med K3b
Name[th]=สร้างแผ่นซีดีเสียงด้วย K3b
Name[tr]=K3b ile Ses CD'si Oluştur
Name[uk]=Створити аудіо-КД через K3b
Name[x-test]=xxCreate Audio CD with K3bxx
Name[zh_CN]=用 K3b 创建音频 CD
Name[zh_TW]=用 K3b 建立音效 CD
Icon=k3b
