[Desktop Entry]
X-KDE-Solid-Predicate=[[StorageVolume.ignored == false AND OpticalDisc.blank == true ] AND [OpticalDisc.discType == 'CdRecordable' OR OpticalDisc.discType == 'CdRewritable']]
Actions=K3bAudioCDProject;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action K3bAudioCDProject]
Exec=k3b --device %i --audiocd
Name=Create Audio CD with K3b
Name[en_GB]=Create Audio CD with K3b
Name[pt]=Criar um CD de Áudio com o K3b
Name[pt_BR]=Criar CD de áudio com o K3b
Name[sv]=Skapa ljud-cd med K3b
Name[uk]=Створити аудіо-КД через K3b
Name[x-test]=xxCreate Audio CD with K3bxx
Icon=k3b
