[Desktop Entry]
ServiceTypes=KonqPopupMenu/Plugin;media/dvdrom_unmounted;media/dvdwriter_unmounted;media/dvdvideo;
Actions=K3bDVDCopy;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action K3bDVDCopy]
Name=Copy DVD with K3b
Name[ca]=Copia un DVD amb el K3b
Name[cs]=Kopírovat DVD pomocí K3b
Name[da]=Kopiér dvd med K3b
Name[ga]=Cóipeáil DVD le K3b
Name[ja]=K3b で DVD をコピー...
Name[nb]=Kopier DVD med K3b
Name[nds]=DVD mit K3b koperen
Name[nl]=DVD kopiëren met K3b
Name[nn]=Kopier DVD med K3b
Name[pt_BR]=Copiar DVD com o K3b
Name[sk]=Kopírovať DVD pomocou K3b
Name[sr]=Копирај ДВД К3бом
Name[sr@ijekavian]=Копирај ДВД К3бом
Name[sr@ijekavianlatin]=Kopiraj DVD K3bom
Name[sr@latin]=Kopiraj DVD K3bom
Name[sv]=Kopiera dvd med K3b
Name[uk]=Скопіювати DVD через K3b
Name[x-test]=xxCopy DVD with K3bxx
Name[zh_TW]=用 K3b 複製 DVD
Exec=k3b --copy %u
Icon=k3b
