[Desktop Entry]
X-KDE-Solid-Predicate=OpticalDisc.availableContent & 'Audio|Data|VideoDvd'
Actions=K3bCopy;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action K3bCopy]
Name=Copy with K3b
Name[cs]=Kopírovat pomocí K3b
Name[sv]=Kopiera med K3b
Name[x-test]=xxCopy with K3bxx
Exec=k3b --copy %i
Icon=k3b
