[Desktop Entry]
Type=Service
Actions=WriteCdImage;
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-iso;application/x-cd-image;inode/ISO-image;

[Desktop Action WriteCdImage]
Exec=k3b --image %F
Name=Write image to disc with K3b
Name[cs]=Vypálit pomocí K3b obraz na disk...
Name[csb]=Zapiszë òbrôz na disk z pòmòcą K3b
Name[da]=Brænd image-fil til disk med K3b
Name[de]=Abbild mit K3b brennen
Name[en_GB]=Write image to disc with K3b
Name[et]=Kirjuta tõmmis K3b abil plaadile
Name[fr]=Écrire une image sur le disque avec K3b
Name[nb]=Skriv bilde til harddisk med K3b
Name[pt]=Gravar uma imagem no disco com o K3b
Name[pt_BR]=Gravar imagem para disco com o K3b
Name[sv]=Skriv avbild till skiva med K3b
Name[uk]=Записати штамп на диск за допомогою K3b
Name[x-test]=xxWrite image to disc with K3bxx
Icon=k3b
