[Desktop Entry]
X-KDE-Solid-Predicate=OpticalDisc.availableContent & 'Audio|Data|VideoDvd'
Actions=K3bCopy;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action K3bCopy]
Name=Copy with K3b
Exec=k3b --copy %i
Icon=k3b
