[Desktop Entry]
ServiceTypes=KonqPopupMenu/Plugin;media/dvdrom_unmounted;media/dvdwriter_unmounted;media/dvdvideo;
Actions=K3bDVDCopy;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action K3bDVDCopy]
Name=Copy DVD with K3b
Name[ar]=انسخ دي‌ڤي‌دي ب‍«كي3بي»
Name[bg]=Копиране на DVD с K3b
Name[bs]=Kopiraj DVD programom K3B
Name[ca]=Copia un DVD amb el K3b
Name[ca@valencia]=Copia un DVD amb el K3b
Name[cs]=Kopírovat DVD pomocí K3b
Name[csb]=Kòpiérëjë DVD z pòmòcą K3b
Name[da]=Kopiér dvd med K3b
Name[de]=DVD mit K3b kopieren
Name[el]=Αντιγραφή DVD με το K3b
Name[en_GB]=Copy DVD with K3b
Name[eo]=Kopii DVD per K3b
Name[es]=Copiar DVD con K3b
Name[et]=Kopeeri DVD K3b abil
Name[eu]=Kopiatu DVDa K3b erabiliz
Name[fi]=Kopioi DVD K3b:llä
Name[fr]=Copier un DVD avec K3b
Name[ga]=Cóipeáil DVD le K3b
Name[gl]=Copiar un DVD co K3b
Name[he]=העתק DVD עם K3b
Name[hne]=के३बी के साथ डीवीडी नकल बनाव
Name[hr]=Kopiraj DVD pomoću K3b-a
Name[hsb]=DVD z K3b kopěrować
Name[hu]=DVD-másolás a K3b-vel
Name[ia]=Copia DVD con K3b
Name[id]=Salin DVD dengan K3b
Name[is]=Afrita DVD mynddisk með K3b
Name[it]=Copia DVD con K3b
Name[ja]=K3b で DVD をコピー
Name[kk]=K3b-мен DVD-ні көшіріп алу
Name[km]=ចម្លង​ឌីវីឌីដោយ​ប្រើ K3b
Name[ko]=K3b로 DVD 복사하기
Name[lt]=Kopijuoti DVD su K3b
Name[lv]=Kopēt DVD ar K3b
Name[mr]=के3बी वापरून डीव्हीडीची प्रत करा
Name[nb]=Kopier DVD med K3b
Name[nds]=DVD mit K3b koperen
Name[ne]=केथ्रीबीसँग डीभीडी प्रतिलिपि गर्नुहोस्
Name[nl]=DVD kopiëren met K3b
Name[nn]=Kopier DVD med K3b
Name[pa]=K3b ਨਾਲ DVD ਕਾਪੀ ਕਰੋ
Name[pl]=Skopiuj DVD za pomocą K3b
Name[pt]=Copiar o DVD com o K3b
Name[pt_BR]=Copiar DVD com o K3b
Name[ro]=Copiază DVD cu K3b
Name[ru]=Копировать DVD, используя K3b...
Name[sk]=Kopírovať DVD pomocou K3b
Name[sl]=Kopiraj DVD s K3b
Name[sq]=Kopjo DVD me K3b
Name[sr]=Копирај ДВД К3бом
Name[sr@ijekavian]=Копирај ДВД К3бом
Name[sr@ijekavianlatin]=Kopiraj DVD K3bom
Name[sr@latin]=Kopiraj DVD K3bom
Name[sv]=Kopiera dvd med K3b
Name[th]=คัดลอกแผ่นดีวีดีด้วย K3b
Name[tr]=K3b ile DVD Kopyala
Name[uk]=Скопіювати DVD через K3b
Name[x-test]=xxCopy DVD with K3bxx
Name[zh_CN]=用 K3b 复制 DVD
Name[zh_TW]=用 K3b 複製 DVD
Exec=k3b --copy %u
Icon=k3b
