[Desktop Entry]
Actions=CreateK3bDataProject;
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/octet-stream;inode/directory;
ExcludeServiceTypes=application/x-cd-image

[Desktop Action CreateK3bDataProject]
Exec=k3b --data %F
Name=Create file project with K3b
Icon=k3b
