[Desktop Entry]
Type=Service
Actions=CreateK3bAudioProject;
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin
MimeType=audio/*;

[Desktop Action CreateK3bAudioProject]
Exec=k3b --audiocd %F
Name=Create Audio CD with K3b
Name[ca]=Crea un CD d'àudio amb el K3b
Name[ca@valencia]=Crea un CD d'àudio amb el K3b
Name[cs]=Vytvořit pomocí K3b zvukové CD...
Name[it]=Crea CD audio con K3b
Name[nl]=Audio-cd aanmaken met K3b
Name[pt]=Criar um CD de Áudio com o K3b
Name[sv]=Skapa ljud-cd med K3b
Name[uk]=Створити аудіо-КД через K3b
Name[x-test]=xxCreate Audio CD with K3bxx
Icon=k3b
