[Desktop Entry]
Type=Service
Actions=CreateK3bAudioProject;
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin
MimeType=audio/*;

[Desktop Action CreateK3bAudioProject]
Exec=k3b --audiocd %F
Name=Create Audio CD with K3b
Name[da]=Opret lyd-cd med K3b
Name[en_GB]=Create Audio CD with K3b
Name[pt]=Criar um CD de Áudio com o K3b
Name[pt_BR]=Criar CD de áudio com o K3b
Name[sv]=Skapa ljud-cd med K3b
Name[uk]=Створити аудіо-КД через K3b
Name[x-test]=xxCreate Audio CD with K3bxx
Icon=k3b
