[Desktop Entry]
X-KDE-Solid-Predicate=[StorageVolume.ignored == false AND OpticalDisc.blank == true]
Actions=K3bDataProject;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action K3bDataProject]
Exec=k3b --device %i --data
Name=Create file project with K3b
Name[ca]=Crea un fitxer de projecte amb el K3b
Name[ca@valencia]=Crea un fitxer de projecte amb el K3b
Name[cs]=Vytvořit pomocí K3b souborový projekt...
Name[da]=Opret filprojekt med K3b
Name[de]=Daten-Medium mit K3b erstellen
Name[en_GB]=Create file project with K3b
Name[nb]=Lag filprosjekt med K3b
Name[nds]=Dateiprojekt mit K3b opstellen
Name[nl]=Bestandsproject aanmaken met K3b
Name[nn]=Lag filprosjekt med K3b
Name[pt]=Criar um projecto de ficheiros com o K3b
Name[pt_BR]=Criar um projeto de arquivos com o K3b
Name[ru]=Создать проект, используя K3b
Name[sk]=Vytvoriť súborový projekt pomocou K3b
Name[sr]=Направи пројекат фајлова К3бом...
Name[sr@ijekavian]=Направи пројекат фајлова К3бом...
Name[sr@ijekavianlatin]=Napravi projekat fajlova K3bom...
Name[sr@latin]=Napravi projekat fajlova K3bom...
Name[sv]=Skapa filprojekt med K3b
Name[uk]=Створити файловий проект за допомогою K3b
Name[x-test]=xxCreate file project with K3bxx
Name[zh_TW]=用 K3b 建立檔案專案
Icon=k3b
