[Desktop Entry]
Name=K3b ??? Decoder
Name[x-test]=xxK3b ??? Decoderxx
Comment=Decoding module to decode ??? files
Comment[x-test]=xxDecoding module to decode ??? filesxx
Type=Service
X-KDE-ServiceTypes=K3b/Plugin

X-KDE-Library=<name>
X-KDE-PluginInfo-Name=<name>
X-KDE-PluginInfo-Author=???
X-KDE-PluginInfo-Email=???
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=???
X-KDE-PluginInfo-Category=AudioDecoder

