[Desktop Entry]
Name=K3b ??? Decoder
Name[bg]=??? декодер (K3b)
Name[cs]=K3b ??? dekodér
Name[csb]=Dekòder ??? dlô K3b
Name[da]=K3b ???-dekoder
Name[de]=K3b-???-Dekoder
Name[el]=Αποκωδικοποιητής ??? του K3b
Name[en_GB]=K3b ??? Decoder
Name[es]=Descodificador ??? de K3b
Name[et]=K3b ??? dekodeerija
Name[eu]=K3b ??? dekodetzailea
Name[fr]=Décodeur ??? pour K3b
Name[ga]=Díchódóir ??? K3b
Name[gl]=Descodificador ??? para K3b
Name[he]=מפענח ??? של K3b
Name[hne]=के3बी ??? डिकोडर
Name[hu]=???-dekódoló a K3b-hez
Name[it]=Decodificatore ??? di K3b
Name[ja]=K3b ??? デコーダ
Name[km]=កម្មវិធី​ឌិកូដ ??? របស់ K3b
Name[ko]=K3b ??? 디코더
Name[lv]=K3b ??? dekoderis
Name[nb]=K3b ??? Decoder
Name[nds]=???-Dekoderer för K3b
Name[nl]=K3b ???-decoder
Name[pa]=K3b ??? ਡੀਕੋਡਰ
Name[pl]=Dekoder ??? dla K3b
Name[pt]=Descodificador ??? do K3b
Name[pt_BR]=Decodificador ??? do K3b
Name[ro]=Decodor K3b ???
Name[ru]=Декодер ???
Name[sl]=K3b-jev dekodirnik ???
Name[sv]=K3b ???-avkodare
Name[th]=K3b - ตัวถอดรหัส ???
Name[tr]=K3b ??? Kod Çözücü
Name[uk]=Декодер ??? для K3b
Name[x-test]=xxK3b ??? Decoderxx
Name[zh_CN]=K3b ??? 解码器
Name[zh_TW]=K3b ??? 解碼器
Comment=Decoding module to decode ??? files
Comment[bg]=Декодер за ??? файлове
Comment[cs]=Modul pro dekódování souborů ???
Comment[csb]=Mòdul dekòdërëjący lopczi ???
Comment[da]=Dekodermodul til dekodning af ???-filer
Comment[de]=Dekodierungsmodul für ???-Dateien
Comment[el]=Άρθρωμα αποκωδικοποίησης αρχείων ???
Comment[en_GB]=Decoding module to decode ??? files
Comment[es]=Módulo de decodificación para descodificar archivos ???
Comment[et]=??? failide dekodeerimise moodul
Comment[eu]=??? fitxategiak dekodetzeko dekodetze modulua
Comment[fr]=Module pour décoder les fichiers ???
Comment[ga]=Modúl díchódaithe a dhíchódaíonn comhaid ???
Comment[gl]=Módulo de descodificación de ficheiros ???
Comment[he]=מודול המפענח קבצי ???
Comment[hne]=??? फाइल ल डिकोड करे बर डिकोडिंग माड्यूल
Comment[hu]=Dekódolómodul ???-fájlok dekódolásához
Comment[it]=Decodifica modulare dei file ???
Comment[ja]=??? ファイルをデコードするモジュール
Comment[km]=ម៉ូឌុល​ឌិកូដ ដែលត្រូវ​ឌិកូដ​ឯកសារ ???
Comment[ko]=??? 파일 디코딩 모듈
Comment[lv]=Dekodēšanas modelis ??? failiem
Comment[nb]=Modul som dekoder ??? filer
Comment[nds]=Dekodeermoduul för "???"-Dateien
Comment[nl]=Module voor het decoderen van ???-bestanden
Comment[pl]=Moduł dekodujący pliki ???
Comment[pt]=Módulo de descodificação de ficheiros ???
Comment[pt_BR]=Módulo de decodificação para decodificar arquivos ???
Comment[ro]=Modul de decodare pentru decodarea fișierelor ???
Comment[ru]=Модуль декодирования файлов ???
Comment[sl]=Dekodirni modul za dekodiranje datotek ???
Comment[sv]=Avkodningsmodul för att avkoda ???-filer
Comment[th]=มอดูลถอดรหัสแฟ้มประเภท ???
Comment[tr]=??? dosyalarının kodlarını çözen kod çözme modülü
Comment[uk]=Модуль декодування файлів ???
Comment[x-test]=xxDecoding module to decode ??? filesxx
Comment[zh_CN]=用于解码 ??? 文件的解码模块
Comment[zh_TW]=解碼 ??? 檔案的模組
Type=Service
X-KDE-ServiceTypes=K3b/Plugin

X-KDE-Library=<name>
X-KDE-PluginInfo-Name=<name>
X-KDE-PluginInfo-Author=???
X-KDE-PluginInfo-Email=???
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=???
X-KDE-PluginInfo-Category=AudioDecoder

