[Desktop Entry]
Name=K3b Libsndfile Decoder
Name[uk]=Декодер Libsndfile для K3b
Name[x-test]=xxK3b Libsndfile Decoderxx
Comment=Decoding module to decode audio files supported by libsndfile
Comment[uk]=Модуль декодування звукових файлів, що підтримується libsndfile
Comment[x-test]=xxDecoding module to decode audio files supported by libsndfilexx
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3blibsndfiledecoder
X-KDE-PluginInfo-Name=k3blibsndfiledecoder
X-KDE-PluginInfo-Author=Matthieu Bedouet
X-KDE-PluginInfo-Email=mbedouet@no-log.org
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioDecoder
X-KDE-PluginInfo-EnabledByDefault=true
