[Desktop Entry]
Name=K3b Libsndfile Decoder
Name[cs]=Libsndfile dekodér K3b
Name[csb]=Dekòder Libsndfile dlô K3b
Name[da]=K3b Libsndfile-dekoder
Name[de]=K3b-Libsndfile-Dekoder
Name[el]=Αποκωδικοποιητής Libsndfile του K3b
Name[es]=Descodificador Libsndfile de K3b
Name[et]=K3b Libsndfile dekodeerija
Name[eu]=K3b libsndfile dekodetzailea
Name[fi]=K3b:n libsndfile-purkaja
Name[fr]=Décodeur Libsndfile pour K3b
Name[ga]=Díchódóir Libsndfile K3b
Name[gl]=Descodificador Libsndfile para K3b
Name[he]=מפענח libsndfile של K3b
Name[hne]=के3बी लिबसेंडफाइल डिकोडर
Name[it]=Name=Decodificatore Libsndfile di K3b
Name[ja]=K3b Libsndfile デコーダ
Name[km]=កម្មវិធី​ឌិកូដ Libsndfile របស់ K3b
Name[ko]=K3b Libsndfile 디코더
Name[lv]=K3b Libsndfile dekoderis
Name[nb]=K3b Libsndfile-dekoder
Name[nds]=Libsndfile-Dekoderer för K3b
Name[nl]=K3b Libsndfile-decoder
Name[pa]=K3b Libsndfile ਡੀਕੋਡਰ
Name[pl]=Dekoder Libsndfile dla K3b
Name[pt]=Descodificador da Libsndfile do K3b
Name[pt_BR]=Decodificador Libsndfile do K3b
Name[ro]=Decodor K3b Libsndfile
Name[ru]=Декодер Libsndfile
Name[sl]=K3b-jev dekodirnik Libsndfile
Name[sv]=K3b libsndfile-avkodare
Name[th]=K3b - ตัวถอดรหัส Libsndfile
Name[tr]=K3b Libsndfile Kod Çözücü
Name[uk]=Декодер Libsndfile для K3b
Name[x-test]=xxK3b Libsndfile Decoderxx
Name[zh_CN]=K3b Libsndfile 解码器
Name[zh_TW]=K3b Libsndfile 解碼器
Comment=Decoding module to decode audio files supported by libsndfile
Comment[cs]=Modul pro dekódování audio souborů posporovaných libsndfile
Comment[csb]=Mòdul dekòdërëjący lopczi aùdio wpiséróné przez libsndfile
Comment[da]=Dekodermodul til dekodning af filer som undersøttes af libsndfile
Comment[de]=Dekodierungsmodul für Dateien, die von libsndfile unterstützt werden
Comment[el]=Άρθρωμα αποκωδικοποίησης αρχείων ήχου που υποστηρίζονται από τη libsndfile
Comment[es]=Módulo de decodificación para descodificar archivos de audio soportados por libsndfile
Comment[et]=Helifailide dekodeerimise moodul, mida toetab libsndfile
Comment[eu]=libsndfile-k euskarria duen fitxategiak dekodetzeko dekodetzaile modulua
Comment[fi]=Libsndfile-tiedostojen purkumoduli
Comment[fr]=Module pour décoder les fichiers audios pris en charge par libsndfile
Comment[ga]=Modúl díchódaithe a dhíchódaíonn comhaid fhuaime a dtacaíonn libsndfile leo
Comment[gl]=Módulo de descodificación de ficheiros de son soportados por libsndfile
Comment[he]=מודול המפענח קבצי שמע הנתמכים על ידי libsndfile
Comment[it]=Comment=Decodifica modulare per i file audio supportati da libsndfile
Comment[ja]=libsndfile がサポートするオーディオファイルをデコードするモジュール
Comment[km]=ម៉ូឌុល​ឌិកូដ ដែលត្រូវ​ឌិកូដ​ឯកសារ​អូឌីយ៉ូ​ដែលបាន​គាំទ្រ​ដោយ libsndfile
Comment[ko]=libsndfile이 지원하는 오디오 파일 디코딩 모듈
Comment[lv]=Dekodēšanas modulis failiem, kuri tiek atbalstīti ar libsndfile
Comment[nb]=Modul som dekoder lydfiler som har støtte i libsndfile
Comment[nds]=Dekodeermoduul för de vun "libsndfile" ünnerstütt Klangdateien
Comment[nl]=Module voor het decoderen van audiobestanden die ondersteund worden door libsndfile
Comment[pl]=Moduł dekodujący pliki audio wspierane przez libsndfile
Comment[pt]=Módulo de descodificação de ficheiros suportados pela 'libsndfile'
Comment[pt_BR]=Módulo de decodificação para decodificar arquivos de áudio suportados pela libsndfile
Comment[ro]=Modul de decodare pentru decodarea fișierelor susținute de libsndfile
Comment[ru]=Модуль декодирования файлов, поддерживаемых libsndfile
Comment[sl]=Dekodirni modul za dekodiranje zvočnih datotek, ki jih podpira libsndfile
Comment[sv]=Avkodningsmodul för att avkoda ljudfiler som stöds av libsndfile
Comment[th]=มอดูลถอดรหัสแฟ้มเสียงต่าง ๆ ที่ libsndfile รองรับ
Comment[tr]=libsndfile destekli ses dosyalarının kodlarını çözen kod çözme modülü
Comment[uk]=Модуль декодування звукових файлів, що підтримується libsndfile
Comment[x-test]=xxDecoding module to decode audio files supported by libsndfilexx
Comment[zh_CN]=用于解码被 libsndfile 支持的文件的解码模块
Comment[zh_TW]=解碼 libsndfile 支援的音效檔的模組
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3blibsndfiledecoder
X-KDE-PluginInfo-Name=k3blibsndfiledecoder
X-KDE-PluginInfo-Author=Matthieu Bedouet
X-KDE-PluginInfo-Email=mbedouet@no-log.org
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioDecoder
X-KDE-PluginInfo-EnabledByDefault=true
