[Desktop Entry]
Name=K3b Libsndfile Decoder
Name[bg]=Libsndfile декодер за K3b
Name[bs]=K3b Libsndfile Dekoder
Name[ca]=Descodificador Libsndfile del K3b
Name[ca@valencia]=Descodificador Libsndfile del K3b
Name[cs]=Libsndfile dekodér K3b
Name[csb]=Dekòder Libsndfile dlô K3b
Name[da]=K3b Libsndfile-dekoder
Name[de]=Libsndfile-Dekodierer
Name[el]=Αποκωδικοποιητής Libsndfile του K3b
Name[en_GB]=K3b Libsndfile Decoder
Name[es]=Descodificador Libsndfile de K3b
Name[et]=K3b Libsndfile dekodeerija
Name[eu]=K3b libsndfile deskodetzailea
Name[fi]=K3b:n Libsndfile-purkaja
Name[fr]=Décodeur « Libsndfile » pour K3b
Name[ga]=Díchódóir Libsndfile K3b
Name[gl]=Descodificador de libsndfile para K3b
Name[he]=מפענח libsndfile של K3b
Name[hne]=के3बी लिबसेंडफाइल डिकोडर
Name[hr]=K3b-ov dekoder Libsndfilea
Name[hu]=Libsndfile-dekódoló a K3b-hez
Name[ia]=Decifrator Libsndfile de K3b
Name[is]=K3b Libsndfile afkóðari
Name[it]=Decodificatore Libsndfile di K3b
Name[ja]=K3b Libsndfile デコーダ
Name[kk]=K3b Libsndfile декодері
Name[km]=ឌិកូឌ័រ​ Libsndfile របស់ K3b
Name[ko]=K3b Libsndfile 디코더
Name[lt]=K3b Libsndfile dekoderis
Name[lv]=K3b Libsndfile dekoderis
Name[mr]=के3बी Libsndfile डीकोडर
Name[nb]=K3b Libsndfile-dekoder
Name[nds]=Libsndfile-Dekoderer för K3b
Name[nl]=K3b Libsndfile-decoder
Name[nn]=Libsndfile-dekodar for K3b
Name[pa]=K3b Libsndfile ਡੀਕੋਡਰ
Name[pl]=Dekoder Libsndfile dla K3b
Name[pt]=Descodificador da Libsndfile do K3b
Name[pt_BR]=Decodificador Libsndfile do K3b
Name[ro]=Decodor K3b Libsndfile
Name[ru]=Декодер Libsndfile
Name[sk]=Libsndfile dekodér pre K3b
Name[sl]=K3b-jev dekodirnik Libsndfile
Name[sq]=K3b Libsndfile Dekoder
Name[sr]=libsndfile декодер за К3б
Name[sr@ijekavian]=libsndfile декодер за К3б
Name[sr@ijekavianlatin]=libsndfile dekoder za K3b
Name[sr@latin]=libsndfile dekoder za K3b
Name[sv]=K3b libsndfile-avkodare
Name[th]=K3b - ตัวถอดรหัส Libsndfile
Name[tr]=K3b Libsndfile Çözücü
Name[uk]=Декодер Libsndfile для K3b
Name[x-test]=xxK3b Libsndfile Decoderxx
Name[zh_CN]=K3b Libsndfile 解码器
Name[zh_TW]=K3b Libsndfile 解碼器
Comment=Decoding module to decode audio files supported by libsndfile
Comment[ar]=وحدة فكّ ترميز لفكّ ترميز ملفّات الصّوت التي تدعمها libsndfile
Comment[bg]=Декодиране на звукови файлове, поддържани от libsndfile
Comment[bs]=Modul dekodiranja za dekodiranje audio datoteka koje podržava libsndfile
Comment[ca]=Mòdul de descodificació per a descodificar fitxers d'àudio admesos per la «libsndfile»
Comment[ca@valencia]=Mòdul de descodificació per a descodificar fitxers d'àudio admesos per la «libsndfile»
Comment[cs]=Modul pro dekódování audio souborů posporovaných libsndfile
Comment[csb]=Mòdul dekòdërëjący lopczi aùdio wpiséróné przez libsndfile
Comment[da]=Dekodermodul til dekodning af filer som understøttes af libsndfile
Comment[de]=Dekodierungsmodul für Dateien, die von libsndfile unterstützt werden
Comment[el]=Άρθρωμα αποκωδικοποίησης αρχείων ήχου που υποστηρίζονται από τη libsndfile
Comment[en_GB]=Decoding module to decode audio files supported by libsndfile
Comment[es]=Descodificando módulo para descodificar archivos de audio soportados por libsndfile
Comment[et]=Helifailide dekodeerimise moodul, mida toetab libsndfile
Comment[eu]=«libsndfile»k onartzen dituen audio fitxategiak deskodetzeko modulua
Comment[fi]=Libsndfilen tukemien tiedostojen purkumoduuli
Comment[fr]=Module de décodage pour des fichiers audio pris en charge par « libsndfile »
Comment[ga]=Modúl díchódaithe a dhíchódaíonn comhaid fhuaime a dtacaíonn libsndfile leo
Comment[gl]=Módulo de descodificación de ficheiros de son admitidos por libsndfile
Comment[he]=מודול המפענח קבצי שמע הנתמכים על ידי libsndfile
Comment[hr]=Dekoderski modul za dekodiranje audio datoteka koje podržava libsndfile
Comment[hu]=Dekódolómodul a libsndfile által támogatott hangfájlok dekódolásához
Comment[ia]=Modulo decifrante per decifrar filesaudio supportate per libsndfile
Comment[id]=Modul decoding untuk mendekode file-file audio yang didukung oleh libsndfile
Comment[it]=Decodifica modulare per i file audio supportati da libsndfile
Comment[ja]=libsndfile がサポートするオーディオファイルをデコードするモジュール
Comment[kk]=libsndfile танитын дыбыс файлдарының декодер модулі
Comment[km]=ម៉ូឌុល​ឌិកូដ សម្រាប់​​ឌិកូដ​ឯកសារ​អូឌីយ៉ូ​ដែល​​គាំទ្រ​ដោយ libsndfile
Comment[ko]=libsndfile이 지원하는 오디오 파일 디코딩 모듈
Comment[lt]=Dekodavimo modulis dekoduoti audio failus, kuriuos palaiko libsndfile
Comment[lv]=Dekodēšanas modulis failiem, kuri tiek atbalstīti ar libsndfile
Comment[mr]=libsndfile फाईल्स डीकोड करण्याकरिता डीकोडिंग विभाग
Comment[nb]=Modul som dekoder lydfiler som har støtte i libsndfile
Comment[nds]=Dekodeermoduul för de vun "libsndfile" ünnerstütt Klangdateien
Comment[nl]=Module voor het decoderen van audiobestanden die ondersteund worden door libsndfile
Comment[nn]=Modul for dekoding av lydfiler støtta av libsndfile
Comment[pl]=Moduł dekodujący pliki audio wspierane przez libsndfile
Comment[pt]=Módulo de descodificação de ficheiros suportados pela 'libsndfile'
Comment[pt_BR]=Módulo de decodificação de arquivos de áudio suportados pela libsndfile
Comment[ro]=Modul de decodare pentru decodarea fișierelor susținute de libsndfile
Comment[ru]=Модуль декодирования файлов, поддерживаемых libsndfile
Comment[sk]=Modul pre dekódovanie zvukových súborov podporovaných libsndfile
Comment[sl]=Dekodirni modul za dekodiranje zvočnih datotek, ki jih podpira libsndfile
Comment[sr]=Модул за декодирање аудио фајлова које подржава libsndfile
Comment[sr@ijekavian]=Модул за декодирање аудио фајлова које подржава libsndfile
Comment[sr@ijekavianlatin]=Modul za dekodiranje audio fajlova koje podržava libsndfile
Comment[sr@latin]=Modul za dekodiranje audio fajlova koje podržava libsndfile
Comment[sv]=Avkodningsmodul för att avkoda ljudfiler som stöds av libsndfile
Comment[th]=มอดูลถอดรหัสแฟ้มเสียงต่าง ๆ ที่ libsndfile รองรับ
Comment[tr]=libsndfile destekli ses dosyalarının kodlarını çözen kod çözme modülü
Comment[uk]=Модуль декодування звукових файлів, що підтримується libsndfile
Comment[x-test]=xxDecoding module to decode audio files supported by libsndfilexx
Comment[zh_CN]=用于解码被 libsndfile 支持的文件的解码模块
Comment[zh_TW]=解碼 libsndfile 支援的音效檔的模組
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3blibsndfiledecoder
X-KDE-PluginInfo-Name=k3blibsndfiledecoder
X-KDE-PluginInfo-Author=Matthieu Bedouet
X-KDE-PluginInfo-Email=mbedouet@no-log.org
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioDecoder
X-KDE-PluginInfo-EnabledByDefault=true
