[Desktop Entry]
Name=K3b FFMpeg Decoder
Name[ca]=Descodificador FFMpeg del K3b
Name[ca@valencia]=Descodificador FFMpeg del K3b
Name[cs]=FFMpeg dekodér K3b
Name[it]=Decodificatore FFMpeg di K3b
Name[nl]=K3b FFMpeg-decoder
Name[pt]=Descodificador de FFMpeg do K3b
Name[sv]=K3b FFMpeg-avkodare
Name[uk]=K3b декодувальник FFMpeg
Name[x-test]=xxK3b FFMpeg Decoderxx
Comment=Decoding module to decode WMA files
Comment[ca]=Mòdul de descodificació per a descodificar fitxers WMA
Comment[ca@valencia]=Mòdul de descodificació per a descodificar fitxers WMA
Comment[cs]=Modul pro dekódování souborů WMA
Comment[it]=Decodifica modulare per i file WMA
Comment[nl]=Module voor het decoderen van WMA-bestanden
Comment[pt]=Módulo de descodificação de ficheiros WMA
Comment[sv]=Avkodningsmodul för att avkoda WMA-filer
Comment[uk]=Модуль для декодування файлів WMA
Comment[x-test]=xxDecoding module to decode WMA filesxx
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3bffmpegdecoder
X-KDE-PluginInfo-Name=k3bffmpegdecoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=4.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioDecoder
X-KDE-PluginInfo-EnabledByDefault=true
