[Desktop Entry]
Name=K3b FFMpeg Decoder
Name[x-test]=xxK3b FFMpeg Decoderxx
Comment=Decoding module to decode wma files
Comment[x-test]=xxDecoding module to decode wma filesxx
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3bffmpegdecoder
X-KDE-PluginInfo-Name=k3bffmpegdecoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=4.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioDecoder
X-KDE-PluginInfo-EnabledByDefault=true
