[Desktop Entry]
Name=K3b FFMpeg Decoder
Name[bg]=FFMpeg декодер за K3b
Name[bs]=K3b FFMpeg Dekoder
Name[ca]=Descodificador FFMpeg del K3b
Name[ca@valencia]=Descodificador FFMpeg del K3b
Name[cs]=FFMpeg dekodér K3b
Name[csb]=Dekòder FFMpeg dlô K3b
Name[da]=K3b FFMpeg-dekoder
Name[de]=FFMpeg-Dekodierer
Name[el]=Αποκωδικοποιητής FFMpeg του K3b
Name[en_GB]=K3b FFMpeg Decoder
Name[es]=Descodificador FFMpeg de K3b
Name[et]=K3b FFMpeg dekodeerija
Name[eu]=K3b FFMpeg dekodetzailea
Name[fi]=K3b:n FFMpeg-purkaja
Name[fr]=Décodeur « FFmpeg » pour K3b
Name[ga]=Díchódóir FFMpeg K3b
Name[gl]=Descodificador FFMpeg para o K3b
Name[he]=מפענח FFMpeg של K3b
Name[hne]=के3बी एफएफएमपीईजी डिकोडर
Name[hr]=K3b-ov FFMpeg dekoder
Name[hu]=FFMpeg-dekódoló a K3b-hez
Name[is]=K3b FFMpeg afkóðari
Name[it]=Decodificatore FFMpeg di K3b
Name[ja]=K3b FFMpeg デコーダ
Name[kk]=K3b FFMpeg декодері
Name[km]=កម្មវីធី​ឌិកូដ​ FFMpeg របស់ K3b
Name[ko]=K3b FFMpeg 디코더
Name[lt]=K3b FFMpeg dekoderis
Name[lv]=K3b FFMpeg dekoderis
Name[mr]=के3बी FFMpeg डीकोडर
Name[nb]=K3b FFMpeg dekoder
Name[nds]=FFMpeg-Dekoderer för K3b
Name[nl]=K3b FFMpeg-decoder
Name[nn]=FFMpeg-dekodar for K3b
Name[pa]=K3b FFMpeg ਡੀਕੋਡਰ
Name[pl]=Dekoder FFMpeg dla K3b
Name[pt]=Descodificador de FFMpeg do K3b
Name[pt_BR]=Decodificador FFMpeg do K3b
Name[ro]=Decodor K3b FFMpeg
Name[ru]=Декодер FFMpeg
Name[sk]=FFMpeg dekodér pre K3b
Name[sl]=K3b-jev dekodirnik FFMpeg
Name[sr]=ФФмпег декодер за К3б
Name[sr@ijekavian]=ФФмпег декодер за К3б
Name[sr@ijekavianlatin]=FFmpeg dekoder za K3b
Name[sr@latin]=FFmpeg dekoder za K3b
Name[sv]=K3b FFMpeg-avkodare
Name[th]=K3b - ตัวถอดรหัส FFMpeg
Name[tr]=K3b FFMpeg Çözücüsü
Name[uk]=K3b декодувальник FFMpeg
Name[x-test]=xxK3b FFMpeg Decoderxx
Name[zh_CN]=K3b FFMpeg 解码器
Name[zh_TW]=K3b FFMpeg 解碼器
Comment=Decoding module to decode wma files
Comment[bg]=Декодер за wma файлове
Comment[bs]=Modul dekodiranja za dekodiranje WMA datoteke
Comment[ca]=Mòdul de descodificació per descodificar fitxers WMA
Comment[ca@valencia]=Mòdul de descodificació per descodificar fitxers WMA
Comment[cs]=Modul pro dekódování souborů wma
Comment[csb]=Mòdul dekòdërëjący lopczi wma
Comment[da]=Dekodermodul til dekodning af WMA-filer
Comment[de]=Dekodierungsmodul für WMA-Dateien
Comment[el]=Άρθρωμα αποκωδικοποίησης αρχείων wma
Comment[en_GB]=Decoding module to decode wma files
Comment[es]=Módulo de decodificación para descodificar archivos wma
Comment[et]=WMA-failide dekodeerimise moodul
Comment[eu]=WMA fitxategiak dekodetzeko dekodetze modulua
Comment[fi]=WMA-tiedostojen purkumoduuli
Comment[fr]=Module de décodage pour des fichiers au format « wma »
Comment[ga]=Modúl díchódaithe a dhíchódaíonn comhaid wma
Comment[gl]=Módulo de descodificación para descodificar ficheiros wma
Comment[he]=מודול המפענח קבצי wma
Comment[hne]=डबल्यूएमए फाइल ल डिकोड करे बर डिकोडिंग माड्यूल
Comment[hr]=Dekoderski modul za dekodiranje wma datoteka
Comment[hu]=WMA-fájlokat dekódoló modul
Comment[it]=Decodifica modulare per i file WMA
Comment[ja]=WMA ファイルをデコードするモジュール
Comment[kk]=wma файлдарының декодер модулі
Comment[km]=ម៉ូឌុល​ឌិកូដ ដែលត្រូវ​ឌិកូដ​ឯកសារ wma
Comment[ko]=WMA 파일 디코딩 모듈
Comment[lt]=Dekodavimo modulis dekoduoti wma failus
Comment[lv]=Dekodēšanas modulis wma failiem
Comment[mr]=wma फाईल्स डीकोड करण्याकरिता डीकोडिंग विभाग
Comment[nb]=Modul som dekoder wma-filer
Comment[nds]=Dekodeermoduul för "wma"-Dateien
Comment[nl]=Module voor het decoderen van wma-bestanden
Comment[nn]=Modul for dekoding av WMA-filer
Comment[pl]=Moduł dekodujący pliki wma
Comment[pt]=Módulo de descodificação de ficheiros WMA
Comment[pt_BR]=Módulo de decodificação de arquivos WMA
Comment[ro]=Modul de decodare pentru decodarea fișierelor wma
Comment[ru]=Модуль декодирования файлов WMA
Comment[sk]=Modul pre dekódovanie súborov wma
Comment[sl]=Dekodirni modul za dekodiranje datotek WMA
Comment[sr]=Модул за декодирање ВМА фајлова
Comment[sr@ijekavian]=Модул за декодирање ВМА фајлова
Comment[sr@ijekavianlatin]=Modul za dekodiranje WMA fajlova
Comment[sr@latin]=Modul za dekodiranje WMA fajlova
Comment[sv]=Avkodningsmodul för att avkoda WMA-filer
Comment[th]=มอดูลถอดรหัสแฟ้มประเภท wma
Comment[tr]=Wma dosyalarının kodlarını çözmek için çözücü modül
Comment[uk]=Модуль для декодування файлів wma
Comment[x-test]=xxDecoding module to decode wma filesxx
Comment[zh_CN]=用于解码 WMA 文件的解码模块
Comment[zh_TW]=解碼 wma 檔案格式的模組
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3bffmpegdecoder
X-KDE-PluginInfo-Name=k3bffmpegdecoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=4.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioDecoder
X-KDE-PluginInfo-EnabledByDefault=true
