[Desktop Entry]
Name=K3b Lame Mp3 Encoder
Name[x-test]=xxK3b Lame Mp3 Encoderxx
Comment=Encoding module to encode MPEG1 Layer III (mp3) files
Comment[x-test]=xxEncoding module to encode MPEG1 Layer III (mp3) filesxx
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3blameencoder
X-KDE-PluginInfo-Name=k3blameencoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=5.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioEncoder
X-KDE-PluginInfo-EnabledByDefault=true
