[Desktop Entry]
Name=K3b Lame Mp3 Encoder
Name[ca]=Codificador Mp3 Lame del K3b
Name[cs]=K3b Lame Mp3 enkodér
Name[ga]=Ionchódóir Lame MP3 K3b
Name[ja]=K3b Lame MP3 エンコーダ
Name[nb]=K3b Lame Mp3-koder
Name[nds]=Lame-Koderer för K3b
Name[nl]=K3b Lame Mp3-codeerder
Name[pt_BR]=Codificador Lame Mp3 do K3b
Name[sk]=Lame Mp3 enkodér pre K3b
Name[sr]=Лејмов МП3 кодер за К3б
Name[sr@ijekavian]=Лејмов МП3 кодер за К3б
Name[sr@ijekavianlatin]=Lameov MP3 koder za K3b
Name[sr@latin]=Lameov MP3 koder za K3b
Name[sv]=K3b Lame MP3-kodare
Name[uk]=Кодувальник Lame Mp3 для K3b
Name[x-test]=xxK3b Lame Mp3 Encoderxx
Name[zh_TW]=K3b Lame MP3 編碼器
Comment=Encoding module to encode MPEG1 Layer III (mp3) files
Comment[ca]=Mòdul de codificació per codificar fitxers MPEG 1 Layer III (mp3)
Comment[ga]=Modúl ionchódaithe a ionchódaíonn comhaid MPEG1 Sraith III (mp3)
Comment[ja]=MPEG 1 Layer III (MP3) ファイルをエンコードするモジュール
Comment[nb]=Modul som koder MPEG1 lag III (mp3)-filer
Comment[nds]=Kodeermoduul för Dateien in't Formaat "MPEG 1 Laag III" (mp3)
Comment[nl]=Module voor het coderen van  MPEG1 Layer III-bestanden (mp3)
Comment[pt_BR]=Módulo de codificação para codificar arquivos MPEG1 Layer III (mp3)
Comment[sk]=Modul pre kódovanie súborov MPEG1 Layer III (mp3)
Comment[sr]=Модул за кодирање МПЕГ‑1 фајлова слоја 3 (МП3)
Comment[sr@ijekavian]=Модул за кодирање МПЕГ‑1 фајлова слоја 3 (МП3)
Comment[sr@ijekavianlatin]=Modul za kodiranje MPEG‑1 fajlova sloja 3 (MP3)
Comment[sr@latin]=Modul za kodiranje MPEG‑1 fajlova sloja 3 (MP3)
Comment[sv]=Kodningsmodul för att koda MPEG 1 lager III (MP3)-filer
Comment[uk]=Модуль кодування файлів MPEG1 Layer III (mp3)
Comment[x-test]=xxEncoding module to encode MPEG1 Layer III (mp3) filesxx
Comment[zh_TW]=編碼 MP3 檔案格式的模組
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3blameencoder
X-KDE-PluginInfo-Name=k3blameencoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=5.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioEncoder
X-KDE-PluginInfo-EnabledByDefault=true
