[Desktop Entry]
Name=K3b Lame MP3 Encoder Config Module
Name[ca]=Mòdul de configuració del codificador MP3 Lame del K3b
Name[ca@valencia]=Mòdul de configuració del codificador MP3 Lame del K3b
Name[cs]=Ovládací modul K3b Lame formátu MP3
Name[it]=Modulo di configurazione del codificatore MP3 Lame di K3b
Name[nl]=K3b Lame MP3-codeerder Configuratiemodule
Name[pt]=Módulo de Configuração do Codificador de MP3 Lame do K3b
Name[sk]=Ovládací modul Lame MP3 enkodéra pre K3b
Name[sv]=Inställningsmodul för K3b Lame MP3-kodare
Name[uk]=Модуль налаштування кодувальника Lame MP3 K3b
Name[x-test]=xxK3b Lame MP3 Encoder Config Modulexx
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_k3blameencoder
X-KDE-ParentComponents=k3blameencoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
