[Desktop Entry]
Name=K3b Lame Mp3 Encoder Config Module
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_k3blameencoder
X-KDE-ParentComponents=k3blameencoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
