[Desktop Entry]
Name=K3b Ogg Vorbis Decoder
Name[ca]=Descodificador Ogg Vorbis del K3b
Name[cs]=Ogg Vorbis dekodér K3b
Name[ga]=Díchódóir Ogg Vorbis K3b
Name[nb]=K3b Ogg Vorbis-dekoder
Name[nds]=Ogg-Vorbis-Dekoderer för K3b
Name[nl]=K3b Ogg Vorbis-decoder
Name[nn]=Ogg Vorbis-dekodar for K3b
Name[pt_BR]=Decodificador Ogg Vorbis do K3b
Name[sk]=Ogg Vorbis dekodér pre K3b
Name[sr]=ОГГ ворбис декодер за К3б
Name[sr@ijekavian]=ОГГ ворбис декодер за К3б
Name[sr@ijekavianlatin]=OGG Vorbis dekoder za K3b
Name[sr@latin]=OGG Vorbis dekoder za K3b
Name[sv]=K3b Ogg Vorbis-avkodare
Name[uk]=Декодер Ogg Vorbis для K3b
Name[x-test]=xxK3b Ogg Vorbis Decoderxx
Name[zh_TW]=K3b Ogg Vorbis 解碼器
X-KDE-ServiceTypes=K3b/Plugin
Comment=Decoding module to decode Ogg Vorbis files
Comment[ca]=Mòdul de descodificació per descodificar fitxers Ogg Vorbis
Comment[cs]=Modul pro dekódování souborů Ogg Vorbis
Comment[ga]=Modúl díchódaithe a dhíchódaíonn comhaid Ogg Vorbis
Comment[nb]=Modul som dekoder Ogg Vorbis-filer
Comment[nds]=Dekodeermoduul för "Ogg-Vorbis"-Dateien
Comment[nl]=Module voor het decoderen van Ogg Vorbis-bestanden
Comment[nn]=Modul for dekoding av Ogg Vorbis-filer
Comment[pt_BR]=Módulo de decodificação para decodificar arquivos Ogg Vorbis
Comment[sk]=Modul pre dekódovanie súborov Ogg Vorbis
Comment[sr]=Модул за декодирање ОГГ ворбис фајлова
Comment[sr@ijekavian]=Модул за декодирање ОГГ ворбис фајлова
Comment[sr@ijekavianlatin]=Modul za dekodiranje OGG Vorbis fajlova
Comment[sr@latin]=Modul za dekodiranje OGG Vorbis fajlova
Comment[sv]=Avkodningsmodul för att avkoda Ogg Vorbis-filer
Comment[uk]=Модуль декодування файлів Ogg Vorbis
Comment[x-test]=xxDecoding module to decode Ogg Vorbis filesxx
Comment[zh_TW]=解碼 Ogg Vorbis 檔案格式的模組
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3boggvorbisdecoder
X-KDE-PluginInfo-Name=oggvorbisdecoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=4.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioDecoder
X-KDE-PluginInfo-EnabledByDefault=true
