[Desktop Entry]
Name=K3b Ogg Vorbis Decoder
Name[bg]=Ogg Vorbis декодер за K3b
Name[bs]=OGG Vorbis dekoder za K3b
Name[ca]=Descodificador Ogg Vorbis del K3b
Name[ca@valencia]=Descodificador Ogg Vorbis del K3b
Name[cs]=Ogg Vorbis dekodér K3b
Name[csb]=Dekòder Ogg Vorbis dlô K3b
Name[da]=K3b Ogg Vorbis-dekoder
Name[de]=Ogg-Vorbis-Dekodierer
Name[el]=Αποκωδικοποιητής Ogg Vorbis του K3b
Name[en_GB]=K3b Ogg Vorbis Decoder
Name[es]=Descodificador Ogg Vorbis de K3b
Name[et]=K3b Ogg Vorbise dekodeerija
Name[eu]=K3b Ogg Vorbis deskodetzailea
Name[fi]=K3b:n Ogg Vorbis -purkaja
Name[fr]=Décodeur « Ogg Vorbis » pour K3b
Name[ga]=Díchódóir Ogg Vorbis K3b
Name[gl]=Descodificador de Ogg Vorbis para K3b
Name[he]=מפענח Ogg Vorbis של K3b
Name[hne]=के3बी ओग वार्बिस डिकोडर
Name[hr]=K3b-ov dekoder Ogg Vorbisa
Name[hu]=Ogg Vorbis-dekódoló a K3b-hez
Name[ia]=Decifrator Ogg Vorbis de K3b
Name[is]=K3b Ogg Vorbis afkóðari
Name[it]=Decodificatore Ogg Vorbis di K3b
Name[ja]=K3b Ogg Vorbis デコーダ
Name[kk]=K3b Ogg Vorbis декодері
Name[km]=ឌិកូឌ័រ​ Ogg Vorbis របស់ K3b
Name[ko]=K3b Ogg 보비스 디코더
Name[lt]=K3b Ogg Vorbis dekoderis
Name[lv]=K3b Ogg Vorbis dekoderis
Name[mr]=के3बी Ogg Vorbis डीकोडर
Name[nb]=K3b Ogg Vorbis-dekoder
Name[nds]=Ogg-Vorbis-Dekoderer för K3b
Name[nl]=K3b Ogg Vorbis-decoder
Name[nn]=Ogg Vorbis-dekodar for K3b
Name[pa]=K3b Ogg Vorbis ਡੀਕੋਡਰ
Name[pl]=Dekoder Ogg Vorbis dla K3b
Name[pt]=Descodificador de Ogg Vorbis do K3b
Name[pt_BR]=Decodificador Ogg Vorbis do K3b
Name[ro]=Decodor K3b Ogg Vorbis
Name[ru]=Декодер Ogg Vorbis
Name[sk]=Ogg Vorbis dekodér pre K3b
Name[sl]=K3b-jev dekodirnik Ogg Vorbis
Name[sq]=K3b Ogg Vorbis Dekoder
Name[sr]=ОГГ ворбис декодер за К3б
Name[sr@ijekavian]=ОГГ ворбис декодер за К3б
Name[sr@ijekavianlatin]=OGG Vorbis dekoder za K3b
Name[sr@latin]=OGG Vorbis dekoder za K3b
Name[sv]=K3b Ogg Vorbis-avkodare
Name[th]=K3b - ตัวถอดรหัส Ogg Vorbis
Name[tr]=K3b Ogg Vorbis Çözücü
Name[uk]=Декодер Ogg Vorbis для K3b
Name[x-test]=xxK3b Ogg Vorbis Decoderxx
Name[zh_CN]=K3b Ogg Vorbis 解码器
Name[zh_TW]=K3b Ogg Vorbis 解碼器
X-KDE-ServiceTypes=K3b/Plugin
Comment=Decoding module to decode Ogg Vorbis files
Comment[ar]=وحدة فكّ ترميز لفكّ ترميز ملفّات Ogg Vorbis
Comment[bg]=Декодер за файлове във формат Ogg Vorbis
Comment[bs]=Modul za dekodiranje OGG vorbis datoteka
Comment[ca]=Mòdul de descodificació per a descodificar fitxers Ogg Vorbis
Comment[ca@valencia]=Mòdul de descodificació per a descodificar fitxers Ogg Vorbis
Comment[cs]=Modul pro dekódování souborů Ogg Vorbis
Comment[csb]=Mòdul dekòdërëjący lopczi Ogg Vorbis
Comment[da]=Dekodermodul til dekodning af Ogg Vorbis-filer
Comment[de]=Dekodierungsmodul für Ogg-Vorbis-Dateien
Comment[el]=Άρθρωμα αποκωδικοποίησης αρχείων Ogg Vorbis
Comment[en_GB]=Decoding module to decode Ogg Vorbis files
Comment[es]=Descodificando módulo para descodificar archivos Ogg Vorbis
Comment[et]=Ogg Vorbise failide dekodeerimise moodul
Comment[eu]=Ogg Vorbis fitxategiak deskodetzeko modulua
Comment[fi]=Ogg Vorbis -tiedostojen purkumoduuli
Comment[fr]=Module de décodage pour des fichiers audio au format « Ogg Vorbis »
Comment[ga]=Modúl díchódaithe a dhíchódaíonn comhaid Ogg Vorbis
Comment[gl]=Módulo de descodificación de ficheiros de son Ogg Vorbis
Comment[he]=מודול המפענח קבצי Ogg Vorbis
Comment[hne]=ओग वार्बिस फाइल ल डिकोड करे बर डिकोडिंग माड्यूल
Comment[hr]=Dekoderski modul za dekodiranje Ogg Vorbis datoteka
Comment[hu]=Dekódolómodul Ogg Vorbis-fájlok dekódolásához
Comment[ia]=Modulo decifrante per decifrar files Ogg Vorbis
Comment[id]=Modul decoding untuk mendekode file-file Ogg Vorbis
Comment[it]=Decodifica modulare per i file Ogg Vorbis
Comment[ja]=Ogg Vorbis ファイルをデコードするモジュール
Comment[kk]=Ogg Vorbis файлдарының декодер модулі
Comment[km]=ម៉ូឌុល​ឌិកូដ សម្រាប់​​ឌិកូដ​ឯកសារ Ogg Vorbis
Comment[ko]=Ogg 보비스 파일 디코딩 모듈
Comment[lt]=Dekodavimo modulis dekoduoti Ogg Vorbis failus
Comment[lv]=Dekodēšanas modulis Ogg Vorbis failiem
Comment[mr]=Ogg Vorbis फाईल्स डीकोड करण्याकरिता डीकोडिंग विभाग
Comment[nb]=Modul som dekoder Ogg Vorbis-filer
Comment[nds]=Dekodeermoduul för "Ogg-Vorbis"-Dateien
Comment[nl]=Module voor het decoderen van Ogg Vorbis-bestanden
Comment[nn]=Modul for dekoding av Ogg Vorbis-filer
Comment[pl]=Moduł dekodujący pliki Ogg Vorbis
Comment[pt]=Módulo de descodificação de ficheiros Ogg Vorbis
Comment[pt_BR]=Módulo de decodificação de arquivos Ogg Vorbis
Comment[ro]=Modul de decodare pentru decodarea fișierelor Ogg Vorbis
Comment[ru]=Модуль декодирования файлов Ogg Vorbis
Comment[sk]=Modul pre dekódovanie súborov Ogg Vorbis
Comment[sl]=Dekodirni modul za dekodiranje datotek Ogg Vorbis
Comment[sr]=Модул за декодирање ОГГ ворбис фајлова
Comment[sr@ijekavian]=Модул за декодирање ОГГ ворбис фајлова
Comment[sr@ijekavianlatin]=Modul za dekodiranje OGG Vorbis fajlova
Comment[sr@latin]=Modul za dekodiranje OGG Vorbis fajlova
Comment[sv]=Avkodningsmodul för att avkoda Ogg Vorbis-filer
Comment[th]=มอดูลถอดรหัสแฟ้มประเภท Ogg Vorbis
Comment[tr]=Ogg Vorbis dosyalarının kodlarını çözmek için kod çözme modülü
Comment[uk]=Модуль декодування файлів Ogg Vorbis
Comment[x-test]=xxDecoding module to decode Ogg Vorbis filesxx
Comment[zh_CN]=用于解码 Ogg Vorbis 文件的解码模块
Comment[zh_TW]=解碼 Ogg Vorbis 檔案格式的模組
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3boggvorbisdecoder
X-KDE-PluginInfo-Name=oggvorbisdecoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=4.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioDecoder
X-KDE-PluginInfo-EnabledByDefault=true
