[Desktop Entry]
Name=K3b Ogg Vorbis Decoder
Name[ca]=Descodificador Ogg Vorbis del K3b
Name[ca@valencia]=Descodificador Ogg Vorbis del K3b
Name[cs]=Ogg Vorbis dekodér K3b
Name[it]=Decodificatore Ogg Vorbis di K3b
Name[nl]=K3b Ogg Vorbis-decoder
Name[pt]=Descodificador de Ogg Vorbis do K3b
Name[sk]=Ogg Vorbis dekodér pre K3b
Name[sv]=K3b Ogg Vorbis-avkodare
Name[uk]=Декодер Ogg Vorbis для K3b
Name[x-test]=xxK3b Ogg Vorbis Decoderxx
X-KDE-ServiceTypes=K3b/Plugin
Comment=Decoding module to decode Ogg Vorbis files
Comment[ca]=Mòdul de descodificació per a descodificar fitxers Ogg Vorbis
Comment[ca@valencia]=Mòdul de descodificació per a descodificar fitxers Ogg Vorbis
Comment[cs]=Modul pro dekódování souborů Ogg Vorbis
Comment[it]=Decodifica modulare per i file Ogg Vorbis
Comment[nl]=Module voor het decoderen van Ogg Vorbis-bestanden
Comment[pt]=Módulo de descodificação de ficheiros Ogg Vorbis
Comment[sk]=Modul pre dekódovanie súborov Ogg Vorbis
Comment[sv]=Avkodningsmodul för att avkoda Ogg Vorbis-filer
Comment[uk]=Модуль декодування файлів Ogg Vorbis
Comment[x-test]=xxDecoding module to decode Ogg Vorbis filesxx
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3boggvorbisdecoder
X-KDE-PluginInfo-Name=oggvorbisdecoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=4.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioDecoder
X-KDE-PluginInfo-EnabledByDefault=true
