[Desktop Entry]
Name=K3b Musepack Decoder
Name[bg]=Musepack декодер за K3b
Name[bs]=Musepack dekoder za K3b
Name[ca]=Descodificador Musepack del K3b
Name[ca@valencia]=Descodificador Musepack del K3b
Name[cs]=Musepack dekodér K3b
Name[csb]=Dekòder Musepack dlô K3b
Name[da]=K3b Musepack-dekoder
Name[de]=Musepack-Dekodierer
Name[el]=Αποκωδικοποιητής Musepack του K3b
Name[en_GB]=K3b Musepack Decoder
Name[es]=Descodificador Musepack de K3b
Name[et]=K3b Musepacki dekodeerija
Name[eu]=K3b Musepack deskodetzailea
Name[fi]=K3b:n Musepack-purkaja
Name[fr]=Décodeur « Musepack » pour K3b
Name[ga]=Díchódóir Musepack K3b
Name[gl]=Descodificador de Musepack para K3b
Name[he]=מפענח Musepack של K3b
Name[hne]=के3बी म्यूजपैक डिकोडर
Name[hr]=K3b-ov dekoder Musepacka
Name[hu]=Musepack-dekódoló a K3b-hez
Name[ia]=Decifrator Musepack de K3b
Name[is]=K3b Musepack afkóðari
Name[it]=Decodificatore Musepack di K3b
Name[ja]=K3b Musepack デコーダ
Name[kk]=K3b Musepack декодері
Name[km]=ឌិកូឌ័រ​ Musepack របស់ K3b
Name[ko]=K3b Musepack 디코더
Name[lt]=K3b Musepack dekoderis
Name[lv]=K3b Musepack dekoderis
Name[mr]=के3बी Musepack डीकोडर
Name[nb]=K3b Musepack-dekoder
Name[nds]=Musepack-Dekoderer för K3b
Name[nl]=K3b Musepack-decoder
Name[nn]=Musepack-dekodar for K3b
Name[pa]=K3b Musepack ਡੀਕੋਡਰ
Name[pl]=Dekoder Musepack dla K3b
Name[pt]=Descodificador de Musepack do K3b
Name[pt_BR]=Decodificador Musepack do K3b
Name[ro]=Decodor K3b Musepack
Name[ru]=Декодер Musepack
Name[sk]=Musepack dekodér pre K3b
Name[sl]=K3b-jev dekodirnik Musepack
Name[sr]=Мјузпак декодер за К3б
Name[sr@ijekavian]=Мјузпак декодер за К3б
Name[sr@ijekavianlatin]=Musepack dekoder za K3b
Name[sr@latin]=Musepack dekoder za K3b
Name[sv]=K3b Musepack-avkodare
Name[th]=K3b - ตัวถอดรหัส Musepack
Name[tr]=K3b Musepack Çözücü
Name[uk]=Декодер Musepack для K3b
Name[x-test]=xxK3b Musepack Decoderxx
Name[zh_CN]=K3b Musepack 解码器
Name[zh_TW]=K3b Musepack 解碼器
Comment=Decoding module to decode Musepack audio files
Comment[ar]=وحدة فكّ ترميز لفكّ ترميز ملفّات Musepack الصّوتيّة
Comment[bg]=Декодер за звукови файлове Musepack
Comment[bs]=Modul za dekodiranje Musepack audio datoteka
Comment[ca]=Mòdul de descodificació per a descodificar fitxers d'àudio Musepack
Comment[ca@valencia]=Mòdul de descodificació per a descodificar fitxers d'àudio Musepack
Comment[cs]=Modul pro dekódování souborů Musepack
Comment[csb]=Mòdul dekòdërëjący lopczi Musepack
Comment[da]=Dekodermodul til dekodning af Musepack-lydfiler
Comment[de]=Dekodierungsmodul für Musepack-Audio-Dateien
Comment[el]=Άρθρωμα αποκωδικοποίησης αρχείων ήχου Musepack
Comment[en_GB]=Decoding module to decode Musepack audio files
Comment[es]=Descodificando módulo para descodificar archivos de audio Musepack
Comment[et]=Musepacki helifailide dekodeerimise moodul
Comment[eu]=Musepack audio fitxategiak deskodetzeko modulua
Comment[fi]=Musepack-tiedostojen purkumoduuli
Comment[fr]=Module de décodage pour des fichiers audio au format « Musepack »
Comment[ga]=Modúl díchódaithe a dhíchódaíonn comhaid Musepack
Comment[gl]=Módulo de descodificación de ficheiros de son Musepack
Comment[he]=מודול המפענח קבצי שמע Musepack
Comment[hne]=म्यूजपैक फाइल ल डिकोड करे बर डिकोडिंग माड्यूल
Comment[hr]=Dekoderski modul za dekodiranje Musepack audio datoteka
Comment[hu]=Dekódolómodul Musepack-hangfájlok dekódolásához
Comment[ia]=Modulo decifrante per decifrar files audio Musepack
Comment[id]=Modul decoding untuk mendekode file-file audio Musepack
Comment[it]=Decodifica modulare per i file audio Musepack
Comment[ja]=Musepack オーディオファイルをデコードするモジュール
Comment[kk]=Museepack дыбыс файлдарының декодер модулі
Comment[km]=ម៉ូឌុល​ឌិកូដ សម្រាប់​ឌិកូដ​ឯកសារ​អូឌីយ៉ូ Musepack
Comment[ko]=Musepack 오디오 파일 디코딩 모듈
Comment[lt]=Dekodavimo modulis dekoduoti Musepack audio failus
Comment[lv]=Dekodēšanas modulis Mousepack audio failiem
Comment[mr]=Musepack फाईल्स डीकोड करण्याकरिता डीकोडिंग विभाग
Comment[nb]=Modul som dekoder Musepack lydfiler
Comment[nds]=Dekodeermoduul för "Musepack"-Klangdateien
Comment[nl]=Module voor het decoderen van Musepack-audiobestanden
Comment[nn]=Modul for dekoding av Musepack-lydfiler
Comment[pl]=Moduł dekodujący pliki audio Musepack
Comment[pt]=Módulo de descodificação de ficheiros de áudio do Musepack
Comment[pt_BR]=Módulo de decodificação de arquivos de áudio Musepack
Comment[ro]=Modul de decodare pentru decodarea fișierelor audio Musepack
Comment[ru]=Модуль декодирования файлов Musepack
Comment[sk]=Modul pre dekódovanie zvukových súborov Musepack
Comment[sl]=Dekodirni modul za dekodiranje zvočnih datotek Musepack
Comment[sr]=Модул за декодирање мјузпак звучних фајлова
Comment[sr@ijekavian]=Модул за декодирање мјузпак звучних фајлова
Comment[sr@ijekavianlatin]=Modul za dekodiranje Musepack zvučnih fajlova
Comment[sr@latin]=Modul za dekodiranje Musepack zvučnih fajlova
Comment[sv]=Avkodningsmodul för att avkoda Musepack-ljudfiler
Comment[th]=มอดูลถอดรหัสแฟ้มเสียงต่าง ๆ ของ Musepack
Comment[tr]=Musepack ses dosyalarının kodlarını çözen Kod çözme modülü
Comment[uk]=Модуль декодування звукових файлів Musepack
Comment[x-test]=xxDecoding module to decode Musepack audio filesxx
Comment[zh_CN]=用于解码 Musepack 音频文件的解码模块
Comment[zh_TW]=解碼 Musepack 音效檔格式的模組
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3bmpcdecoder
X-KDE-PluginInfo-Name=k3bmpcdecoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=4.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioDecoder
X-KDE-PluginInfo-EnabledByDefault=true
