[Desktop Entry]
Name=K3b Musepack Decoder
Name[ca]=Descodificador Musepack del K3b
Name[ca@valencia]=Descodificador Musepack del K3b
Name[cs]=Musepack dekodér K3b
Name[it]=Decodificatore Musepack di K3b
Name[nl]=K3b Musepack-decoder
Name[pt]=Descodificador de Musepack do K3b
Name[sv]=K3b Musepack-avkodare
Name[uk]=Декодер Musepack для K3b
Name[x-test]=xxK3b Musepack Decoderxx
Comment=Decoding module to decode Musepack audio files
Comment[ca]=Mòdul de descodificació per a descodificar fitxers d'àudio Musepack
Comment[ca@valencia]=Mòdul de descodificació per a descodificar fitxers d'àudio Musepack
Comment[cs]=Modul pro dekódování souborů Musepack
Comment[it]=Decodifica modulare per i file audio Musepack
Comment[nl]=Module voor het decoderen van Musepack-audiobestanden
Comment[pt]=Módulo de descodificação de ficheiros de áudio do Musepack
Comment[sv]=Avkodningsmodul för att avkoda Musepack-ljudfiler
Comment[uk]=Модуль декодування звукових файлів Musepack
Comment[x-test]=xxDecoding module to decode Musepack audio filesxx
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3bmpcdecoder
X-KDE-PluginInfo-Name=k3bmpcdecoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=4.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioDecoder
X-KDE-PluginInfo-EnabledByDefault=true
