[Desktop Entry]
Name=K3b Musepack Decoder
Name[x-test]=xxK3b Musepack Decoderxx
Comment=Decoding module to decode Musepack audio files
Comment[x-test]=xxDecoding module to decode Musepack audio filesxx
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3bmpcdecoder
X-KDE-PluginInfo-Name=k3bmpcdecoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=4.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioDecoder
X-KDE-PluginInfo-EnabledByDefault=true
