[Desktop Entry]
Name=K3b ??? Encoder
Name[uk]=Кодувальник ??? для K3b
Name[x-test]=xxK3b ??? Encoderxx
Comment=Encoding module to encode <name> files
Comment[uk]=Модуль кодування файлів <name>
Comment[x-test]=xxEncoding module to encode <name> filesxx
Type=Service
X-KDE-ServiceTypes=K3b/Plugin

X-KDE-Library=k3b<name>encoder
X-KDE-PluginInfo-Name=k3b<name>encoder
X-KDE-PluginInfo-Author=???
X-KDE-PluginInfo-Email=???
X-KDE-PluginInfo-Version=???
X-KDE-PluginInfo-License=???
X-KDE-PluginInfo-Category=AudioEncoder

