[Desktop Entry]
Name=K3b ??? Encoder
Name[ca]=Codificador ??? del K3b
Name[ca@valencia]=Codificador ??? del K3b
Name[cs]=K3b ??? enkodér
Name[da]=K3b ???-indkodning
Name[de]=???-Kodierer
Name[en_GB]=K3b ??? Encoder
Name[ga]=Ionchódóir ??? K3b
Name[ja]=K3b ??? エンコーダ
Name[nb]=K3b ??? koder
Name[nds]=???-Koderer för K3b
Name[nl]=K3b ???-codeerder
Name[pt]=Codificador ??? do K3b
Name[pt_BR]=Codificador ??? do K3b
Name[ru]=Кодер ???
Name[sk]=K3b ??? enkodér
Name[sr]=??? кодер за К3б
Name[sr@ijekavian]=??? кодер за К3б
Name[sr@ijekavianlatin]=??? koder za K3b
Name[sr@latin]=??? koder za K3b
Name[sv]=K3b ???-kodare
Name[uk]=Кодувальник ??? для K3b
Name[x-test]=xxK3b ??? Encoderxx
Name[zh_TW]=K3b ??? 編碼器
Comment=Encoding module to encode <name> files
Comment[ca]=Mòdul de codificació per codificar fitxers <name>
Comment[ca@valencia]=Mòdul de codificació per codificar fitxers <name>
Comment[cs]=Modul pro kompresi do souborů <name>
Comment[da]=Indkodningsmodul til <name>-filer
Comment[de]=Kodierungsmodul zur Kodierung von <Name>-Dateien
Comment[en_GB]=Encoding module to encode <name> files
Comment[ga]=Modúl ionchódaithe a ionchódaíonn comhaid <name>
Comment[ja]=<name> ファイルをエンコードするモジュール
Comment[nb]=Modul som koder <name>-filer
Comment[nds]=Kodeermoduul för <Naam>-Dateien
Comment[nl]=Module voor het coderen van <name>-bestanden
Comment[pt]=Módulo de codificação de ficheiros <nome>
Comment[pt_BR]=Módulo de codificação para codificar arquivos <nome>
Comment[ru]=Модуль перекодировки файлов <name>
Comment[sk]=Modul pre kódovanie súborov <name>
Comment[sr]=Модул за кодирање <име> фајлова
Comment[sr@ijekavian]=Модул за кодирање <име> фајлова
Comment[sr@ijekavianlatin]=Modul za kodiranje <ime> fajlova
Comment[sr@latin]=Modul za kodiranje <ime> fajlova
Comment[sv]=Kodningsmodul för att koda <namn>-filer
Comment[uk]=Модуль кодування файлів <name>
Comment[x-test]=xxEncoding module to encode <name> filesxx
Comment[zh_TW]=編碼 <名稱> 檔案的模組
Type=Service
X-KDE-ServiceTypes=K3b/Plugin

X-KDE-Library=k3b<name>encoder
X-KDE-PluginInfo-Name=k3b<name>encoder
X-KDE-PluginInfo-Author=???
X-KDE-PluginInfo-Email=???
X-KDE-PluginInfo-Version=???
X-KDE-PluginInfo-License=???
X-KDE-PluginInfo-Category=AudioEncoder

