[Desktop Entry]
Name=K3b ??? Encoder
Name[bg]=Кодиране на ??? (K3b)
Name[bs]=??? koder za K3B
Name[ca]=Codificador ??? del K3b
Name[ca@valencia]=Codificador ??? del K3b
Name[cs]=K3b ??? enkodér
Name[csb]=Kòder ??? dlô K3b
Name[da]=K3b ???-indkodning
Name[de]=???-Kodierer
Name[el]=Κωδικοποιητής ??? του K3b
Name[en_GB]=K3b ??? Encoder
Name[es]=Codificador ??? de K3b
Name[et]=K3b ??? kodeerija
Name[eu]=K3b ??? kodetzailea
Name[fi]=K3b:n ???-pakkaaja
Name[fr]=Encodeur ??? pour K3b
Name[ga]=Ionchódóir ??? K3b
Name[gl]=Codificador ??? para K3b
Name[he]=מקודד ??? של K3b
Name[hne]=के३बी ??? एनकोडर
Name[hr]=K3b-ov koder ???
Name[hu]=???-kódoló a K3b-hez
Name[is]=K3b ??? kóðari
Name[it]=Codificatore ??? di K3b
Name[ja]=K3b ??? エンコーダ
Name[kk]=K3b ??? кодері
Name[km]=អ៊ិនកូឌ័រ​ ??? របស់ K3b
Name[ko]=K3b ??? 인코더
Name[lt]=K3b ??? koduotuvas
Name[lv]=K3b ??? kodētājs
Name[nb]=K3b ??? koder
Name[nds]=???-Koderer för K3b
Name[nl]=K3b ???-codeerder
Name[pa]=K3b ???  ਇੰਕੋਡਰ
Name[pl]=Koder ??? dla K3b
Name[pt]=Codificador ??? do K3b
Name[pt_BR]=Codificador ??? do K3b
Name[ro]=Codor K3b ???
Name[ru]=Кодер ???
Name[sk]=K3b ??? enkodér
Name[sl]=K3b-jev kodirnik ???
Name[sq]=K3b ??? Enkoder
Name[sr]=??? кодер за К3б
Name[sr@ijekavian]=??? кодер за К3б
Name[sr@ijekavianlatin]=??? koder za K3b
Name[sr@latin]=??? koder za K3b
Name[sv]=K3b ???-kodare
Name[th]=K3b - ตัวเข้ารหัส ???
Name[tr]=K3b ??? Şifreleyicisi
Name[uk]=Кодувальник ??? для K3b
Name[x-test]=xxK3b ??? Encoderxx
Name[zh_CN]=K3b ??? 编码器
Name[zh_TW]=K3b ??? 編碼器
Comment=Encoding module to encode <name> files
Comment[bg]=Кодиращ модул за <name> файлове
Comment[bs]=Modul za kodiranje <ime> datoteka
Comment[ca]=Mòdul de codificació per codificar fitxers <name>
Comment[ca@valencia]=Mòdul de codificació per codificar fitxers <name>
Comment[cs]=Modul pro kompresi do souborů <name>
Comment[csb]=Mòdul kòdërëjący lopczi <name>
Comment[da]=Indkodningsmodul til <name>-filer
Comment[de]=Kodierungsmodul zur Kodierung von <Name>-Dateien
Comment[el]=Άρθρωμα κωδικοποίησης αρχείων <name>
Comment[en_GB]=Encoding module to encode <name> files
Comment[es]=Módulo de codificación para codificar archivos <name>
Comment[et]=<nimi> failide kodeerimise moodul
Comment[eu]=<name> fitxategiak kodetzeko modulua
Comment[fi]=<name>-tiedostojen pakkausmoduuli
Comment[fr]=Module d'encodage pour encoder les fichiers <nom>
Comment[ga]=Modúl ionchódaithe a ionchódaíonn comhaid <name>
Comment[gl]=Módulo de configuración para codificar ficheiros <name>
Comment[he]=מודל קידוד לקבצי <name>
Comment[hne]=<name> फाइल ल एनकोड करे बर एनकोडिंग माड्यूल
Comment[hr]=Koderski modul za kodiranje <name> datoteka
Comment[hu]=Kódolómodul <name>-fájlok készítéséhez
Comment[it]=Codificatore modulare di file <name>
Comment[ja]=<name> ファイルをエンコードするモジュール
Comment[kk]=<name> файлдарының кодер модулі
Comment[km]=ម៉ូឌុល​អ៊ិនកូដ សម្រាប់​អ៊ិនកូដ​ឯកសារ <name>
Comment[ko]=<name> 파일 인코딩 모듈
Comment[lt]=Kodavimo modulis koduoti <name> failus
Comment[lv]=Kodēšanas modulis <name> failiem
Comment[nb]=Modul som koder <name>-filer
Comment[nds]=Kodeermoduul för <Naam>-Dateien
Comment[nl]=Module voor het coderen van <name>-bestanden
Comment[pl]=Moduł kodujący pliki <name>
Comment[pt]=Módulo de codificação de ficheiros <nome>
Comment[pt_BR]=Módulo de codificação de arquivos <nome>
Comment[ro]=Modul de codare pentru codarea fișierelor <name>
Comment[ru]=Модуль перекодировки файлов <name>
Comment[sk]=Modul pre kódovanie súborov <name>
Comment[sl]=Kodirni modul za kodiranje datotek <ime>
Comment[sr]=Модул за кодирање <име> фајлова
Comment[sr@ijekavian]=Модул за кодирање <име> фајлова
Comment[sr@ijekavianlatin]=Modul za kodiranje <ime> fajlova
Comment[sr@latin]=Modul za kodiranje <ime> fajlova
Comment[sv]=Kodningsmodul för att koda <namn>-filer
Comment[th]=มอดูลเข้ารหัสแฟ้มประเภท <name>
Comment[tr]=<name> dosyalarını kodlamak için kodlayıcı modülü
Comment[uk]=Модуль кодування файлів <name>
Comment[x-test]=xxEncoding module to encode <name> filesxx
Comment[zh_CN]=用于编码 <name> 文件的编码模块
Comment[zh_TW]=編碼 <名稱> 檔案的模組
Type=Service
X-KDE-ServiceTypes=K3b/Plugin

X-KDE-Library=k3b<name>encoder
X-KDE-PluginInfo-Name=k3b<name>encoder
X-KDE-PluginInfo-Author=???
X-KDE-PluginInfo-Email=???
X-KDE-PluginInfo-Version=???
X-KDE-PluginInfo-License=???
X-KDE-PluginInfo-Category=AudioEncoder

