[Desktop Entry]
Name=K3b CDDB Audio Plugin
Name[bs]=Cddb audio priljučak za K3b
Name[ca]=Connector CDDB d'àudio del K3b
Name[ca@valencia]=Connector CDDB d'àudio del K3b
Name[cs]=Audio modul K3b CDDB
Name[da]=CDDB-plugin til K3b
Name[de]=CDDB-Audio-Modul
Name[el]=K3b CDDB Audio Plugin
Name[en_GB]=K3b CDDB Audio Plugin
Name[es]=Complemento de audio CDDB de K3b
Name[eu]=K3b CDDB audio plugina
Name[fi]=K3b:n CDDB-ääniliitännäinen
Name[fr]=Module externe audio « CDDB » pour K3b
Name[gl]=Complemento de son CDDB para o K3b
Name[ia]=Plug-in Audio CDDB de K3b
Name[it]=Estensione audio CDDB di K3b
Name[ko]=K3b CDDB 오디오 플러그인
Name[nl]=K3b CDDB audio-plugin
Name[nn]=CDDB-lydtillegg for K3b
Name[pl]=Wtyczka dźwięku K3b CDDB
Name[pt]='Plugin' de Áudio CDDB do K3b
Name[pt_BR]=Plugin de áudio CDDB do K3b
Name[ru]=Модуль K3b CDDB Audio
Name[sk]=Zvukový modul CDDB pre K3b
Name[sl]=K3b-jev vstavek za CDDB
Name[sr]=ЦДДБ аудио прикључак за К3б
Name[sr@ijekavian]=ЦДДБ аудио прикључак за К3б
Name[sr@ijekavianlatin]=CDDB audio priključak za K3b
Name[sr@latin]=CDDB audio priključak za K3b
Name[sv]=K3b CDDB-ljudinsticksprogram
Name[tr]=K3b CDDB Ses Eklentisi
Name[uk]=Додаток для роботи з CDDB у K3b
Name[x-test]=xxK3b CDDB Audio Pluginxx
Name[zh_CN]=K3b CDDB 音频插件
Name[zh_TW]=K3b CDDB 音效外掛程式
Comment=Plugin to query a CDDB server for information about an audio project.
Comment[bs]=Priključak za upite CDDB serveru radi podataka o audio projektu.
Comment[ca]=Connector per a consultar un servidor CDDB informació quant a un projecte d'àudio.
Comment[ca@valencia]=Connector per a consultar un servidor CDDB informació quant a un projecte d'àudio.
Comment[cs]=Modul pro dotazování CDDB serveru na informaci o audio projektu.
Comment[da]=Plugin til at forespørge en CDDB-server om information om et lydprojekt.
Comment[de]=Modul zur Abfrage eines CDDB-Servers nach Informationen zu einem Audio-Projekt
Comment[el]=Πρόσθετο ερωτήσεων σε εξυπηρετητή CDDB για πληροφορίες σχετικά με ένα έργο ήχου.
Comment[en_GB]=Plugin to query a CDDB server for information about an audio project.
Comment[es]=Complemento para consultar información de un servidor CDDB sobre un proyecto de audio.
Comment[eu]=CDDB zerbitzari bat audio proiektu baten gaineko informazioari buruz itauntzeko plugina.
Comment[fi]=Liitännäinen ääniprojektin tietojen kyselemiseksi CDDB-palvelimelta.
Comment[fr]=Module externe pour demander à un serveur « CDDB » des informations sur un projet audio.
Comment[gl]=Complemento para lle preguntar sobre a información dun proxecto de son a un servidor de CDDB.
Comment[ia]=Plugin per demandar information re un projecto audio a un servitor CDDB.
Comment[id]=Plugin untuk mengqueri sebuah server CDDB untuk informasi tentang audio project.
Comment[it]=Estensione di interrogazione di un server CDDB per le informazioni su un progetto audio.
Comment[ko]=CDDB 서버에 오디오 프로젝트의 정보를 조회합니다.
Comment[nl]=Plugin om op een CDDB-server informatie op te zoeken over een audioproject.
Comment[nn]=Programtillegg for oppslag på CDDB for informasjon om lydprosjekt.
Comment[pl]=Wtyczka do odpytywania serwera CDDB o informacje o projekcie audio.
Comment[pt]=Um 'plugin' para consultar um servidor de CDDB por informações acerca de um projecto de áudio.
Comment[pt_BR]=Plugin para consultar informações sobre um projeto de áudio em um servidor CDDB.
Comment[ru]=Модуль получения сведений об аудиопроекте с сервера CDDB.
Comment[sk]=Modul pre dotazovanie CDDB servera na informácie o zvukovom projekte.
Comment[sl]=Vstavek za poizvedovanje o podatkih za zvočni projekt pri strežniku CDDB.
Comment[sr]=Прикључак за упите ЦДДБ серверу ради података о аудио пројекту.
Comment[sr@ijekavian]=Прикључак за упите ЦДДБ серверу ради података о аудио пројекту.
Comment[sr@ijekavianlatin]=Priključak za upite CDDB serveru radi podataka o audio projektu.
Comment[sr@latin]=Priključak za upite CDDB serveru radi podataka o audio projektu.
Comment[sv]=Insticksprogram för att hämta information om ett ljudprojekt från en CDDB-server.
Comment[tr]=Bir ses projesi için CDDB sunucusundan bilgi sorgulama eklentisi.
Comment[uk]=Додаток для опитування сервера CDDB щодо даних про аудіо-проєкт.
Comment[x-test]=xxPlugin to query a CDDB server for information about an audio project.xx
Comment[zh_CN]=从 CDDB 服务器查询有关音频项目信息的插件。
Comment[zh_TW]=到 CDDB 伺服器查詢音效專案的資訊的外掛程式。
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3baudioprojectcddbplugin
X-KDE-PluginInfo-Name=k3baudioprojectcddbplugin
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=ProjectPlugin
X-KDE-PluginInfo-EnabledByDefault=true
