# KDE Config File  
[Desktop Entry]
Type=Application
Exec=kdesu k3bsetup  
Icon=k3b.png
MiniIcon=k3b.png
DocPath=k3b/index.html
CommentVersion 2 of the K3b setup tool to prepare the system for CD writing=
Terminal=0
Name=K3b Setup
Name[da]=K3b opsætning
Name[de]=de]=K3b-Einrichtung
Name[el]=Ρύθμιση K3b
Name[es]=Configuración de K3b
Name[fr]=Réglages de K3b
Name[he]=התקנת K3b
Name[it]=Impostazioni di K3b
Name[pt]=Configuração do K3b
Name[pt_BR]=Preparação do K3b
Name[sk]=K3b nsatevenie
Name[sv]=K3b-inställning
Name[xh]=Ucwangciso lwe K3b
Name[zh_CN]=K3b 设置
Name[zh_TW]=K3b 設定
Name[zu]=Isimiso se-K3b
