[Desktop Entry]
Name=K3b SoX Audio Encoder
Name[cs]=K3b SoX audio enkodér
Name[csb]=Kòder SoX Audio dlô K3b
Name[da]=K3b SoX-lydindkodning
Name[de]=K3b-SoX-Audio-Kodierer
Name[el]=Αποκωδικοποιητής ήχου SoX του K3b
Name[es]=Codificador de audio SoX de K3b
Name[et]=K3b SoX helifailide kodeerija
Name[eu]=K3b SoX audio kodetzailea
Name[fi]=K3b:n SoX-pakkaaja
Name[fr]=Encodeur audio SoX pour K3b
Name[ga]=Ionchódóir SoX K3b
Name[gl]=Codificador de son SoX para K3b
Name[he]=מקודד קבצי שמע SoX של K3b
Name[hne]=के३बी साक्स आडियो एनकोडर
Name[it]=Name=Codificatore audio SoX di K3b
Name[ja]=K3b SoX オーディオエンコーダ
Name[km]=កម្មវិធី​អ៊ិនកូដ អូឌីយ៉ូ SoX របស់ K3b
Name[ko]=K3b SoX 오디오 인코더
Name[lv]=K3b SoX Audio kodētājs
Name[nb]=K3b SoX lydkoder
Name[nds]="SoX Audio"-Dekoderer för K3b
Name[nl]=K3b SoX Audio-codeerder
Name[pa]=K3b SoX ਆਡੀਓ ਇੰਕੋਡਰ
Name[pl]=Koder SoX Audio dla K3b
Name[pt]=Codificador de Áudio SOX do K3b
Name[pt_BR]=Codificador de Áudio SoX do K3b
Name[ro]=Codor K3b Sox Audio
Name[ru]=Кодер SoX Audio
Name[sv]=K3b Sox-ljudkodare
Name[th]=K3b - ตัวเข้ารหัสเสียง SoX
Name[tr]=K3b SoX Audio Şifreleyicisi
Name[uk]=Кодувальник звуку SoX для K3b
Name[x-test]=xxK3b SoX Audio Encoderxx
Name[zh_CN]=K3b SoX 音频编码器
Name[zh_TW]=K3b SoX 音效編碼器
Comment=Encoding module to encode many file formats using SoX
Comment[cs]=Modul pro kompresi do mnoha formátů pomocí SoX
Comment[csb]=Mòdul kòdërëjący wiele fòrmôtów z pòmòcą SoX
Comment[da]=Indkodningsmodul til mange filformater med brug af SoX
Comment[de]=Kodierungsmodul zur Kodierung von vielen Audioformaten mittels SoX
Comment[el]=Άρθρωμα κωδικοποίησης αρχείων ήχου SoX
Comment[es]=Módulo de codificación para codificar muchos formatos de archivo que usan SoX
Comment[et]=Kodeerimise moodul paljudes failivormingutes kodeerimiseks SoX-i abil
Comment[eu]=SoX erabiliz formatu ugaritara kodetzeko kodetze modulua
Comment[fi]=Moduli useiden tiedostomuotojen pakkaukseen käyttäen SoX-sovellusta
Comment[fr]=Module pour encoder de nombreux formats de fichier utilisant SoX
Comment[ga]=Modúl ionchódaithe a ionchódaíonn a lán formáidí comhaid le SoX
Comment[gl]=Módulo de configuración para codificar varios formatos de ficheiro mediante SoX
Comment[he]=מודול קידוד על מנת לקודד הרבה סוגי קבצים בעזרת SoX
Comment[it]=Comment=Codifica modulare per i molti formati di file che usano SoX
Comment[ja]=SoX を使ってさまざまなファイルフォーマットをエンコードするモジュール
Comment[km]=ម៉ូឌុល​អ៊ិនកូដ ដែលត្រូវ​អ៊ិនកូដ​ទ្រង់ទ្រាយ​ឯកសារច្រើន​ដោយប្រើ SoX
Comment[ko]=SoX를 사용하여 많은 파일을 인코딩하는 모듈
Comment[lv]=Kodēšanas modulis failiem, kuri tiek atbalstīti ar SoX
Comment[nb]=Modul som koder mange filformater ved bruk av SoXs
Comment[nds]=Kodeermoduul för vele Dateiformaten, de SoX bruukt
Comment[nl]=Module voor het coderen van veel bestandsformaten met behulp van SoX
Comment[pl]=Moduł kodujący wiele formatów za pomocą SoX
Comment[pt]=Módulo de codificação de vários formatos de ficheiros com o SoX
Comment[pt_BR]=Módulo de codificação para codificar vários formatos de arquivo usando o SoX
Comment[ro]=Modul de codare pentru codarea multor formate de fișier utilizînd SoX
Comment[ru]=Модуль перекодировки множества форматов файлов с использованием SoX
Comment[sv]=Kodningsmodul för att koda många filformat med användning av Sox
Comment[th]=มอดูลเข้ารหัสแฟ้มหลายรูปแบบโดยใช้ SoX
Comment[tr]=SoX'u kullanarak pek çok dosya kipini şifrelemek için şifreleme modülü
Comment[uk]=Модуль кодування багатьох форматів файлів за допомогою SoX
Comment[x-test]=xxEncoding module to encode many file formats using SoXxx
Comment[zh_CN]=用于编码很多使用 SoX 格式的文件的编码模块
Comment[zh_TW]=編碼許多 SoX 支援的檔案格式的模組
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3bsoxencoder
X-KDE-PluginInfo-Name=k3bsoxencoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioEncoder
X-KDE-PluginInfo-EnabledByDefault=true
