[Desktop Entry]
Name=K3b SoX Audio Encoder
Comment=Encoding module to encode many file formats using SoX
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3bsoxencoder
X-KDE-PluginInfo-Name=k3bsoxencoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioEncoder
X-KDE-PluginInfo-EnabledByDefault=true
