[Desktop Entry]
Name=K3b SoX Audio Encoder Config Module
Name[ca]=Mòdul de configuració del codificador d'àudio SoX
Name[ca@valencia]=Mòdul de configuració del codificador d'àudio SoX
Name[da]=Konfigurationsmodul til K3b SoX Audio-indkodning
Name[de]=Bedienelement zur Kodierung mittels SoX
Name[en_GB]=K3b SoX Audio Encoder Config Module
Name[es]=Módulo de configuración del codificador de audio SoX de K3b
Name[et]=K3b Sox helikodeerija seadistamismoodul
Name[fr]=Module de configuration de l'encodeur audio SoX pour K3b
Name[hu]=Beállítómodul a K3b SoX hangkódolójához
Name[it]=Modulo di configurazione codificatore audio SoX di K3b
Name[nb]=K3b oppsettsmodul for SoX lydkoder
Name[nds]=Instellmoduul för SoX-Klangkoderer för K3b
Name[nl]=K3b SoX-audio-codeerder configuratiemodule
Name[pt]=Módulo de Configuração do Codificador de Áudio SoX do K3b
Name[pt_BR]=Módulo de configuração do codificador de áudio SoX do K3b
Name[ru]=Модуль настройки кодера SoX
Name[sl]=K3b-jev nastavitveni modul za zvočni kodirnik SoX
Name[sr]=Модул за подешавање Соксовог кодера за К3б
Name[sr@ijekavian]=Модул за подешавање Соксовог кодера за К3б
Name[sr@ijekavianlatin]=Modul za podešavanje SoXovog kodera za K3b
Name[sr@latin]=Modul za podešavanje SoXovog kodera za K3b
Name[sv]=Inställningsmodul för K3b Sox ljudkodare
Name[th]=K3b - มอดูลปรับแต่งตัวเข้ารหัสเสียง SoX
Name[uk]=Модуль налаштування аудіокодувальника SoX K3b
Name[x-test]=xxK3b SoX Audio Encoder Config Modulexx
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_k3bsoxencoder
X-KDE-ParentComponents=k3bsoxencoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
