[Desktop Entry]
Name=K3b SoX Audio Encoder Config Module
Name[bg]=Модул за настройване кодирането на SoX Audio (K3b)
Name[bs]=K3B Sox audio koder Config Modul
Name[ca]=Mòdul de configuració del codificador d'àudio SoX
Name[ca@valencia]=Mòdul de configuració del codificador d'àudio SoX
Name[cs]=Ovládací modul formátu K3b SoX
Name[da]=Konfigurationsmodul til K3b SoX Audio-indkodning
Name[de]=Bedienelement zur Kodierung mittels SoX
Name[el]=Άρθρωμα διαμόρφωσης του κωδικοποιητή ήχου K3b SoX
Name[en_GB]=K3b SoX Audio Encoder Config Module
Name[es]=Módulo de configuración del codificador de audio SoX de K3b
Name[et]=K3b Sox helikodeerija seadistamismoodul
Name[eu]=K3b SoX audio kodetzailea konfiguratzeko modulua
Name[fi]=K3b:n Sox-äänipakkaajan asetusosio
Name[fr]=Module de configuration de l'encodeur audio « SoX » pour K3b
Name[gl]=Módulo de configuración do codificador de son SoX para o K3b
Name[hr]=K3b-ov konfiguracijski modul za koder SoX audija
Name[hu]=Beállítómodul a K3b SoX hangkódolójához
Name[ia]=Codificator Audio de SoX de K3b Modulo de configuration
Name[it]=Modulo di configurazione codificatore audio SoX di K3b
Name[ja]=K3b SoX オーディオエンコーダ設定モジュール
Name[kk]=K3b SoX дыбыс кодерін баптау виджеті
Name[km]=ម៉ូឌុល​កំណត់​រចនា​សម្ព័ន្ធអ៊ិនកូឌ័រ​​អូឌីយ៉ូ SoX របស់ K3b
Name[ko]=K3b SoX 오디오 인코더 설정 모듈
Name[lt]=K3b SoX audio koduotuvo nustatymų valdiklis
Name[lv]=K3b SoX audio kodētāja configurācijas modulis
Name[mr]=केबी SoX एन्कोडर संयोजना विभाग
Name[nb]=K3b oppsettsmodul for SoX lydkoder
Name[nds]=Instellmoduul för SoX-Klangkoderer för K3b
Name[nl]=K3b SoX-audio-codeerder configuratiemodule
Name[nn]=Oppsett-modul for SoX-basert lydkoding for K3b
Name[pl]=Moduł ustawień enkodera dźwięku K3b SoX
Name[pt]=Módulo de Configuração do Codificador de Áudio SoX do K3b
Name[pt_BR]=Módulo de configuração do codificador de áudio SoX do K3b
Name[ro]=Modul de configurare a codorului K3b SoX
Name[ru]=Модуль настройки кодера SoX
Name[sk]=Ovládací modul SoX zvukového enkodéra pre K3b
Name[sl]=K3b-jev nastavitveni modul za zvočni kodirnik SoX
Name[sr]=Модул за подешавање Соксовог кодера за К3б
Name[sr@ijekavian]=Модул за подешавање Соксовог кодера за К3б
Name[sr@ijekavianlatin]=Modul za podešavanje SoXovog kodera za K3b
Name[sr@latin]=Modul za podešavanje SoXovog kodera za K3b
Name[sv]=Inställningsmodul för K3b SoX ljudkodare
Name[th]=K3b - มอดูลปรับแต่งตัวเข้ารหัสเสียง SoX
Name[tr]=K3b SoX Kodlayıcısı Yapılandırma Parçacığı
Name[uk]=Модуль налаштування аудіокодувальника SoX K3b
Name[x-test]=xxK3b SoX Audio Encoder Config Modulexx
Name[zh_CN]=K3b SoX 音频编码器配置模块
Name[zh_TW]=K3b SoX 音效編碼器設定模組
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_k3bsoxencoder
X-KDE-ParentComponents=k3bsoxencoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
