[Desktop Entry]
Name=K3b SoX Audio Encoder Config Module
Name[ca]=Mòdul de configuració del codificador d'àudio SoX
Name[ca@valencia]=Mòdul de configuració del codificador d'àudio SoX
Name[cs]=Ovládací modul formátu K3b SoX
Name[pt]=Módulo de Configuração do Codificador de Áudio SoX do K3b
Name[sv]=Inställningsmodul för K3b SoX ljudkodare
Name[uk]=Модуль налаштування аудіокодувальника SoX K3b
Name[x-test]=xxK3b SoX Audio Encoder Config Modulexx
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_k3bsoxencoder
X-KDE-ParentComponents=k3bsoxencoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
