[Desktop Entry]
X-KDE-Solid-Predicate=[StorageVolume.ignored == false AND OpticalDisc.isBlank == true]
Actions=K3bDataProject;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action K3bDataProject]
Exec=k3b --device %i --data
Name=Create file project with K3b...
Name[bg]=Създаване диск с файлове с K3b...
Name[da]=Opret filprojekt med K3b...
Name[de]=Daten-CD mit K3b erstellen ...
Name[es]=Crear proyecto de archivo con K3b...
Name[et]=Loo failiprojekt K3b abil...
Name[fr]=Créer un projet avec K3b...
Name[ga]=Cruthaigh tionscadal comhaid le K3b...
Name[it]=Name=Crea file di progetto con K3b...
Name[km]=បង្កើត​គម្រោង​ឯកសា​រដោយ​ប្រើ K3b...
Name[nb]=Lag filprosjekt med K3b …
Name[nds]=Dateiprojekt mit K3b opstellen...
Name[nl]=Bestandsproject aanmaken K3b...
Name[pt]=Criar um projecto de ficheiros com o K3b...
Name[pt_BR]=Criar um arquivo de projeto com o K3b...
Name[ro]=Creare proiect de fișiere cu K3b...
Name[ru]=Создать проект, используя K3b...
Name[sl]=Ustvari projekt s K3b ...
Name[sv]=Skapa filprojekt med K3b...
Name[tr]=K3b ile dosya projesi oluştur...
Name[uk]=Створити файловий проект за допомогою K3b...
Name[x-test]=xxCreate file project with K3b...xx
Name[zh_TW]=用 K3b 建立檔案專案...
Icon=k3b
