[Desktop Entry]
ServiceTypes=media/dvdvideo
Actions=K3bRip;
X-KDE-Priority=TopLevel

[Desktop Action K3bRip]
Name=Rip Video DVD Titles with K3b
Name[af]=Kopiëer Video DVD titels m.b.v. K3b
Name[ar]= استخرج عناوين مرئيات من القرص المرئي الرقمي (DVD)  بواسطة K3b
Name[bg]=Извличане на DVD заглавия с K3b
Name[ca]=Extreure pistes de DVD amb el K3b
Name[cs]=Ripovat titulky video DVD pomocí K3b
Name[da]=Rip dvd-titler med K3b
Name[de]=DVD-Titel mit K3b auslesen
Name[el]=Εξαγωγή τίτλων DVD με το K3b
Name[eo]=Ekstraktu videan DVD titolojn per K3b
Name[es]=Extraer títulos de DVD de vídeo con K3b
Name[et]=Ripi video-DVD tiitlid K3b abil
Name[fa]=تبدیل عناوین دی وی دی ویدئویی با K3b
Name[fi]=Pura dvd K3b:llä
Name[fr]=Extraire les titres du DVD avec K3b
Name[gl]=Gravar título de Vídeo DVD con K3b
Name[hu]=Video DVD-címek beolvasása a K3b-vel
Name[is]=Afrita DVD titla með K3b
Name[it]=Estrai titoli DVD video con K3b
Name[ja]=K3b で DVD タイトルを吸い出し...
Name[km]=ច្រៀក​ចំណង​ជើង​ឌីវីឌី​វីដេអូ​ដោយ​ប្រើ K3b
Name[lt]=Nurašyti video DVD su K3b
Name[ms]=Keluarkan Tajuk Video DVD dengan K3b
Name[nds]=Video-DVD-Stücken mit K3b utlesen
Name[nl]=Video-dvd-titels rippen met K3b
Name[nn]=Hent ut film-DVD-titlar med K3b
Name[pa]=K3b ਨਾਲ ਵੀਡਿਓ DVD ਟਾਇਟਲ ਰਿਪ
Name[pl]=Zgraj filmy z płyty DVD Video za pomocą K3b
Name[pt]=Extrair os Títulos do DVD de Vídeo com o K3b
Name[pt_BR]=Ripar DVD de Vídeo com o K3b
Name[sk]=Ripovať video DVD titulky pomocou K3b
Name[sr]=Исчупај титлове са видео DVD-а помоћу K3b-а
Name[sr@Latn]=Isčupaj titlove sa video DVD-a pomoću K3b-a
Name[sv]=Lagra dvd-titlar med K3b
Name[tr]=K3b ile Görüntü DVD'si Başlıklarını Aktar
Name[uk]=Видерти заголовки з відео-DVD за допомогою K3b
Name[uz]=K3b yordamida filmlarni video-faylga aylantirish
Name[uz@cyrillic]=K3b ёрдамида филмларни видео-файлга айлантириш
Name[zh_CN]=用 K3b 提取视频 DVD
Name[zh_TW]=使用 K3b 提取視像 DVD Titles
Exec=k3b --videodvdrip %u
Icon=k3b
