[Desktop Entry]
X-KDE-Solid-Predicate=[[StorageVolume.ignored == false AND OpticalDisc.isBlank == true ] AND OpticalDisc.discType == 'CdRecordable|CdRewritable']
Actions=K3bAudioCDProject;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action K3bAudioCDProject]
Exec=k3b --device %i --audiocd
Name=Create Audio CD with K3b...
Name[bg]=Създаване на аудио CD с K3b...
Name[ca]=Crea un CD d'àudio amb el K3b...
Name[cs]=Vytvořit zvukové CD...
Name[csb]=Ùsôdzë platã CD audio z pòmòcą K3b...
Name[da]=Opret lyd-cd med K3b...
Name[de]=Audio-CD mit K3b erstellen ...
Name[el]=Δημιουργία CD ήχου με το K3b...
Name[eo]=Krei sonan KD per K3b...
Name[es]=Crear CD de audio con K3b...
Name[et]=Kirjuta audio-CD K3b abil...
Name[eu]=Sortu audio CDa K3b-rekin...
Name[fi]=Luo musiikki-cd K3b:llä...
Name[fr]=Créer un CD audio avec K3b...
Name[ga]=Cruthaigh Dlúthdhiosca Fuaime le K3b...
Name[gl]=Crear un CD de música co K3b...
Name[he]=צור תקליטור שמע CD עם K3b...
Name[hi]=के3बी के जरिए ऑडियो सीडी बनाएं....
Name[hne]=के3बी के साथ आडियो सीडी बनाव....
Name[hsb]=awdijo-CD z K3b stworić
Name[ja]=K3b でオーディオ CD を作成...
Name[km]=បង្កើត​ស៊ីឌី​អូឌីយ៉ូ​​ដោយប្រើ K3b...
Name[ko]=K3b로 오디오 CD 만들기...
Name[lt]=Kurkite audio CD su K3b...
Name[lv]=Izveidot Audio CD ar K3b
Name[nb]=Lag lyd-CD med K3b …
Name[nds]=Klang-CD mit K3b opstellen...
Name[ne]=केथ्रीबीसँग अडियो सीडी सिर्जना गर्नुहोस्...
Name[nl]=Audio-cd aanmaken met K3b...
Name[pa]=K3b ਨਾਲ ਆਡੀਓ CD ਬਣਾਓ...
Name[pl]=Utwórz płytę CD Audio za pomocą K3b...
Name[pt]=Criar um CD de Áudio com o K3b...
Name[pt_BR]=Criar CD de Áudio com o K3b...
Name[ro]=Creare disc audio cu K3b...
Name[ru]=Записать аудио компакт-диск, используя K3b...
Name[sk]=Vytvoriť zvukové CD pomocou K3b...
Name[sl]=Ustvari Audio CD s K3b ...
Name[sv]=Skapa ljud-cd med K3b...
Name[th]=สร้างแผ่นซีดีบันทึกเสียงด้วย K3b...
Name[tr]=K3b ile Ses CD'si Oluştur...
Name[uk]=Створити аудіо-КД через K3b...
Name[x-test]=xxCreate Audio CD with K3b...xx
Name[zh_CN]=用 K3b 创建音频 CD...
Icon=k3b
