[Desktop Entry]
ServiceTypes=media/dvdrom_unmounted,media/dvdwriter_unmounted,media/dvdvideo
Actions=K3bDVDCopy;
X-KDE-Priority=TopLevel

[Desktop Action K3bDVDCopy]
Name=Copy DVD with K3b
Name[af]=Kopiëer DVD m.b.v. K3b
Name[ar]= انسخ القرص الرقمي المرئي (DVD) بواسطة  K3b .
Name[bg]=Копиране на DVD с K3b
Name[br]=Eilañ un DVD gant K3b
Name[ca]=Copia un DVD amb el K3b
Name[cs]=Kopírovat DVD pomocí K3b
Name[da]=Kopiér dvd med K3b
Name[de]=DVD mit K3b kopieren
Name[el]=Αντιγραφή DVD με το K3b
Name[eo]=Kopiu DVD per K3b
Name[es]=Copiar DVD con K3b
Name[et]=Kopeeri DVD K3b abil
Name[fa]=رونوشت دی وی دی با K3b
Name[fi]=Kopioi dvd K3b:llä
Name[fr]=Copier le DVD avec K3b
Name[gl]=Copiar DVD con K3b
Name[hu]=DVD-másolás a K3b-vel
Name[is]=Afrita DVD með K3b
Name[it]=Copia DVD con K3b
Name[ja]=K3b で DVD をコピー...
Name[ka]=DVD-ს ასლი K3b-ით
Name[km]=ចម្លង​ឌីវីឌី​ដោយ​ប្រើ K3b
Name[lt]=Kopijuoti DVD su K3b
Name[mk]=Копирајте DVD со K3b...
Name[ms]=Salin DVD dengan K3b
Name[nds]=DVD mit K3b koperen
Name[nl]=DVD kopiëren met K3b
Name[nn]=Kopier DVD med K3b
Name[pa]=K3b ਨਾਲ DVD ਨਕਲ
Name[pl]=Skopiuj DVD za pomocą K3b
Name[pt]=Copiar o DVD com o K3b
Name[pt_BR]=Copiar DVD com o K3b
Name[ru]=Копировать DVD, используя K3b...
Name[sk]=Vytvoriť DVD pomocou K3b
Name[sr]=Копирај DVD помоћу K3b-а
Name[sr@Latn]=Kopiraj DVD pomoću K3b-a
Name[sv]=Kopiera dvd med K3b
Name[tr]=K3b ile Veri DVD'si Kopyala
Name[uk]=Копіювати DVD за допомогою K3b
Name[uz]=K3b yordamida DVD'dan nusxa olish
Name[uz@cyrillic]=K3b ёрдамида DVD'дан нусха олиш
Name[zh_CN]=用 K3b 复制 DVD
Name[zh_TW]=使用 K3b 複製 DVD
Exec=k3b --copydvd %u
Icon=k3b
