[Desktop Entry]
Actions=CreateK3bDataProject;
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
ExcludeServiceTypes=application/x-iso;

[Desktop Action CreateK3bDataProject]
Exec=k3b --data %F
Name=Create file project with K3b...
Name[et]=Loo failiprojekt K3b abil...
Name[fr]=Créer un projet avec K3b...
Name[ga]=Cruthaigh tionscadal comhaid le K3b...
Name[nds]=Dateiprojekt mit K3b opstellen...
Name[nl]=Bestandsproject aanmaken K3b...
Name[pt]=Criar um projecto de ficheiros com o K3b...
Name[pt_BR]=Criar um arquivo de projeto com o K3b...
Name[sv]=Skapa filprojekt med K3b...
Name[uk]=Створити файловий проект за допомогою K3b...
Name[x-test]=xxCreate file project with K3b...xx
Icon=k3b
