[Desktop Entry]
ServiceTypes=media/cdrom_unmounted,media/cdwriter_unmounted,media/audiocd
Actions=K3bCDCopy;
X-KDE-Priority=TopLevel

[Desktop Action K3bCDCopy]
Name=Copy CD with K3b
Name[bg]=Копиране на CD с K3b
Name[br]=Eilañ ur CD gant K3b
Name[ca]=Copia CD amb el K3b
Name[cs]=Kopírovat CD pomocí K3b
Name[da]=Kopiér cd med K3b
Name[de]=CD mit K3b kopieren
Name[el]=Αντιγραφή CD με το K3b
Name[fi]=Kopioi cd K3b:llä
Name[fr]=Copier le CD avec K3b
Name[it]=Copia CD con K3b
Name[ja]=CD を K3b でコピー
Name[ka]=CD-ს ასლი K3b-თი
Name[nl]=CD kopiëren met K3b
Name[pa]=K3b ਨਾਲ CD ਨਕਲ
Name[pt]=Copiar o CD com o K3b
Name[pt_BR]=Copiar CD com K3b...
Name[sv]=Kopiera cd med K3b
Name[uk]=Копіювати КД за допомогою K3b
Name[uz]=K3b ёрдамида CD'дан нусха олиш
Name[xx]=xxCopy CD with K3bxx
Exec=k3b --copycd %u
Icon=cdcopy
