[Desktop Entry]
Actions=WriteCdImage
Encoding=UTF-8
ServiceTypes=application/x-cue

[Desktop Action WriteCdImage]
Exec=k3b --binimage %U
Name=Write CD Image with K3b...
Name[da]=Skriv CD-billede med K3b...
Name[de]=CD-Abbild mit K3b erstellen...
Name[es]=Escribir imagen de CD con K3b...
Name[it]=Scrivi immagine CD con K3b...
Name[pt]=Escrevr uma Imagem de CD com o K3b...
Name[pt_BR]=Escrevr uma Imagem de CD com o K3b...
Name[sk]=Zapísať obraz CD pomocou K3b...
Name[sv]=Skriv cd-avbild med K3b...
Name[zh_CN]=用 K3b 刻录 CD 映像...
Icon=k3b
