[Desktop Entry]
Actions=CreateK3bDataDVDProject
Encoding=UTF-8
ServiceTypes=all/allfiles,inode/directory
ExcludeServiceTypes=application/x-iso

[Desktop Action CreateK3bDataDVDProject]
Exec=k3b --datadvd %F
Name=Create Data DVD with K3b...
Name[bg]=Създаване на DVD с данни с K3b...
Name[bn]=কে-থ্রি-বি দিয়ে ডেটা-ডিভিডি তৈরি করো...
Name[br]=Krouiñ un DVD roadoù gant K3b ...
Name[cs]=Vytvořit datové DVD...
Name[da]=Lav data-CD med K3b...
Name[de]=Daten-DVD mit K3b erstellen...
Name[el]=Δημιουργία DVD δεδομένων με το K3b...
Name[es]=Crear DVD de datos con K3b...
Name[et]=Kirjuta andme-DVD K3b abil...
Name[fi]=Luo data-dvd K3b:llä...
Name[fr]=Créer un DVD de données avec K3b...
Name[he]=צור תקליטורי מידע DVD בעזרת K3b...
Name[is]=Búa til DVD gagnadisk með K3b...
Name[it]=Crea DVD dati con K3b...
Name[nl]=Data-dvd aanmaken met K3b...
Name[pa]=K3b ਨਾਲ ਡਾਟਾ DVD ਬਣਾਓ...
Name[pt]=Criar um DVD de Dados com o K3b...
Name[pt_BR]=Criar um DVD de Dados com o K3b...
Name[ru]=Записать DVD с данными, используя K3b...
Name[sr]=Направи DVD са подацима помоћу K3b-а...
Name[sr@Latn]=Napravi DVD sa podacima pomoću K3b-a...
Name[sv]=Skapa data-dvd med K3b...
Name[tg]=Сабт кардани Маълумотҳои CD бо истифодабарии K3b...
Name[uk]=Створити DVD з даними у K3b...
Name[xx]=xxCreate Data DVD with K3b...xx
Icon=k3b
