[Desktop Entry]
Actions=CreateK3bVcdProject;
Encoding=UTF-8
ServiceTypes=video/mpeg

[Desktop Action CreateK3bVcdProject]
Exec=k3b --videocd %F
Name=Create Video CD with K3b...
Name[br]=Krouiñ ur CD video gant K3b ...
Name[sv]=Skapa video-cd med K3b...
Icon=k3b
