[Desktop Entry]
Type=Service
Actions=CreateK3bVcdProject;
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/mpeg;

[Desktop Action CreateK3bVcdProject]
Exec=k3b --videocd %F
Name=Create Video CD with K3b...
Name[bg]=Създаване на видео CD с K3b...
Name[ca]=Crea un CD de vídeo amb el K3b...
Name[cs]=Vytvořit video CD...
Name[csb]=Ùsôdzë platã Video CD z pòmòca K3b...
Name[da]=Opret video-cd med K3b...
Name[de]=Video-CD mit K3b erstellen ...
Name[el]=Δημιουργία Video CD με το K3b...
Name[eo]=Krei Video-KD per K3b...
Name[es]=Crear CD de vídeo con K3b...
Name[et]=Kirjuta video-CD K3b abil...
Name[eu]=Sortu datu bideo CDa K3b-rekin...
Name[fi]=Luo videocd K3b:llä...
Name[fr]=Créer un CD vidéo avec K3b...
Name[ga]=Cruthaigh Dlúthdhiosca Físe le K3b...
Name[gl]=Crear un Vídeo CD con K3b...
Name[he]=צור תקליטור וידאו CD עם K3b...
Name[hi]=के3बी के जरिए वीडियो सीडी बनाएं....
Name[hne]=के3बी के साथ वीडियो सीडी बनाव....
Name[hsb]=Widejo-CDku z K3b stworić ...
Name[it]=Name=Crea Video CD con K3b...
Name[ja]=K3b でビデオ CD を作成...
Name[km]=បង្កើត​វីដេអូ​ស៊ីឌី ដោយប្រើ K3b...
Name[ko]=K3b로 비디오 CD 만들기...
Name[lt]=Kurkite video CD su K3b...
Name[lv]=Izveidot Video CD ar K3b
Name[nb]=Lag video-DVD med K3b …
Name[nds]=Video-CD mit K3b opstellen...
Name[ne]=केथ्रीबीसँग भिडियो सीडी सिर्जना गर्नुहोस्...
Name[nl]=Video-cd aanmaken K3b...
Name[pa]=K3b ਨਾਲ ਵੀਡਿਓ CD ਬਣਾਓ...
Name[pl]=Utwórz płytę Video CD za pomocą K3b...
Name[pt]=Criar um CD de Vídeo com o K3b...
Name[pt_BR]=Criar CD de Vídeo com o K3b...
Name[ro]=Creare disc video cu K3b...
Name[ru]=Записать видео компакт-диск, используя K3b...
Name[sk]=Vytvoriť video CD pomocou K3b...
Name[sl]=Ustvari Video CD s K3b ...
Name[sv]=Skapa video-cd med K3b...
Name[th]=สร้างแผ่นวิดีโอซีดีด้วย K3b...
Name[tr]=K3b ile Video CD Oluştur...
Name[uk]=Створити відео-КД через K3b...
Name[x-test]=xxCreate Video CD with K3b...xx
Name[zh_CN]=用 K3b 创建 VCD...
Name[zh_TW]=用 K3b 建立影像 CD...
Icon=k3b
