[Desktop Entry]
Actions=CreateK3bDataDVDProject
Encoding=UTF-8
ServiceTypes=all/allfiles,inode/directory
ExcludeServiceTypes=application/x-iso

[Desktop Action CreateK3bDataDVDProject]
Exec=k3b --datadvd %F
Name=Create Data DVD with K3b...
Name[cs]=Vytvořit datové DVD...
Name[de]=Daten-DVD mit K3b erstellen...
Name[nl]=Data-dvd aanmaken met K3b...
Icon=k3b
