[Desktop Entry]
Actions=WriteCdImage
Encoding=UTF-8
ServiceTypes=application/x-cue,application/x-iso

[Desktop Action WriteCdImage]
Exec=k3b --image %U
Name=Write CD Image with K3b...
Name[de]=CD Abbild mit K3b brennen...
Icon=k3b
