[Desktop Entry]
Actions=CreateK3bDataProject
Encoding=UTF-8
ServiceTypes=all/allfiles,inode/directory

[Desktop Action CreateK3bDataProject]
Exec=k3b --data %U
Name=Create Data CD with K3b...
Name[da]=Lav data-CD med K3b...
Name[de]=Daten-CD mit K3b erstellen...
Name[es]=Crear CD de datos con K3b...
Name[it]=Crea CD dati con K3b...
Name[pt]=Criar um CD de Dados com o K3b...
Name[pt_BR]=Criar um CD de Dados com o K3b...
Name[sk]=Vytvoriť dátové CD pomocou K3b...
Name[sv]=Skapa data-cd med K3b...
Name[zh_CN]=用 K3b 创建数据 CD...
Icon=k3b
