[Desktop Entry]
Actions=CreateK3bAudioProject;
Encoding=UTF-8
ServiceTypes=audio/x-mp3,audio/x-vorbis,application/x-ogg,audio/x-mp2,audio/x-mpegurl,audio/x-wav

[Desktop Action CreateK3bAudioProject]
Exec=k3b --audiocd %F
Name=Create Audio CD with K3b...
Name[br]=Krouiñ ur CD klevet gant K3b ...
Name[sv]=Skapa ljud-cd med K3b...
Icon=k3b
