[Desktop Entry]
ServiceTypes=media/audiocd,media/mixedcd
Actions=K3bRip;
X-KDE-Priority=TopLevel

[Desktop Action K3bRip]
Name=Extract Digital Audio with K3b
Name[af]=Onttrek digitale oudio m.b.v. K3b
Name[ar]= استعمل K3b لاستخراج  الصوتي الرقمي.
Name[bg]=Извличане на цифров звук с K3b
Name[br]=Eztennañ klevet niverel gant K3b
Name[ca]=Extreu àudio digital amb el K3b
Name[cs]=Extrahovat digitální zvuk pomocí K3b
Name[da]=Rip digitallyd med K3b
Name[de]=Digital-Audio mit K3b auslesen
Name[el]=Εξαγωγή ψηφιακού ήχου με το K3b
Name[eo]=Ekstraktu ciferecan sonon per K3b
Name[es]=Extraer audio digital con K3b
Name[et]=Ekstrakti digitaalne audio K3b abil
Name[fa]=استخراج صوتی رقمی با K3b
Name[fi]=Pura sisältö digitaalisesti K3b:llä
Name[fr]=Extraction Audio avec K3b
Name[gl]=Extrair Áudio Dixital con K3b
Name[hu]=Digitális hanganyag kimásolása a K3b-vel
Name[is]=Afrita stafrænt hljóð með K3b
Name[it]=Estrai audio digitale con K3b
Name[ja]=K3b でデジタルオーディオを吸い出し
Name[km]=ស្រង់​ចេញ​អូឌីយ៉ូ​ឌីជីថល​ដោយ​ប្រើ K3b
Name[lt]=Nurašyti skaitmeninį audio su K3b
Name[ms]=Ekstrak Audio Digital dengan K3b
Name[nds]=Digitaal Audiodaten mit K3b ruttrecken
Name[nl]=Digitale audio rippen met K3b
Name[nn]=Hent ut digitallyd med K3b
Name[pa]=K3b ਨਾਲ ਡਿਜ਼ੀਟਲ ਆਡੀਓ ਖੋਲ੍ਹੋ
Name[pl]=Zgraj utwory za pomocą K3b
Name[pt]=Extrair o Áudio Digital com o K3b
Name[pt_BR]=Extrair Áudio Digital com o K3b
Name[sk]=Extrahovať digitálne audio pomocou K3b
Name[sr]=Издвој дигитални звук помоћу K3b-а
Name[sr@Latn]=Izdvoj digitalni zvuk pomoću K3b-a
Name[sv]=Lagra digitalljud med K3b
Name[tr]=K3b ile Sayısal Ses Aktar
Name[uk]=Витягування цифрового аудіо за допомогою K3b
Name[uz]=K3b yordamida qoʻshiqlarni audio-faylga aylantirish
Name[uz@cyrillic]=K3b ёрдамида қўшиқларни аудио-файлга айлантириш
Name[zh_CN]=用 K3b 提取数字音频
Name[zh_TW]=使用 K3b 以數位方式提取音樂
Exec=k3b --cddarip %u
Icon=k3b
