[Desktop Entry]
Actions=WriteCdImage;
Encoding=UTF-8
ServiceTypes=application/x-cue

[Desktop Action WriteCdImage]
Exec=k3b --cdimage %F
Name=Write CD Image with K3b...
Name[af]=Skryf CD beeld met K3b...
Name[ar]= اكتب صورة (Image DATA) على القرص المدمج (CD) بواسطة  K3b .
Name[bg]=Запис на CD образ с K3b...
Name[bn]=কে-থ্রি-বি দিয়ে সিডি ইমেজ লেখো...
Name[br]=srivañ ar skeudenn CD gant K3b ...
Name[bs]=Zapiši CD image koristeći K3b...
Name[ca]=Escriu imatge de CD amb el K3b...
Name[cs]=Vypálit obraz CD...
Name[da]=Skriv cd-billede med K3b...
Name[de]=CD-Abbild mit K3b brennen ...
Name[el]=Εγγραφή εικόνας CD με το K3b...
Name[eo]=Skribu KD imagon per K3b...
Name[es]=Grabar imagen de CD con K3b...
Name[et]=Kirjuta CD-tõmmis K3b abil plaadile...
Name[fa]=نوشتن تصویر دیسک فشرده با K3b...
Name[fi]=Polta levykuva cd-levylle K3b:llä...
Name[fr]=Graver une image CD avec K3b...
Name[gl]=Escrever unha Imaxe de CD con K3b...
Name[he]=כתוב תבנית CD בעזרת K3b...
Name[hi]=के3बी के साथ सीडी इमेज लिखें...
Name[hu]=CD-képmásfájl írása a K3b-vel...
Name[is]=Skrifa diskmynd með K3b...
Name[it]=Scrivi immagine CD con K3b...
Name[ja]=K3b で CD イメージを書き込み...
Name[ka]=K3b-ით CD-ის გამოსახულების ჩაწერა...
Name[km]=សរសេរ​រូបភាព​ស៊ីឌី​ជាមួយ​នឹង K3b...
Name[lt]=Įrašyti CD atvaizdą su K3b...
Name[mk]=Запишете CD-слика со K3b...
Name[ms]= Tulis Imej CD dengan K3b...
Name[nb]=Skriv CD-bilde med K3b . . .
Name[nds]=CD-Afbild mit K3b schrieven...
Name[ne]=K3b सँग सीडी छवि सिर्जना गर्नुहोस्...
Name[nl]=CD-image schrijven met K3b...
Name[nn]=Brenn CD-bilete med K3b …
Name[pa]=K3b ਨਾਲ CD ਪ੍ਰਤੀਬਿੰਬ ਲਿਖੋ...
Name[pl]=Stwórz obraz płyty CD za pomocą K3b...
Name[pt]=Gravar uma Imagem de CD com o K3b...
Name[pt_BR]=Gravar Imagem de CD com o K3b...
Name[ru]=Записать образ CD, используя K3b...
Name[sk]=Zapísať obraz CD pomocou K3b...
Name[sl]=Zapiši sliko CD-ja s K3b ...
Name[sr]=Упиши одраз CD-а помоћу K3b-а...
Name[sr@Latn]=Upiši odraz CD-a pomoću K3b-a...
Name[sv]=Skriv cd-avbild med K3b...
Name[ta]=குறுந்தகட்டு நிழலுடன் K3bஐ உருவாக்குக...
Name[tg]=Сабт кардани намуди CD бо истифодабарии K3b...
Name[tr]=K3b ile CD Kalıbı Yazdır...
Name[uk]=Записати штамп КД за допомогою K3b...
Name[uz]=K3b yordamida CD tasvirini yozish
Name[uz@cyrillic]=K3b ёрдамида CD тасвирини ёзиш
Name[xh]=Bhala Umfanekiso we CD nge K3b...
Name[zh_CN]=用 K3b 刻录 CD 映像...
Name[zh_TW]=使用 K3b 燒錄 CD 影像...
Icon=k3b
