[Desktop Entry]
Actions=CreateK3bDataProject;
Encoding=UTF-8
ServiceTypes=all/allfiles,inode/directory
ExcludeServiceTypes=application/x-iso,kdedevice/*

[Desktop Action CreateK3bDataProject]
Exec=k3b --datacd %F
Name=Create Data CD with K3b...
Name[bg]=Създаване на CD с данни с K3b...
Name[br]=Krouiñ ur CD roadoù gant K3b ...
Name[bs]=Napravi podatkovni CD koristeći K3b...
Name[ca]=Crea CD de dades amb K3b...
Name[cs]=Vytvořit datové CD...
Name[da]=Lav data-CD med K3b...
Name[de]=Daten-CD mit K3b erstellen...
Name[el]=Δημιουργία CD δεδομένων με το K3b...
Name[es]=Crear CD de datos con K3b...
Name[et]=Kirjuta andme-CD K3b abil...
Name[fr]=Créer un CD de données avec K3b...
Name[hi]=के3बी के साथ डाटा सीडी बनाए...
Name[hu]=Adat-CD létrehozása a K3b-vel...
Name[is]=Búa til gagna CD með K3b...
Name[it]=Crea CD dati con K3b...
Name[ja]=データ CD を K3b で作成...
Name[ms]= Cipta CD Data dengan K3b...
Name[nl]=Data-cd aanmaken met K3b...
Name[pl]=Stwórz płytę CD z danymi za pomocą K3b...
Name[pt]=Criar um CD de Dados com o K3b...
Name[pt_BR]=Criar CD de dados com K3b...
Name[ru]=Записать компакт-диск с данными, используя K3b...
Name[sk]=Vytvoriť dátové CD pomocou K3b...
Name[sl]=Ustvari podatkovni CD s K3b ...
Name[sr]=Направи CD са подацима помоћу K3b-а...
Name[sr@Latn]=Napravi CD sa podacima pomoću K3b-a...
Name[sv]=Skapa data-cd med K3b...
Name[ta]=தகவல் குறுந்தகட்டோடு K3b ஐ உருவாக்குக...
Name[tg]=Сабт кардани CD бо маълумотҳо,бо истифодабарии K3b...
Name[uk]=Створити КД з даними за допомогою K3b...
Name[xh]=Yenza i CD yolwazi nge K3b...
Name[xx]=xxCreate Data CD with K3b...xx
Name[zh_CN]=用 K3b 创建数据 CD...
Icon=k3b
