[Desktop Entry]
Actions=CreateK3bAudioProject
Encoding=UTF-8
ServiceTypes=audio/x-mp3,audio/x-vorbis,application/x-ogg,audio/x-mp2,audio/x-mpegurl,audio/x-wav

[Desktop Action CreateK3bAudioProject]
Exec=k3b --audio %U
Name=Create Audio CD with K3b...
Name[da]=Lav lyd-CD med K3b...
Name[de]=Audio-CD mit K3b erstellen...
Name[el]=Δημιουργία μουσικού CD με το K3b...
Name[es]=Crear CD de audio con K3b...
Name[fr]=Créer un CD audio avec K3b...
Name[it]=Crea CD audio con K3b...
Name[nl]=Audio-cd aanmaken met K3b...
Name[pt]=Criar um CD de Áudio com o K3b...
Name[pt_BR]=Criar CD de Áudio com K3b...
Name[sk]=Vytvoriť zvukové CD pomocou K3b...
Name[sv]=Skapa ljud-cd med K3b...
Name[xh]=Yenza i CD Yokuvakalayo nge K3b...
Name[zh_CN]=用 K3b 创建音频 CD...
Icon=k3b
