[Desktop Entry]
Actions=WriteCdImage;
Encoding=UTF-8
ServiceTypes=application/x-iso,inode/ISO-image

[Desktop Action WriteCdImage]
Exec=k3b --image %F
Name=Write CD or DVD Image with K3b...
Name[af]=Skryf CD of DVD beeld lêer m.b.v. K3b...
Name[ar]= اكتب صورة على القرص المدمج (CD) او على القرص المرئي الرقمي (DVD) بواسطة  K3b .
Name[bg]=Запис на CD или DVD файл-снимка с K3b...
Name[bn]=কে-থ্রি-বি দিয়ে সিডি অথবা ডিভিডি ইমেজ লেখো...
Name[br]=srivañ ur skeudenn CD pe DVD gant K3b ...
Name[ca]=Escriu imatge de CD o DVD amb el K3b...
Name[cs]=Vypálit obraz CD nebo DVD pomocí K3b...
Name[da]=Skriv cd- eller dvd-billede med K3b...
Name[de]=CD/DVD-Abbild mit K3b brennen ...
Name[el]=Εγγραφή εικόνας CD ή DVD με το K3b...
Name[es]=Escribir imagen de CD o DVD con K3b...
Name[et]=Kirjuta CD- või DVD-tõmmis K3b abil plaadile...
Name[fa]=نوشتن تصویر دیسک فشرده یا دی وی دی با K3b...
Name[fi]=Polta levykuva cd- tai dvd-levylle K3b:llä...
Name[fr]=Graver une image CD ou DVD avec K3b...
Name[gl]=Escrever unha Imaxe de CD ou DVD con K3b...
Name[is]=Skrifa disk eða DVD mynd með K3b...
Name[it]=Scrivi immagine CD o DVD con K3b...
Name[ja]=CD/DVD イメージを K3b で書き込み...
Name[ka]=K3b-ით CD ან DVD გამოსახულების ჩაწერა...
Name[nl]=CD of DVD-image schrijven met K3b...
Name[pa]=K3b ਨਾਲ CD ਜਾਂ DVD ਪ੍ਰਤੀਬਿੰਬ ਲਿਖੋ...
Name[pl]=Nagraj obraz płyty CD lub DVD na płytę za pomocą K3b...
Name[pt]=Escrever uma Imagem de CD ou DVD com o K3b...
Name[pt_BR]=Gravar Imagem de CD ou DVD com o K3b...
Name[ru]=Записать образ CD или DVD, используя K3b...
Name[sk]=Zapísať obraz CD alebo DVD pomocou K3b...
Name[sr]=Уписује CD или DVD помоћу K3b-а...
Name[sr@Latn]=Upisuje CD ili DVD pomoću K3b-a...
Name[sv]=Skriv cd- eller dvd-avbild med K3b...
Name[tg]=Сабт кардани тасвири CD ё DVD бо истифодабарии K3b...
Name[tr]=K3b ile CD ya da DVD görüntüsü Yazdır...
Name[uk]=Записати штамп КД або DVD у K3b...
Name[uz]=K3b ёрдамида CD ёки DVD тасвирини ёзиш
Name[xx]=xxWrite CD or DVD Image with K3b...xx
Name[zh_CN]=用 K3b 刻录 CD 或 DVD 映像...
Name[zh_TW]=使用 K3b 燒錄 CD 或 DVD 影像...
Icon=k3b
