[Desktop Entry]
Actions=WriteCdImage;
Encoding=UTF-8
ServiceTypes=application/x-iso,inode/ISO-image

[Desktop Action WriteCdImage]
Exec=k3b --image %F
Name=Write CD or DVD Image with K3b...
Name[sv]=Skriv cd- eller dvd-avbild med K3b...
Icon=k3b
