[Desktop Entry]
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND OpticalDisc.availableContent == 'Audio|Data|VideoDvd' ]
Actions=K3bCopy;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action K3bCopy]
Name=Copy with K3b
Name[da]=Kopiér med K3b
Name[es]=Copiar con K3b
Name[et]=Kopeeri K3b abil
Name[fr]=Copier avec K3b
Name[ga]=Cóipeáil le K3b
Name[nb]=Kopier med K3b
Name[nds]=Mit K3b koperen
Name[nl]=Kopiëren met K3b
Name[pt]=Copiar com o K3b
Name[pt_BR]=Copiar com o K3b
Name[ro]=Copiere cu K3b
Name[ru]=Копировать, используя K3b
Name[sl]=Skopiraj s K3b
Name[sv]=Kopiera med K3b
Name[tr]=K3b ile Kopyala
Name[uk]=Скопіювати за допомогою K3b
Name[x-test]=xxCopy with K3bxx
Exec=k3b --copy %i
Icon=k3b
