[Desktop Entry]
Actions=CreateK3bDataDVDProject
Encoding=UTF-8
ServiceTypes=all/allfiles,inode/directory
ExcludeServiceTypes=application/x-iso

[Desktop Action CreateK3bDataDVDProject]
Exec=k3b --datadvd %F
Name=Create Data DVD with K3b...
Name[af]=Skep 'n Data DVD m.b.v. K3b...
Name[ar]= انشيء القرص المرئي الرقمي (DVD) لحفظ البيانات (Data) بواسطة  K3b ...
Name[bg]=Създаване на DVD с данни с K3b...
Name[bn]=কে-থ্রি-বি দিয়ে ডেটা-ডিভিডি তৈরি করো...
Name[br]=Krouiñ un DVD roadoù gant K3b ...
Name[ca]=Crea un DVD de dades amb el K3b...
Name[cs]=Vytvořit datové DVD...
Name[da]=Lav data-cd med K3b...
Name[de]=Daten-DVD mit K3b erstellen ...
Name[el]=Δημιουργία DVD δεδομένων με το K3b...
Name[eo]=Kreu datuman DVD per K3b...
Name[es]=Crear DVD de datos con K3b...
Name[et]=Kirjuta andme-DVD K3b abil...
Name[fa]=ایجاد دی وی دی داده با K3b...
Name[fi]=Luo data-dvd K3b:llä...
Name[fr]=Créer un DVD de données avec K3b...
Name[gl]=Criar un DVD de Dados con K3b...
Name[he]=צור תקליטורי מידע DVD בעזרת K3b...
Name[hu]=Adat-DVD létrehozása a K3b-vel...
Name[is]=Búa til DVD gagnadisk með K3b...
Name[it]=Crea DVD dati con K3b...
Name[ja]=K3b でデータ DVD を作成...
Name[ka]=K3b-ით მონაცემთა DVD-ის ჩაწერა...
Name[km]=បង្កើត​ឌីវីឌី​ទិន្នន័យ​ដោយ​ប្រើ K3b...
Name[lt]=Kurti duomenų DVD su K3b...
Name[mk]=Креирајте податочно DVD со K3b...
Name[ms]=Cipta DVD Data dengan K3b...
Name[nb]=Lag data-DVD med K3b . . .
Name[nds]=Daten-DVD mit K3b opstellen...
Name[nl]=Gegevens-dvd aanmaken met K3b...
Name[nn]=Lag data-DVD med K3b …
Name[pa]=K3b ਨਾਲ ਡਾਟਾ DVD ਬਣਾਓ...
Name[pl]=Stwórz płytę DVD z danymi za pomocą K3b...
Name[pt]=Criar um DVD de Dados com o K3b...
Name[pt_BR]=Criar DVD de Dados com o K3b...
Name[ru]=Записать DVD с данными, используя K3b...
Name[sk]=Vytvoriť dátové DVD pomocou K3b...
Name[sr]=Направи DVD са подацима помоћу K3b-а...
Name[sr@Latn]=Napravi DVD sa podacima pomoću K3b-a...
Name[sv]=Skapa data-dvd med K3b...
Name[tg]=Сабт кардани Маълумотҳои CD бо истифодабарии K3b...
Name[tr]=K3b ile Veri DVD'si oluştur...
Name[uk]=Створити DVD з даними у K3b...
Name[uz]=K3b yordamida maʼlumot DVD yaratish
Name[uz@cyrillic]=K3b ёрдамида маълумот DVD яратиш
Name[zh_CN]=用 K3b 创建数据 DVD...
Name[zh_TW]=使用 K3b 建立資料 DVD...
Icon=k3b
