[Desktop Entry]
ServiceTypes=media/cdrom_unmounted,media/cdwriter_unmounted,media/audiocd
Actions=K3bCDCopy;
X-KDE-Priority=TopLevel

[Desktop Action K3bCDCopy]
Name=Copy CD with K3b
Name[el]=Αντιγραφή CD με το K3b
Exec=k3b --copycd %u
Icon=k3b
