[Desktop Entry]
ServiceTypes=media/cdrom_unmounted,media/cdwriter_unmounted,media/audiocd
Actions=K3bCDCopy;
X-KDE-Priority=TopLevel

[Desktop Action K3bCDCopy]
Name=Copy CD with K3b
Name[pt]=Copiar o CD com o K3b
Name[pt_BR]=Copiar o CD com o K3b
Name[sv]=Kopiera cd med K3b
Exec=k3b --copycd %u
Icon=cdcopy
