[Desktop Entry]
ServiceTypes=media/dvdrom_unmounted,media/dvdwriter_unmounted
Actions=K3bDVDCopy;
X-KDE-Priority=TopLevel

[Desktop Action K3bDVDCopy]
Name=Copy DVD with K3b
Name[bg]=Копиране на DVD с K3b
Name[br]=Eilañ un DVD gant K3b
Name[da]=Kopiér dvd med K3b
Name[de]=DVD mit K3b kopieren
Name[el]=Αντιγραφή DVD με το K3b
Name[fi]=Kopioi dvd K3b:llä
Name[fr]=Copier le DVD avec K3b
Name[it]=Copia DVD con K3b
Name[nl]=DVD kopiëren met K3b
Name[pt]=Copiar o DVD com o K3b
Name[pt_BR]=Copiar o DVD com o K3b
Name[sv]=Kopiera dvd med K3b
Name[xx]=xxCopy DVD with K3bxx
Exec=k3b --copydvd %u
Icon=dvdcopy
