[Desktop Entry]
Actions=CreateK3bAudioProject;
Encoding=UTF-8
ServiceTypes=audio/x-mp3,audio/x-vorbis,application/x-ogg,audio/x-mp2,audio/x-mpegurl,audio/x-wav

[Desktop Action CreateK3bAudioProject]
Exec=k3b --audiocd %F
Name=Create Audio CD with K3b...
Name[af]=Skep oudio CD met K3b...
Name[ar]= انشيء القرص المدمج السمعي بواسطة  K3b ...
Name[bg]=Създаване на аудио CD с K3b...
Name[bn]=কে-থ্রি-বি দিয়ে অডিও সিডি তৈরি করো...
Name[br]=Krouiñ ur CD klevet gant K3b ...
Name[bs]=Napravio audio CD koristeći K3b...
Name[ca]=Crea un CD d'àudio amb el K3b...
Name[cs]=Vytvořit zvukové CD...
Name[da]=Lav lyd-cd med K3b...
Name[de]=Audio-CD mit K3b erstellen ...
Name[el]=Δημιουργία CD ήχου με το K3b...
Name[eo]=Kreu sonan KD per K3b...
Name[es]=Crear CD de audio con K3b...
Name[et]=Kirjuta audio-CD K3b abil...
Name[fa]=ایجاد دیسک فشردۀ صوتی با K3b...
Name[fi]=Luo musiikki-cd K3b:llä...
Name[fr]=Créer un CD audio avec K3b...
Name[gl]=Criar un CD de Áudio con K3b...
Name[he]=צור תקליטור שמע בעזרת K3b...
Name[hi]=के3बी के साथ ऑडियो सीडी बनाए...
Name[hu]=Hang-CD létrehozása a K3b-vel...
Name[is]=Búa til hljóðdisk með K3b...
Name[it]=Crea CD audio con K3b...
Name[ja]=K3b でオーディオ CD を作成...
Name[ka]=K3b-ით Audio CD-ის ჩაწერა...
Name[km]=បង្កើត​ស៊ីឌី​អូឌីយ៉ូ​ជាមួយ​នឹង K3b...
Name[lt]=Kurti audio CD su K3b...
Name[mk]=Креирајте аудио-CD со K3b...
Name[ms]= Cipta Audio CD dengan K3b...
Name[nb]=Lag lyd-CD med K3b . . .
Name[nds]=Audio-CD mit K3b opstellen...
Name[ne]=K3b सँग अडियो सीडी सिर्जना गर्नुहोस्...
Name[nl]=Audio-cd aanmaken met K3b...
Name[nn]=Lag lyd-CD med K3b …
Name[pa]=K2b ਨਾਲ ਆਡੀਓ CD ਬਣਾਓ...
Name[pl]=Stwórz płytę CD Audio za pomocą K3b...
Name[pt]=Criar um CD de Áudio com o K3b...
Name[pt_BR]=Criar CD de Áudio com o K3b...
Name[ru]=Записать аудио компакт-диск, используя K3b...
Name[sk]=Vytvoriť audio CD pomocou K3b...
Name[sl]=Ustvari avdio CD s K3b ...
Name[sr]=Направи аудио CD помоћу K3b-а...
Name[sr@Latn]=Napravi audio CD pomoću K3b-a...
Name[sv]=Skapa ljud-cd med K3b...
Name[ta]=ஒலிக் குறுந்தகட்டோடு K3bயை உருவாக்குக...
Name[tg]=Сабт кардани аудио компакт-диск бо истифодаи K3b...
Name[tr]=K3b ile Ses CD'si oluştur...
Name[uk]=Створити аудіо-КД за допомогою K3b...
Name[uz]=K3b yordamida audio CD yaratish
Name[uz@cyrillic]=K3b ёрдамида аудио CD яратиш
Name[xh]=Yenza i CD Yokuvakalayo nge K3b...
Name[zh_CN]=用 K3b 创建音频 CD...
Name[zh_TW]=使用 K3b 建立音樂 CD...
Icon=k3b
