[Desktop Entry]
Type=Service
Actions=WriteCdImage;
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-iso;inode/ISO-image;

[Desktop Action WriteCdImage]
Exec=k3b --image %F
Name=Write image to disc with K3b...
Name[et]=Kirjuta tõmmis K3b abil plaadile...
Name[fr]=Écrire une image vers le disque avec K3b...
Name[ga]=Scríobh íomhá go dtí an diosca le K3b...
Name[nb]=Skriv bilde til harddisk med K3b …
Name[nds]=Afbild mit K3b op Fastplaat schrieven...
Name[nl]=Image naar schijf schrijven met K3b...
Name[pt]=Gravar uma imagem no disco com o K3b...
Name[pt_BR]=Gravar imagem para disco com o K3b...
Name[ro]=Scriere imagine pe disc cu K3b...
Name[ru]=Записать образ диска, используя K3b...
Name[sv]=Skriv avbild till skiva med K3b...
Name[uk]=Записати штамп на диск за допомогою K3b...
Name[x-test]=xxWrite image to disc with K3b...xx
Icon=k3b
