[Desktop Entry]
ServiceTypes=KonqPopupMenu/Plugin;media/blankdvd;
Actions=K3bDataProject;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action K3bDataProject]
Exec=k3b --device %u --data
Name=Create Data CD with K3b...
Name[bg]=Създаване на CD с данни с K3b...
Name[ca]=Crea un CD de dades amb el K3b...
Name[cs]=Vytvořit datové CD...
Name[csb]=Ùsôdzë platã CD z pòdôwkama z pòmòcą K3b...
Name[de]=Daten-CD mit K3b erstellen ...
Name[el]=Δημιουργία CD δεδομένων με το K3b...
Name[eo]=Krei datuman KD per K3b...
Name[es]=Crear CD de datos con K3b...
Name[et]=Kirjuta andme-CD K3b abil...
Name[fi]=Luo data-cd K3b:llä...
Name[fr]=Créer un CD de données avec K3b...
Name[ga]=Cruthaigh Dlúthdhiosca Sonraí le K3b...
Name[gl]=Crear un Cd de datos con K3b...
Name[hsb]=Datowu
Name[ja]=K3b でデータ CD を作成...
Name[km]=បង្កើត​ស៊ីឌី​ទិន្នន័យ ដោយប្រើ K3b...
Name[ko]=K3b로 데이터 CD 만들기...
Name[lt]=Kurkite duomenų CD su K3b...
Name[lv]=Izveidot Datu CD ar K3b
Name[nb]=Lag data-CD med K3b …
Name[nds]=Daten-CD mit K3b opstellen...
Name[ne]=केथ्रीबीसँग डेटा सीडी सिर्जना गर्नुहोस्...
Name[nl]=Gegevens-cd aanmaken met K3b...
Name[pl]=Utwórz płytę CD z danymi za pomocą K3b...
Name[pt]=Criar um CD de Dados com o K3b...
Name[pt_BR]=Criar CD de Dados com o K3b...
Name[sk]=Vytvoriť dátové CD pomocou K3b...
Name[sv]=Skapa data-cd med K3b...
Name[th]=สร้างแผ่น CD บันทึกข้อมูลด้วย K3b...
Name[tr]=K3b ile Veri CD'si Oluştur...
Name[uk]=Створити КД з даними через K3b...
Name[x-test]=xxCreate Data CD with K3b...xx
Name[zh_CN]=用 K3b 创建数据 CD...
Icon=k3b
