# KDE Config File  
[Desktop Entry]
Type=Application
Exec=kdesu k3bsetup  
Icon=k3b.png
MiniIcon=k3b.png
DocPath=k3b/index.html
Comment=Prepares the system for CD writing
Terminal=0
Name=K3b Setup
