# KDE Config File  
[Desktop Entry]
Type=Application
Exec=kdesu k3bsetup  
Icon=k3b.png
MiniIcon=k3b.png
DocPath=k3b/index.html
Comment=Prepares the system for CD writing
Comment[da]=Forbereder systemet for CD-skrivning
Comment[de]=de]=Vorbereitung für das Beschreiben von CDs
Comment[el]=Προετοιμάζει το σύστημα για εγγραφή CD
Comment[es]=Prepara el sistema para la escritura de CDs
Comment[fr]=Prépare le système pour l'écriture de CD
Comment[it]=Prepara il sistema per la masterizzazione di CD
Comment[nl]=Bereidt het systeem voor op CD-branden
Comment[pt]=Prepara o sistema para a gravação de CDs
Comment[pt_BR]=Prepara o sistema para escrita em CD
Comment[sk]=Pripravý sytém pre zápis CD
Comment[sv]=Förbereder systemet för att skriva en cd
Comment[xh]=Ilungisa indlela yokusebenza yokubhala kwe CD
Comment[zh_CN]=为 CD 刻录准备系统配置
Comment[zh_TW]=準備 CD 燒錄的系統
Comment[zu]=Ihlelela ukubhala kwi-CD kwesistimu
Terminal=0
Name=K3b Setup
Name[da]=K3b opsætning
Name[de]=de]=K3b-Einrichtung
Name[el]=Ρύθμιση K3b
Name[es]=Configuración de K3b
Name[fr]=Réglages de K3b
Name[he]=התקנת K3b
Name[it]=Impostazioni di K3b
Name[pt]=Configuração do K3b
Name[pt_BR]=Preparação do K3b
Name[sk]=K3b nsatevenie
Name[sv]=K3b-inställning
Name[xh]=Ucwangciso lwe K3b
Name[zh_CN]=K3b 设置
Name[zh_TW]=K3b 設定
Name[zu]=Isimiso se-K3b
