[Desktop Entry]
Encoding=UTF-8
Comment=K3bSetup 2 - modify permission for CD/DVD burning with K3b
Comment[ca]=K3bSetup 2 - modifica els permisos per a cremar CD i DVD amb K3b
Comment[cs]=K3bSetup 2 - změna oprávnění pro vypalování CD/DVD s K3b
Comment[da]=K3bSetup 2 - ændring af tilladelser for CD/DVD-brænding med K3b
Comment[de]=K3b-Einrichtung: Zugriffsrechte für das Brennen von CDs/DVDs mit K3b anpassen
Comment[el]=Ρύθμιση K3b 2 - τροποποίηση αδειών για εγγραφή CD/DVD με το K3b
Comment[es]=K3bSetup 2 - modifica el permiso para grabar CD/DVD con K3b
Comment[et]=K3b seadistamine - võimalus muuta õigusi CD/DVD kirjutamiseks K3b abil
Comment[fr]=K3bSetup 2 - Modification des permissions pour la gravure de CD / DVD avec K3b
Comment[hi]=के3बी-सेटअप 2 - के3बी के साथ सीडी/डीवीडी बर्निंग हेतु आज्ञाएँ परिवर्धित करें
Comment[hu]=K3bSetup 2 - jogosultságbeállítás CD/DVD-íráshoz a K3b-ben
Comment[it]=Impostazioni di K3b 2 - modifica i permessi per CD/DVD per scrivere con K3b
Comment[nl]=K3bSetup 2 - stelt de toegangsrechten in voor cd/dvd-branden met K3b
Comment[pt]=K3bSetup 2 - modificar as permissões para a gravação de CDs/DVDs com o K3b
Comment[pt_BR]=K3bSetup 2 - modifica as permissões para a queima de CD/DVD com o K3b
Comment[ru]=K3bSetup 2 - настроить права для записи при помощи K3b
Comment[sl]=K3bSetup  - spremeni dovoljenja za pisanje CD/DVD-jev s K3b
Comment[sr]=K3bSetup 2 — измените дозволе за резање CD/DVD-ова помоћу K3b-а
Comment[sr@Latn]=K3bSetup 2 — измените дозволе за резање CD/DVD-ова помоћу K3b-а
Comment[sv]=Ställ in K3b 2: ändra rättigheter för att bränna cd/dvd med K3b
Comment[ta]= K3bஅமைவு2-K3b ஐ CD/DVD களோடு எறிவதற்க்காக அனுமதி மாற்றுவதற்க்காக
Comment[xx]=xxK3bSetup 2 - modify permission for CD/DVD burning with K3bxx
Comment[zh_CN]=K3b 设置 2 - 修改使用 K3b 烧录 CD/DVD 的权限
Exec=k3bsetup
Keywords=K3bSetup2,k3bsetup2
Keywords[de]=K3b-Einrichtung
Keywords[el]=Ρύθμιση K3b 2,k3bsetup2
Keywords[et]=K3bSetup2,k3bsetup2,k3b seadistamine
Keywords[hi]=के3बी-सेटअप 2,के3बी-सेटअप2
Keywords[nl]=K3bSetup2,k3bsetup2,branden,cd branden,dvd,dvd branden
Keywords[sv]=Ställ in K3b 2,k3bsetup2
Keywords[ta]=K3bஅமைவு2,K3bஅமைவு2
Keywords[xx]=xxK3bSetup2,k3bsetup2xx
Name=K3bSetup
Name[de]=K3b-Einrichtung
Name[el]=Ρύθμιση K3b 2
Name[et]=K3b seadistamine
Name[hi]=के3बी-सेटअप 2
Name[it]=Impostazioni di K3b 2
Name[sv]=Ställ in K3b 2
Name[ta]=K3bஅமைவு
Name[xx]=xxK3bSetup 2xx
Name[zh_CN]=K3b 设置 2
Terminal=false
Type=Application
Icon=k3b
X-KDE-FactoryName=k3bsetup2
X-KDE-Library=k3bsetup2
X-KDE-ModuleType=Library
X-KDE-RootOnly=true
Categories=Application;System;X-KDE-System;
