[Desktop Entry]
Name=K3b MAD Decoder
Name[ca]=Descodificador MAD del K3b
Name[ca@valencia]=Descodificador MAD del K3b
Name[cs]=MAD dekodér K3b
Name[pt]=Descodificador MAD do K3b
Name[sv]=K3b MAD-avkodare
Name[uk]=Декодер MAD для K3b
Name[x-test]=xxK3b MAD Decoderxx
Comment=Decoding module to decode MPEG 1 Layer III files
Comment[ca]=Mòdul de descodificació per a descodificar fitxers MPEG 1 Layer III
Comment[ca@valencia]=Mòdul de descodificació per a descodificar fitxers MPEG 1 Layer III
Comment[cs]=Modul pro dekódování souborů MPEG 1 Layer III
Comment[pt]=Módulo de descodificação de ficheiros MPEG 1 Layer III
Comment[sv]=Avkodningsmodul för att avkoda MPEG 1 lager III-filer
Comment[uk]=Модуль декодування файлів MPEG 1 Layer III
Comment[x-test]=xxDecoding module to decode MPEG 1 Layer III filesxx
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3bmaddecoder
X-KDE-PluginInfo-Name=k3bmaddecoder
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=4.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=AudioDecoder
X-KDE-PluginInfo-EnabledByDefault=true
