[Desktop Entry]
Encoding=UTF-8
Comment=K3bSetup 2 - modify permission for CD/DVD burning with K3b
Comment[ar]= اعداد K3B  2 - غيًر الصلاحيات (الاذون ) كي تستطيع كتابة الاقراص المدمجة (CD) او الاقراص المرئية الرقمية (DVD)  بواسطة K3B
Comment[bg]=Настройка 2 на K3b - промяна на правата за запис на CD/DVD с K3b
Comment[bn]=কে-থ্রি-বি ব্যবস্থাপনা ২ - কে-থ্রি-বি দিয়ে সিডি/ডিভিডি লিখনের জন্য অনুমতি পরিবর্তন করে
Comment[bs]=K3bSetup 2 - promijenite privilegije za CD/DVD prženje sa K3b-om
Comment[ca]=K3bSetup 2 - modifica els permisos per a cremar CD i DVD amb K3b
Comment[cs]=K3bSetup 2 - změna oprávnění pro vypalování CD/DVD s K3b
Comment[da]=K3bSetup 2 - ændring af tilladelser for cd/dvd-brænding med K3b
Comment[de]=K3b Einrichtungsassistent - Zugriffsrechte zum Brennen mit K3b anpassen
Comment[el]=Ρύθμιση K3b 2 - τροποποίηση δικαιωμάτων για εγγραφή CD/DVD με το K3b
Comment[es]=K3bSetup 2 - modifica los permisos para la grabación de CDs o DVDs con K3b
Comment[et]=K3b seadistamine - võimalus muuta õigusi CD/DVD kirjutamiseks K3b-ga
Comment[fi]=K3bSetup 2 - aseta K3b:n poltto-oikeudet
Comment[fr]=K3bSetup 2 - Modification des permissions pour la gravure de CD / DVD avec K3b
Comment[gl]=K3bSetup 2 - modifica os permisos para gravar CDs/DVDs con K3b
Comment[he]=K3bSetup 2 - שינוי הרשאות עבור צריבת תקליטורי CD/DVD עם K3b
Comment[hi]=के3बी-सेटअप 2 - के3बी के साथ सीडी/डीवीडी बर्निंग हेतु आज्ञाएँ परिवर्धित करें
Comment[hu]=K3bSetup 2 - jogosultságbeállítás CD/DVD-íráshoz a K3b-ben
Comment[is]=K3bSetup 2 - breyta aðgangsheimildum á CD/DVD skrifun með K3b
Comment[it]=Impostazioni di K3b 2 - modifica i permessi per CD/DVD per scrivere con K3b
Comment[ja]=K3bSetup 2 - CD/DVD 書き込み用に K3b で許可属性を変更
Comment[ka]=K3bSetup 2 - K3b-ით CD/DVD-ის ჩაწერის უფლების შეცვლა
Comment[lt]=K3bSetup 2 - pakeiskite leidimus CD/DVD kūrimui su K3b
Comment[mk]=K3bSetup 2 - менување на дозволите за снимање на CD/DVD со K3b
Comment[ms]=K3bSetup2 - mengubahsuai kebenaran untuk membakar CD/DVD dengan K3b
Comment[nl]=K3bSetup 2 - stelt de toegangsrechten in voor cd/dvd-branden met K3b
Comment[pa]=K3bSetup 2 - K3b ਨਾਲ CD/DVD ਲਿਖਣ ਲਈ ਅਧਿਕਾਰ ਸੋਧ
Comment[pl]=K3bSetup 2 - modyfikacja uprawnień do nagrywania płyt CD/DVD za pomocą K3b
Comment[pt]=K3bSetup 2 - modificar as permissões para a gravação de CDs/DVDs com o K3b
Comment[pt_BR]=Configurações Avançadas do K3b - modifica as permissões para a queima de CD/DVD com o K3b
Comment[ru]=K3bSetup 2 - настроить права для записи при помощи K3b
Comment[sl]=K3bSetup  - spremeni dovoljenja za pisanje CD/DVD-jev s K3b
Comment[sr]=K3bSetup 2 — мења дозволе за резање CD/DVD-ова помоћу K3b-а
Comment[sr@Latn]=K3bSetup 2 — menja dozvole za rezanje CD/DVD-ova pomoću K3b-a
Comment[sv]=Ställ in K3b 2: ändra rättigheter för att bränna cd/dvd med K3b
Comment[ta]= K3bஅமைவு2 - K3b ஐ CD/DVD களோடு எழுதுவதற்காக அனுமதி மாற்றுவதற்காக
Comment[tg]=K3bSetup 2 - танзим кардани иҷозат барои сабт бо ёрии K3b
Comment[tr]=K3bSetup 2 - K3b ile CD/DVD kaydetme izinlerini ayarlama
Comment[uk]=K3bSetup 2 - зміна прав доступу для запису КД/DVD за допомогою K3b
Comment[xx]=xxK3bSetup 2 - modify permission for CD/DVD burning with K3bxx
Comment[zh_CN]=K3b 设置 2 - 修改使用 K3b 烧录 CD/DVD 的权限
Exec=k3bsetup
Keywords=K3bSetup2,k3bsetup2
Keywords[ar]=اعداد K3b , K3b2
Keywords[bg]=Настройка 2 на K3b,k3bsetup2
Keywords[de]=K3b, Einrichtungsassistent, Rechte
Keywords[el]=Ρύθμιση K3b 2,k3bsetup2
Keywords[et]=K3bSetup2,k3bsetup2,k3b seadistamine
Keywords[hi]=के3बी-सेटअप 2,के3बी-सेटअप2
Keywords[nl]=K3bSetup2,k3bsetup2,branden,cd branden,dvd,dvd branden
Keywords[pl]=K3bSetup2,k3bsetup2,k3b,ustawienia,uprawnienia
Keywords[pt_BR]=Configurações Avançadas do K3b,configurações avançadas do K3b
Keywords[sv]=Ställ in K3b 2,k3bsetup2
Keywords[ta]=K3bஅமைவு2,K3bஅமைவு2
Keywords[tg]=ТанзимиK3b2,танзимиk3b2
Keywords[uz]=K3bSetup2,k3bsetup2,CD,компакт-диск
Keywords[xx]=xxK3bSetup2,k3bsetup2xx
Name=K3bSetup
Name[ar]= اعداد K3b
Name[bg]=Настройка на K3b
Name[bn]=কে-থ্রি-বি ব্যবস্থাপনা
Name[de]=K3b Einrichtungsassistent
Name[et]=K3b seadistamine
Name[hi]=के3बी-सेटअप
Name[it]=Impostazioni di K3b
Name[pt_BR]=Configurar K3b
Name[sv]=Ställ in K3b
Name[ta]=K3b அமைவு
Name[tg]=ТанзимиK3b
Name[xx]=xxK3bSetupxx
Terminal=false
Type=Application
Icon=k3b
X-KDE-FactoryName=k3bsetup2
X-KDE-Library=k3bsetup2
X-KDE-ModuleType=Library
X-KDE-RootOnly=true
Categories=Application;System;X-KDE-System;
GenericName=CD & DVD Burning Setup
GenericName[ar]=العام  اعداد كتابة القرص المدمج (CD) و القرص المرئي الرقمي (DVD)
GenericName[bg]=Настройки за запис на CD и DVD
GenericName[bn]=সিডি এবং ডিভিডি লিখন ব্যবস্থাপনা
GenericName[ca]=Programa per gravar CDs i DVDs
GenericName[cs]=Nastavení vypalování CD a DVD
GenericName[da]=Cd & dvd opsætning til brænding
GenericName[de]=CD & DVD-Brennen einrichten
GenericName[el]=Ρύθμιση εγγραφής CD & DVD
GenericName[es]=Configurar grabación de CDs y DVDs
GenericName[et]=CD ja DVD kirjutamise seadistamine
GenericName[fi]=K3b-poltto-ohjelman asetusten määritys
GenericName[fr]=Configuration de la gravure de CD et de DVD
GenericName[gl]=Configurazón da Grabazón de CDs e DVDs
GenericName[is]=Uppsetning á CD og DVD brennslu
GenericName[it]=Impostazioni di masterizzazione CD e DVD
GenericName[ja]=CD / DVD 作成の設定
GenericName[ka]=CD-ის და DVD-ის ჩაწერის პარამეტრები
GenericName[lt]=CD & DVD kūrimo sąranka
GenericName[mk]=Поставувања за снимање со CD & DVD
GenericName[nl]=CD- en dvd-branden instellen
GenericName[pa]=CD & DVD ਲਿਖਣ ਸੈਟਅੱਪ
GenericName[pl]=Konfiguracja nagrywania płyt CD i DVD
GenericName[pt]=Configuração da Gravação de CDs e DVDs
GenericName[pt_BR]=Configuração da Queima de CD & DVD
GenericName[ru]=Настройка записи CD и DVD
GenericName[sl]=Nastavitve za pisanje CD-jev in DVD-jev
GenericName[sr]=Подешавање резања CD-ова и DVD-ова
GenericName[sr@Latn]=Podešavanje rezanja CD-ova i DVD-ova
GenericName[sv]=Cd och dvd-bränninställning
GenericName[ta]=சிடி & DVD  நகல் எடுக்கும் அமைப்பு
GenericName[tg]=Танзимоти сабткунии CD ва DVD
GenericName[tr]=CD & DVD Kaydetme Kurulumu
GenericName[uk]=Налажтування запису КД та DVD
GenericName[uz]=CD ва DVD дискка ёзишни мослаш
GenericName[xx]=xxCD & DVD Burning Setupxx
GenericName[zh_CN]=CD & DVD 刻录程序设置
