[Desktop Entry]
Encoding=UTF-8
Comment=K3bSetup – modify permission for CD/DVD burning with K3b
Comment[ca]=K3bSetup - modifica els permisos per gravar CD/DVD amb el K3b
Comment[cs]=K3bSetup - upravit oprávnění pro vypalování CD/DVD s K3b
Comment[nb]=K3bSetup  – endre tillatelser for CD-/DVD-brenning med K3b
Comment[nds]=K3b-Inrichthölper – Verlöven för't Brennen vun CDs oder DVDs mit K3b ännern
Comment[nl]=K3bSetup - stelt de toegangsrechten in voor cd/dvd-branden met K3b
Comment[nn]=K3bSetup – endra løyva for CD- og DVD-brenning med K3b
Comment[pt_BR]=Configurações avançadas do K3b - modifica as permissões para gravação de CD/DVD com o K3b
Comment[sk]=K3bSetup - upraviť práva pre napaľovanie CD/DVD s K3b
Comment[sr]=К3б‑постава — мења дозволе за резање дискова К3бом
Comment[sr@ijekavian]=К3б‑постава — мијења дозволе за резање дискова К3бом
Comment[sr@ijekavianlatin]=K3b‑postava — mijenja dozvole za rezanje diskova K3bom
Comment[sr@latin]=K3b‑postava — menja dozvole za rezanje diskova K3bom
Comment[sv]=Ställ in K3b: ändra rättigheter för att bränna cd/dvd med K3b
Comment[uk]=K3bSetup — змініть права для запису КД/DVD у K3b
Comment[x-test]=xxK3bSetup – modify permission for CD/DVD burning with K3bxx
Comment[zh_TW]=K3bSetup - 修改以 K3b 進行 CD/DVD 燒錄的許可權限
Exec=k3bsetup
Keywords=K3bSetup,k3bsetup
Keywords[ca]=K3bSetup,k3bsetup
Keywords[cs]=K3bSetup,k3bsetup
Keywords[ga]=K3bSetup,k3bsetup
Keywords[nb]=K3bSetup,k3bsetup
Keywords[nds]=K3bSetup,k3bsetup,K3b-Inrichthölper
Keywords[nl]=K3bSetup,k3bsetup
Keywords[nn]=K3bSetup,k3bsetup
Keywords[pt_BR]=Configurações avançadas do K3b,configurações avançadas do K3b
Keywords[sk]=K3bSetup,k3bsetup
Keywords[sr]=К3б‑постава,K3bSetup,k3bsetup
Keywords[sr@ijekavian]=К3б‑постава,K3bSetup,k3bsetup
Keywords[sr@ijekavianlatin]=K3b‑postava,K3bSetup,k3bsetup
Keywords[sr@latin]=K3b‑postava,K3bSetup,k3bsetup
Keywords[sv]=Ställ in K3b,k3bsetup
Keywords[uk]=K3bSetup,k3bsetup
Keywords[x-test]=xxK3bSetup,k3bsetupxx
Keywords[zh_TW]=K3bSetup,k3bsetup
Name=K3bSetup
Name[ca]=K3bSetup
Name[cs]=K3bSetup
Name[ga]=K3bSetup
Name[nb]=K3bSetup
Name[nds]=K3b-Inrichthölper
Name[nl]=K3bSetup
Name[nn]=K3bSetup
Name[pt_BR]=Configurações avançadas do K3b
Name[sk]=K3bSetup
Name[sr]=К3б‑постава
Name[sr@ijekavian]=К3б‑постава
Name[sr@ijekavianlatin]=K3b‑postava
Name[sr@latin]=K3b‑postava
Name[sv]=Ställ in K3b
Name[uk]=K3bSetup
Name[x-test]=xxK3bSetupxx
Name[zh_TW]=K3bSetup

Terminal=false
Type=Service
Icon=k3b
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_k3bsetup
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=system
X-KDE-System-Settings-Parent-Category-V2=permissions
X-KDE-Keywords=k3b,k3bsetup,cd,dvd
Categories=Application;System;X-KDE-System;

GenericName=CD/DVD/BD Burning Setup
GenericName[ca]=Arranjament de gravació de CD i DVD
GenericName[cs]=Nastavení vypalování CD/DVD/BD
GenericName[nb]=Oppsett av CD-  DVD- og BD-brenning
GenericName[nds]=Brennen vun CD, DVD un BD instellen
GenericName[nl]=cd/dvd/bd-branden instellen
GenericName[nn]=Oppsett av CD-, DVD- og BD-brenning
GenericName[pt_BR]=Configuração da gravação de CD/DVD/BD
GenericName[sk]=Nastavenie napaľovania CD/DVD/BD
GenericName[sr]=Подешавање резања дискова
GenericName[sr@ijekavian]=Подешавање резања дискова
GenericName[sr@ijekavianlatin]=Podešavanje rezanja diskova
GenericName[sr@latin]=Podešavanje rezanja diskova
GenericName[sv]=Cd, dvd och bd-bränninställning
GenericName[uk]=Налаштування запису КД, DVD та BD
GenericName[x-test]=xxCD/DVD/BD Burning Setupxx
GenericName[zh_TW]=CD/DVD/BD 燒錄設定
