[Desktop Entry]
Encoding=UTF-8
Comment=K3bSetup 2 - modify permission for CD/DVD burning with K3b
Comment[af]=K3bSetup 2 - verander regte vir CD/DVD skryf met K3b
Comment[ar]= اعداد K3B  2 - غيًر الصلاحيات (الاذون ) كي تستطيع كتابة الاقراص المدمجة (CD) او الاقراص المرئية الرقمية (DVD)  بواسطة K3B
Comment[bg]=Настройване на K3b (2) - промяна на правата за запис на CD/DVD с K3b
Comment[bn]=কে-থ্রি-বি ব্যবস্থাপনা ২ - কে-থ্রি-বি দিয়ে সিডি/ডিভিডি লিখনের জন্য অনুমতি পরিবর্তন করে
Comment[bs]=K3bSetup 2 - promijenite privilegije za CD/DVD prženje sa K3b-om
Comment[ca]=K3bSetup 2 - modifica els permisos per a cremar CD i DVD amb K3b
Comment[cs]=K3bSetup 2 - změna oprávnění pro vypalování CD/DVD s K3b
Comment[da]=K3bSetup 2 - ændring af tilladelser for cd/dvd-brænding med K3b
Comment[de]=K3b Einrichtungsassistent - Zugriffsrechte zum Brennen mit K3b anpassen
Comment[el]=Ρύθμιση K3b 2 - τροποποίηση δικαιωμάτων για εγγραφή CD/DVD με το K3b
Comment[eo]=K3bAgordo 2 - ŝanĝu rajtojn por KD/DVD enskribo per K3b
Comment[es]=K3bSetup 2 - modifica los permisos para la grabación de CD o DVD con K3b
Comment[et]=K3b seadistamine - võimalus muuta õigusi CD/DVD kirjutamiseks K3b-ga
Comment[fa]=K3bSetup 2 - تغییر مجوز برای سوزاندن دیسک فشرده/دی وی دی با K3b
Comment[fi]=K3bSetup 2 - aseta K3b:n poltto-oikeudet
Comment[fr]=K3bSetup 2 - Modification des permissions pour la gravure de CD / DVD avec K3b
Comment[gl]=K3bSetup 2 - modifica os permisos para gravar CDs/DVDs con K3b
Comment[he]=K3bSetup 2 - שינוי הרשאות עבור צריבת תקליטורי CD/DVD עם K3b
Comment[hi]=के3बी-सेटअप 2 - के3बी के साथ सीडी/डीवीडी बर्निंग हेतु आज्ञाएँ परिवर्धित करें
Comment[hu]=K3bSetup 2 - jogosultságbeállítás CD/DVD-íráshoz a K3b-ben
Comment[is]=K3b uppsetning 2 - breyta aðgangsheimildum á CD/DVD skrifun með K3b
Comment[it]=Impostazioni di K3b 2 - modifica i permessi per CD/DVD per scrivere con K3b
Comment[ja]=K3bSetup 2 - K3b で CD/DVD に書き込むための権限を設定
Comment[ka]=K3bSetup 2 - K3b-ით CD/DVD-ის ჩაწერის უფლების შეცვლა
Comment[km]=K3bSetup 2 - កែប្រែ​សិទ្ធិ​ដើម្បី​ដុត​ស៊ីឌី ឬ ឌីវីឌី​​ដោយ​ប្រើ K3b
Comment[lt]=K3bSetup 2 – pakeiskite leidimus CD/DVD kūrimui su K3b
Comment[mk]=K3bSetup 2 - менување на дозволите за снимање на CD/DVD со K3b
Comment[ms]=K3bSetup2 - mengubahsuai kebenaran untuk membakar CD/DVD dengan K3b
Comment[nb]=K3bSetup 2 – endre tillatelser for CD-/DVD-brenning med K3b
Comment[nds]=K3b-Inrichthölper - Verlöven för't Brennen vun CD/DVD mit K3b ännern
Comment[ne]=K3bSetup 2 - ले K3b सँग सीडी/डीभीडी बर्निङका लागि अनुमति परिमार्जन गर्दछ
Comment[nl]=K3bSetup 2 - stelt de toegangsrechten in voor cd/dvd-branden met K3b
Comment[nn]=K3b-oppsett 2 – endra løyve for CD- og DVD-brenning med K3b
Comment[pa]=K3bSetup 2 - K3b ਨਾਲ CD/DVD ਲਿਖਣ ਲਈ ਅਧਿਕਾਰ ਸੋਧ
Comment[pl]=K3bSetup 2 - modyfikacja uprawnień do nagrywania płyt CD/DVD za pomocą K3b
Comment[pt]=K3bSetup 2 - modificar as permissões para a gravação de CDs/DVDs com o K3b
Comment[pt_BR]=Configurações Avançadas do K3b - modificar as permissões para a queima de CD/DVD com o K3b
Comment[ru]=K3bSetup 2 - настроить права для записи при помощи K3b
Comment[sk]=K3bSetup 2 - zmena práv pre napaľovanie CD/DVD s K3b
Comment[sl]=K3bSetup  - spremeni dovoljenja za pisanje CD/DVD-jev s K3b
Comment[sr]=K3bSetup 2 — мења дозволе за резање CD/DVD-а помоћу K3b-а
Comment[sr@Latn]=K3bSetup 2 — menja dozvole za rezanje CD/DVD-a pomoću K3b-a
Comment[sv]=Ställ in K3b 2: ändra rättigheter för att bränna cd/dvd med K3b
Comment[ta]= K3bஅமைவு2 - K3b ஐ CD/DVD களோடு எழுதுவதற்காக அனுமதி மாற்றுவதற்காக
Comment[tg]=K3bSetup 2 - танзим кардани иҷозат барои сабт бо ёрии K3b
Comment[tr]=K3bSetup 2 - K3b ile CD/DVD kaydetme izinlerini ayarlama
Comment[uk]=K3bSetup 2 - зміна прав доступу для запису КД/DVD за допомогою K3b
Comment[uz]=K3bSetup 2 - K3b yordamida CD/DVD'ga yozish huquqini moslash
Comment[uz@cyrillic]=K3bSetup 2 - K3b ёрдамида CD/DVD'га ёзиш ҳуқуқини мослаш
Comment[zh_CN]=K3b 设置 2 - 修改使用 K3b 烧录 CD/DVD 的权限
Comment[zh_TW]=K3bSetup 2 - 為 K3b 燒錄 CD/DVD 修改權限
Exec=k3bsetup
Keywords=K3bSetup2,k3bsetup2
Keywords[ar]=اعداد K3b , K3b2
Keywords[bg]=K3bSetup2,k3bsetup2,Настройване на K3b (2)
Keywords[de]=K3b, Einrichtungsassistent, Rechte
Keywords[el]=Ρύθμιση K3b 2,k3bsetup2
Keywords[eo]=K3bAgordo2,k3bagordo2
Keywords[et]=K3bSetup2,k3bsetup2,k3b seadistamine
Keywords[hi]=के3बी-सेटअप 2,के3बी-सेटअप2
Keywords[nds]=K3bSetup2,k3bsetup2,K3b-Inrichthölper
Keywords[nl]=K3bSetup2,k3bsetup2,branden,cd branden,dvd,dvd branden
Keywords[nn]=K3b-oppsett 2,k3b-oppsett 2
Keywords[pl]=K3bSetup2,k3bsetup2,k3b,ustawienia,uprawnienia
Keywords[pt_BR]=Configurações Avançadas do K3b,configurações avançadas do K3b
Keywords[sv]=Ställ in K3b 2,k3bsetup2
Keywords[ta]=K3bஅமைவு2,K3bஅமைவு2
Keywords[tg]=ТанзимиK3b2,танзимиk3b2
Keywords[uz]=K3bSetup2,k3bsetup2,CD,kompakt-disk
Keywords[uz@cyrillic]=K3bSetup2,k3bsetup2,CD,компакт-диск
Name=K3bSetup
Name[ar]= اعداد K3b
Name[bg]=Настройване на K3b
Name[bn]=কে-থ্রি-বি ব্যবস্থাপনা
Name[de]=K3b Einrichtungsassistent
Name[eo]=K3bAgordo
Name[et]=K3b seadistamine
Name[hi]=के3बी-सेटअप
Name[is]=K3b uppsetning
Name[it]=Impostazioni di K3b
Name[nds]=K3b-Inrichthölper
Name[nn]=K3b-oppsett
Name[pa]=K3b-ਸੈੱਟਅੱਪ
Name[pt_BR]=Configurar K3b
Name[sv]=Ställ in K3b
Name[ta]=K3b அமைவு
Name[tg]=ТанзимиK3b
Name[zh_TW]=K3b 設定
Terminal=false
Type=Application
Icon=k3b
X-KDE-FactoryName=k3bsetup2
X-KDE-Library=k3bsetup2
X-KDE-ModuleType=Library
X-KDE-RootOnly=true
Categories=Application;System;X-KDE-System;
GenericName=CD & DVD Burning Setup
GenericName[af]=CD & DVD Skryf Opstelling
GenericName[ar]=العام  اعداد كتابة القرص المدمج (CD) و القرص المرئي الرقمي (DVD)
GenericName[bg]=Настройване записа на CD и DVD
GenericName[bn]=সিডি এবং ডিভিডি লিখন ব্যবস্থাপনা
GenericName[ca]=Programa per gravar CDs i DVDs
GenericName[cs]=Nastavení vypalování CD a DVD
GenericName[da]=Cd & dvd opsætning til brænding
GenericName[de]=CD & DVD-Brennen einrichten
GenericName[el]=Ρύθμιση εγγραφής CD & DVD
GenericName[eo]=KD & DVD Enskriba agordo
GenericName[es]=Configurar grabación de CD y DVD
GenericName[et]=CD ja DVD kirjutamise seadistamine
GenericName[fa]=برپایی سوزاندن دیسک فشرده و دی وی دی
GenericName[fi]=K3b-poltto-ohjelman asetusten määritys
GenericName[fr]=Configuration de la gravure de CD et de DVD
GenericName[gl]=Configurazón da Grabazón de CDs e DVDs
GenericName[hu]=CD- és DVD-írási beállítások
GenericName[is]=Uppsetning á CD og DVD brennslu
GenericName[it]=Impostazioni di masterizzazione CD e DVD
GenericName[ja]=CD / DVD 作成の設定
GenericName[ka]=CD-ის და DVD-ის ჩაწერის გამართვა
GenericName[km]=រៀបចំ​ការ​ដុត​ស៊ីឌី & ឌីវីឌី
GenericName[lt]=CD & DVD kūrimo parinktys
GenericName[mk]=Поставувања за снимање на CD и DVD
GenericName[ms]=Tetapan Membakar CD & DVD
GenericName[nb]=Oppsett av CD- og DVD-brenning
GenericName[nds]=Brennen vun CD & DVD instellen
GenericName[ne]=सीडी र डीभीडी बर्निङ सेटअप
GenericName[nl]=CD- en dvd-branden instellen
GenericName[nn]=Oppsett av CD- og DVD-brenning
GenericName[pa]=CD & DVD ਲਿਖਣ ਸੈਟਅੱਪ
GenericName[pl]=Konfiguracja nagrywania płyt CD i DVD
GenericName[pt]=Configuração da Gravação de CDs e DVDs
GenericName[pt_BR]=Configuração da Queima de CD & DVD
GenericName[ru]=Настройка записи CD и DVD
GenericName[sk]=Nastavenie CD & DVD napaľovania
GenericName[sl]=Nastavitve za pisanje CD-jev in DVD-jev
GenericName[sr]=Подешавање резања CD-а и DVD-а
GenericName[sr@Latn]=Podešavanje rezanja CD-a i DVD-a
GenericName[sv]=Cd och dvd-bränninställning
GenericName[ta]=சிடி & DVD  நகல் எடுக்கும் அமைப்பு
GenericName[tg]=Танзимоти сабткунии CD ва DVD
GenericName[tr]=CD ve DVD Kaydetme Kurulumu
GenericName[uk]=Налажтування запису КД та DVD
GenericName[uz]=CD va DVD diskka yozishni moslash
GenericName[uz@cyrillic]=CD ва DVD дискка ёзишни мослаш
GenericName[zh_CN]=CD & DVD 刻录程序设置
GenericName[zh_TW]=CD & DVD 燒錄設定
