[Desktop Entry]
Encoding=UTF-8
Comment=K3bSetup – modify permission for CD/DVD burning with K3b
Exec=k3bsetup
Keywords=K3bSetup,k3bsetup
Name=K3bSetup

Terminal=false
Type=Service
Icon=k3b
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_k3bsetup
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=system
X-KDE-System-Settings-Parent-Category-V2=permissions
X-KDE-Keywords=k3b,k3bsetup,cd,dvd
Categories=Application;System;X-KDE-System;

GenericName=CD/DVD/BD Burning Setup
