[Desktop Entry]
Encoding=UTF-8
Comment=K3bSetup - modify permission for CD/DVD burning with K3b
Comment[pt]=K3bSetup - modificar as permissões para a gravação de CDs/DVDs com o K3b
Comment[pt_BR]=Configurações Avançadas do K3b - modificar permissões para a queima de CD/DVD com o K3b
Comment[sv]=Ställ in K3b: ändra rättigheter för att bränna cd/dvd med K3b
Comment[uk]=K3bSetup — змініть права для запису КД/DVD у K3b
Exec=k3bsetup
Keywords=K3bSetup,k3bsetup
Keywords[pt_BR]=Configurações Avançadas do K3b,configurações avançadas do K3b
Keywords[sv]=Ställ in K3b,k3bsetup
Name=K3bSetup
Name[bg]=Настройване на K3b
Name[de]=K3b-Einrichtungsassistent
Name[eo]=Name=K3bSetup
Name[et]=K3b seadistamine
Name[hne]=के3बीसेटअप
Name[nds]=K3b-Inrichthölper
Name[pa]=K3bਸੈੱਟਅੱਪ
Name[pt_BR]=Configurar K3b
Name[sl]=K3b namestitev
Name[sv]=Ställ in K3b
Name[x-test]=xxK3bSetupxx

Terminal=false
Type=Service
Icon=k3b
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_k3bsetup
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=system
X-KDE-Keywords=k3b,k3bsetup,cd,dvd
Categories=Application;System;X-KDE-System;

GenericName=CD & DVD Burning Setup
GenericName[bg]=Настройване записа на CD и DVD
GenericName[ca]=Configuració de gravació de CD i DVD
GenericName[cs]=Nastavení vypalování CD a DVD
GenericName[csb]=Ùstôwë wëpôlaniô CD ë DVD
GenericName[da]=Opsætning af cd- og dvd-brænding
GenericName[de]=CD/DVD-Brennen einrichten
GenericName[el]=Ρύθμιση εγγραφής CD & DVD
GenericName[eo]=KD kaj DVD enskriba agordo
GenericName[es]=Configurar grabación de CD y DVD
GenericName[et]=CD ja DVD kirjutamise seadistamine
GenericName[eu]=CD eta DVD grabatzailearen konfigurazioa
GenericName[fi]=K3b-poltto-ohjelman asetusten määritys
GenericName[fr]=Configuration de la gravure de CD et de DVD
GenericName[ga]=Cumraíocht Dóite Dlúthdhioscaí
GenericName[gl]=Configuración da gravación de CD e DVD
GenericName[he]=הגדרות צריבת CD ו DVD
GenericName[hne]=सीडी डीवीडी बर्निंग सेटअप
GenericName[hsb]=CD & DVD setup za palenje
GenericName[ja]=CD / DVD 作成の設定
GenericName[km]=រៀបចំ​ការ​ដុត​ស៊ីឌី និង​ឌីវីឌី
GenericName[ko]=CD와 DVD 쓰기 설정
GenericName[lt]=CD & DVD kūrimo sąranka
GenericName[lv]=CD & DVD dedzināšnas iestatījumi
GenericName[nb]=Oppsett av CD- og DVD-brenning
GenericName[nds]=Brennen vun CD un DVD instellen
GenericName[ne]=सीडी र डीभीडी बर्निङ सेटअप
GenericName[nl]=CD- en dvd-branden instellen
GenericName[pa]=CD & DVD ਲਿਖਣ ਸੈੱਟਅੱਪ
GenericName[pl]=Konfiguracja nagrywania płyt CD i DVD
GenericName[pt]=Configuração da Gravação de CDs e DVDs
GenericName[pt_BR]=Configuração da Queima de CD & DVD
GenericName[ro]=Configurare scriere CD și DVD
GenericName[ru]=Параметр записи CD и DVD
GenericName[sk]=Nastavenie CD & DVD napaľovania
GenericName[sl]=Namestitev za pisanje CD-jev in DVD-jev
GenericName[sv]=Cd och dvd-bränninställning
GenericName[th]=การตั้งค่าการเขียนแผ่นซีดีและดีวีดี
GenericName[tr]=CD ve DVD Kaydetme Kurulumu
GenericName[uk]=Налаштування запису КД і DVD
GenericName[x-test]=xxCD & DVD Burning Setupxx
GenericName[zh_CN]=CD & DVD 刻录程序设置
