[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=videodvd:/
Icon=media-optical-video
Name=Video DVD Browser
Name[ca]=Navegador de DVD de vídeo
Name[ca@valencia]=Navegador de DVD de vídeo
Name[cs]=Prohlížeč Video DVD
Name[it]=Navigatore DVD video
Name[nl]=Video DVD Browser
Name[pt]=Navegador de DVD de Vídeo
Name[sk]=Prehliadač Video DVD
Name[sv]=Video-dvd bläddrare
Name[uk]=Навігатор відео-DVD
Name[x-test]=xxVideo DVD Browserxx
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
