[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=videodvd:/
Icon=media-optical-video
Name=Video DVD Browser
Name[bg]=Преглед на видео DVD
Name[ca]=Navegador de DVD de vídeo
Name[ca@valencia]=Navegador de DVD de vídeo
Name[cs]=Prohlížeč Video DVD
Name[csb]=Przezérnik platów DVD Video
Name[da]=Gennemse video-dvd'er
Name[de]=Video-DVD-Browser
Name[el]=Περιηγητής Video DVD
Name[en_GB]=Video DVD Browser
Name[eo]=Video-DVD foliumilo
Name[es]=Navegador de DVD de vídeo
Name[et]=Video-DVD sirvija
Name[eu]=Bideo DVD arakatzailea
Name[fi]=Video-DVD-selain
Name[fr]=Navigateur de DVD vidéo
Name[ga]=Brabhsálaí DVD Físe
Name[gl]=Navegador do Vídeo DVD
Name[he]=דפדפן וידאו DVD
Name[hne]=वीडियो डीवीडी ब्राउजर
Name[hsb]=Wideo DVD Browser
Name[hu]=Video DVD-böngésző
Name[it]=Navigatore DVD video
Name[ja]=ビデオ DVD ブラウザ
Name[km]=កម្មវិធី​រុករក​ឌីវីឌី​វីដេអូ
Name[ko]=비디오 DVD 탐색기
Name[lt]=Video DVD naršyklė
Name[lv]=Video DVD pārlūks
Name[nb]=Bla etter video-dvd-er
Name[nds]=Video-DVD-Kieker
Name[ne]=भिडियो डीभीडी ब्राउजर
Name[nl]=Video DVD Browser
Name[pa]=ਵੀਡਿਓ DVD ਬਰਾਊਜ਼ਰ
Name[pl]=Przeglądarka płyt DVD Video
Name[pt]=Navegador de DVD de Vídeo
Name[pt_BR]=Navegador de DVD de vídeo
Name[ro]=Navigator VideoDVD
Name[ru]=Просмотр Video DVD
Name[sk]=Video DVD prehliadač
Name[sl]=Video DVD brskalnik
Name[sv]=Video-dvd bläddrare
Name[th]=เบราว์เซอร์เรียกดูวิดีโอดีวีดี
Name[tr]=Video DVD Tarayıcı
Name[uk]=Навігатор відео-DVD
Name[x-test]=xxVideo DVD Browserxx
Name[zh_CN]=视频 DVD 浏览器
Name[zh_TW]=影像 DVD 瀏覽器
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
