[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=videodvd:/
Icon=media-optical-video
Name=Video DVD Browser
Name[ga]=Brabhsálaí DVD Físe
Name[nb]=Bla etter video-dvd-er
Name[nds]=Video-DVD-Kieker
Name[nl]=Video DVD Browser
Name[nn]=Video DVD-lesar
Name[pt_BR]=Navegador de DVD de vídeo
Name[sk]=Prehliadač Video DVD
Name[sr]=Прегледач видео ДВД‑ова
Name[sr@ijekavian]=Прегледач видео ДВД‑ова
Name[sr@ijekavianlatin]=Pregledač video DVD‑ova
Name[sr@latin]=Pregledač video DVD‑ova
Name[sv]=Video-dvd bläddrare
Name[uk]=Навігатор відео-DVD
Name[x-test]=xxVideo DVD Browserxx
Name[zh_TW]=影像 DVD 瀏覽器
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
