<!DOCTYPE kpartgui>
<kpartplugin name="k3baudioconverterplugin" library="libk3baudioconverterplugin">
<MenuBar>
 <Menu name="tools"><text>Tools</text>
  <Action name="convert_audio_files_plugin"/>
 </Menu>
</MenuBar>
</kpartplugin>
