[Desktop Entry]
Type=Application
NoDisplay=true
Exec=k3b --image %U
Icon=k3b
Terminal=false
Name=K3b
Name[ca]=K3b
Name[cs]=K3b
Name[ga]=K3b
Name[ja]=K3b
Name[nb]=K3b
Name[nds]=K3b
Name[nl]=K3b
Name[nn]=K3b
Name[pt_BR]=K3b
Name[sk]=K3b
Name[sr]=К3б
Name[sr@ijekavian]=К3б
Name[sr@ijekavianlatin]=K3b
Name[sr@latin]=K3b
Name[sv]=K3b
Name[uk]=K3b
Name[x-test]=xxK3bxx
Name[zh_TW]=K3b
MimeType=application/x-cue;
