# KDE Config File
[Desktop Entry]
Type=Application
Exec=k3b --cdimage %U
Icon=k3b
Terminal=false
Name=K3b
Name[hi]=के3बी
Name[xx]=xxK3bxx
MimeType=application/x-cue;

Encoding=UTF-8
