[Desktop Entry]
Type=Application
NoDisplay=true
Exec=k3b --image %U
Icon=k3b
Terminal=false
Name=K3b
Name[ar]=كي3بي
Name[be]=K3b
Name[bg]=K3b
Name[bs]=K3b
Name[ca]=K3b
Name[ca@valencia]=K3b
Name[cs]=K3b
Name[csb]=K3b
Name[da]=K3b
Name[de]=K3b
Name[el]=K3b
Name[en_GB]=K3b
Name[eo]=K3b
Name[es]=K3b
Name[et]=K3b
Name[eu]=K3b
Name[fi]=K3b
Name[fr]=K3b
Name[ga]=K3b
Name[gl]=K3b
Name[he]=K3b
Name[hi]=के3बी
Name[hne]=के3बी
Name[hr]=K3b
Name[hsb]=K3b
Name[hu]=K3b
Name[ia]=K3b
Name[id]=K3b
Name[is]=K3b
Name[it]=K3b
Name[ja]=K3b
Name[kk]=K3b
Name[km]=K3b
Name[ko]=K3b
Name[lt]=K3b
Name[lv]=K3b
Name[mai]=K3b
Name[mr]=के3बी
Name[nb]=K3b
Name[nds]=K3b
Name[ne]=केथ्रीबी
Name[nl]=K3b
Name[nn]=K3b
Name[pa]=K3b
Name[pl]=K3b
Name[pt]=K3b
Name[pt_BR]=K3b
Name[ro]=K3b
Name[ru]=K3b
Name[sk]=K3b
Name[sl]=K3b
Name[sq]=K3b
Name[sr]=К3б
Name[sr@ijekavian]=К3б
Name[sr@ijekavianlatin]=K3b
Name[sr@latin]=K3b
Name[sv]=K3b
Name[th]=K3b
Name[tr]=K3b
Name[ug]=K3b
Name[uk]=K3b
Name[x-test]=xxK3bxx
Name[zh_CN]=K3b
Name[zh_TW]=K3b
MimeType=application/x-cd-image;
