[Desktop Entry]
Type=Application
NoDisplay=true
Exec=k3b --image %U
Icon=k3b
Terminal=false
Name=K3b
Name[hi]=के3बी
Name[hne]=के3बी
Name[ne]=केथ्रीबी
Name[x-test]=xxK3bxx
MimeType=application/x-iso;
