[Desktop Entry]
Type=Application
Exec=k3b %U
Icon=k3b
X-DocPath=http://userbase.kde.org/K3b
X-DocPath[da]=http://userbase.kde.org/K3b_%28da%29
X-DocPath[de]=http://userbase.kde.org/K3b_%28de%29
X-DocPath[es]=http://userbase.kde.org/K3b_%28es%29
X-DocPath[fr]=http://userbase.kde.org/K3b_%28fr%29
X-DocPath[it]=http://userbase.kde.org/K3b_%28it%29
X-DocPath[uk]=http://userbase.kde.org/K3b_%28uk%29
X-DocPath[zh_CN]=http://userbase.kde.org/K3b_%28zh_CN%29
X-DocPath[zh_TW]=http://userbase.kde.org/K3b_%28zh_TW%29
GenericName=Disk Burning
GenericName[x-test]=xxDisk Burningxx
Comment=Disk writing program
Comment[x-test]=xxDisk writing programxx
Terminal=false
Name=K3b
Name[x-test]=xxK3bxx
MimeType=application/x-k3b;application/x-iso;application/x-cd-image;application/x-cue;
X-KDE-StartupNotify=true
X-KDE-NativeMimeType=application/x-k3b;
Categories=KDE;Qt;AudioVideo;DiscBurning;
X-DBUS-ServiceType=Unique
