[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=k3b
Icon=k3b
DocPath=k3b/index.html
GenericName=CD & DVD Burning
GenericName[hu]=CD/DVD-író
GenericName[it]=Masterizzazione CD e DVD
GenericName[sv]=Cd och dvd-brännprogram
Comment=CD writing program
Comment[hu]=CD-író program
Comment[it]=Programma di masterizzazione
Comment[sv]=Cd-brännprogram
Terminal=false
Name=K3b
MimeType=application/x-k3b
X-KDE-StartupNotify=true
X-KDE-NativeMimeType=application/x-k3b
Categories=KDE;Application;AudioVideo;DiscBurning;
X-DCOP-ServiceType=Unique
