[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=k3b %U
Icon=k3b
DocPath=k3b/index.html
GenericName=CD & DVD Burning
GenericName[af]=CD & DVD Skrywer
GenericName[ar]= اعداد كتابة القرص المدمج(CD)  و القرص المرئي الرقمي (DVD)
GenericName[bg]=Запис на CD и DVD
GenericName[bn]=সিডি এবং ডিভিডি লিখন
GenericName[br]=Skrivañ CD ha DVD
GenericName[bs]=CD & DVD prženje
GenericName[ca]=Programa per gravar CDs i DVDs
GenericName[cs]=Vypalování CD a DVD
GenericName[da]=Cd & dvd-skriveprogram
GenericName[de]=CD & DVD-Brennen
GenericName[el]=Εγγραφή CD & DVD
GenericName[es]=Grabación de CD y DVD
GenericName[et]=CD ja DVD kirjutamine
GenericName[fa]=سوزاندن دیسک فشرده و دی وی دی
GenericName[fi]=Poltto-ohjelma
GenericName[fr]=Gravure de CD et DVD
GenericName[gl]=Gravazón de CDs e DVDs
GenericName[he]=צרינת תקליטורי CD & DVD
GenericName[hi]=सीडी & डीवीडी बर्निंग
GenericName[hu]=CD- és DVD-író
GenericName[is]=CD og DVD brennsla
GenericName[it]=Masterizzazione CD e DVD
GenericName[ja]=CD / DVD 作成
GenericName[ka]=CD-ის და DVD-ის ჩანაწერა
GenericName[lt]=CD ir DVD kūrimas
GenericName[mk]=Снимање на CD & DVD
GenericName[ms]=Membakar CD & DVD
GenericName[nb]=CD- og DVD-brenning
GenericName[nds]=Brennen vun CD & DVD
GenericName[nl]=CD- en dvd-brandprogramma
GenericName[nn]=CD- og DVD-brenning
GenericName[pa]=CD & DVD ਲਿਖਣ ਲਈ
GenericName[pl]=Nagrywanie płyt CD i DVD
GenericName[pt]=Gravação de CDs e DVDs
GenericName[pt_BR]=Queima de CD & DVD
GenericName[ru]=Запись CD и DVD
GenericName[sk]=Napaľovanie CD & DVD
GenericName[sl]=Pisanje CD-jev in DVD-jev
GenericName[sr]=Резање CD-а и DVD-а
GenericName[sr@Latn]=Rezanje CD-a i DVD-a
GenericName[sv]=Cd och dvd-brännprogram
GenericName[ta]=சிடி எழுதும் தகவல்
GenericName[tg]=Сабти CD ва DVD
GenericName[th]=การเขียนแผ่น CD & DVD
GenericName[tr]=CD ve DVD Kaydedici
GenericName[uk]=Запис КД та DVD
GenericName[uz]=CD va DVD disklarga yozish
GenericName[uz@cyrillic]=CD ва DVD дискларга ёзиш
GenericName[xx]=xxCD & DVD Burningxx
GenericName[zh_CN]=CD & DVD 烧录程序
GenericName[zh_TW]=CD & DVD 燒錄
Comment=CD writing program
Comment[af]=CD skryf program
Comment[ar]=برنامج لكتابة الاقراص المدمجة CD
Comment[bg]=Програма за запис на CD
Comment[bn]=সিডি লিখন প্রোগ্র্যাম
Comment[br]=Program skriver CD
Comment[bs]=Program za prženje CDova
Comment[ca]=Programa gravador de CDs
Comment[cs]=Program pro vypalování CD
Comment[da]=Cd-skriveprogram
Comment[de]=CD-Brennprogramm
Comment[el]=Πρόγραμμα εγγραφής CD
Comment[es]=Programa de grabación de CD
Comment[et]=CD kirjutamise rakendus
Comment[fa]=برنامۀ نوشتن دیسک فشرده
Comment[fi]=Poltto-ohjelma
Comment[fr]=Programme de gravure de CD
Comment[gl]=Un programa de gravazón de CDs
Comment[he]=תוכנית צריבת תקליטורים
Comment[hi]=सीडी लिखने का प्रोग्राम
Comment[hu]=CD-író program
Comment[is]=CD skrifunarforrit
Comment[it]=Programma di masterizzazione
Comment[ja]=CD 書き込みプログラム
Comment[ka]=CD-ის ჩამწერი პროგრამა
Comment[lt]=CD įrašymo programa
Comment[mk]=Програма за снимање на CD
Comment[ms]=Program menulis CD
Comment[nb]=CD-brenningsprogram
Comment[nds]=CD-Schriefprogramm
Comment[nl]=CD-brandprogramma
Comment[nn]=CD-brenneprogram
Comment[pa]=CD ਲਿਖਣ ਕਾਰਜ
Comment[pl]=Program do nagrywania płyt CD
Comment[pt]=Um programa de gravação de CDs
Comment[pt_BR]=Programa de gravação em CD
Comment[ru]=Программа записи на CD
Comment[sk]=CD vypaľovací program
Comment[sl]=Program za pisanje CD-jev
Comment[sr]=Програм за писање CD-а
Comment[sr@Latn]=Program za pisanje CD-a
Comment[sv]=Cd-brännprogram
Comment[ta]=குறுந்தகட்டில் எழுதும் நிரல்
Comment[tg]=Барномаи сабти компакт-дискҳо
Comment[th]=โปรแกรมสำหรับเขียนแผ่น CD
Comment[tr]=CD yazdırma programı
Comment[uk]=Програма запису КД
Comment[uz]=Kompakt-diskka yozish dasturi
Comment[uz@cyrillic]=Компакт-дискка ёзиш дастури
Comment[xh]=Ubhalo lwe Cd lodweiso Iwenkqubo
Comment[xx]=xxCD writing programxx
Comment[zh_CN]=CD 刻录程序
Comment[zh_TW]=CD 燒錄程式
Comment[zu]=Uhlelo lwemisebenzi olubhala i-CD
Terminal=false
Name=K3b
Name[ar]= K3b
Name[bn]=কে-থ্রি-বি
Name[hi]=के3बी
Name[xx]=xxK3bxx
MimeType=application/x-k3b;
X-KDE-StartupNotify=true
X-KDE-NativeMimeType=application/x-k3b;application/x-iso
Categories=KDE;AudioVideo;DiscBurning;
X-DCOP-ServiceType=Unique
