[Desktop Entry]
Type=Application
Exec=k3b %U
Icon=k3b
X-DocPath=k3b/index.html
GenericName=Disk Burning
GenericName[ca]=Gravació de disc
GenericName[ca@valencia]=Gravació de disc
GenericName[cs]=Vypalování médií
GenericName[it]=Scrittura disco
GenericName[nl]=Schijven branden
GenericName[pt]=Gravação de Discos
GenericName[sv]=Skivbränning
GenericName[uk]=Запис дисків
GenericName[x-test]=xxDisk Burningxx
Comment=Disk writing program
Comment[ca]=Programa d'escriptura de disc
Comment[ca@valencia]=Programa d'escriptura de disc
Comment[cs]=Program pro vypalování
Comment[it]=Programma di scrittura disco
Comment[nl]=Programma voor schijven beschrijven
Comment[pt]=Um programa de gravação de discos
Comment[sv]=Skivbrännprogram
Comment[uk]=Програма для запису дисків
Comment[x-test]=xxDisk writing programxx
Terminal=false
Name=K3b
Name[ca]=K3b
Name[ca@valencia]=K3b
Name[cs]=K3b
Name[it]=K3b
Name[nl]=K3b
Name[pt]=K3b
Name[sv]=K3b
Name[uk]=K3b
Name[x-test]=xxK3bxx
MimeType=application/x-k3b;application/x-iso;application/x-cd-image;application/x-cue;x-content/blank-cd;x-content/blank-dvd;x-content/blank-bd;x-content/blank-hddvd;
X-KDE-StartupNotify=true
X-KDE-NativeMimeType=application/x-k3b;
Categories=KDE;Qt;AudioVideo;DiscBurning;System;Filesystem;
X-DBUS-ServiceType=Unique
InitialPreference=5
X-DBUS-ServiceName=org.kde.k3b
