[Desktop Entry]
Type=Application
Exec=k3b %U
Icon=k3b
X-DocPath=k3b/index.html
GenericName=Disk Burning
GenericName[ar]=حرق الأقراص
GenericName[bg]=Запис дискове
GenericName[bs]=Spaljivanje diska
GenericName[ca]=Gravació de disc
GenericName[ca@valencia]=Gravació de disc
GenericName[cs]=Vypalování médií
GenericName[csb]=Wëpôlanié diskù
GenericName[da]=Diskbrænding
GenericName[de]=Brennprogramm
GenericName[el]=Disk Burning
GenericName[en_GB]=Disc Burning
GenericName[es]=Grabado de disco
GenericName[et]=Plaadi kirjutamine
GenericName[eu]=Disko grabatzea
GenericName[fi]=Levynpoltto
GenericName[fr]=Gravure de disque
GenericName[gl]=Gravación de disco
GenericName[he]=צריבת דיסק
GenericName[hr]=Snimanje diska
GenericName[hu]=Lemezíró
GenericName[ia]=Gravator de disco
GenericName[id]=Disk Burning
GenericName[is]=Diskabrennsla
GenericName[it]=Scrittura disco
GenericName[ja]=ディスク作成
GenericName[kk]=Дискін жазу
GenericName[km]=ការ​ដុត​ថាស
GenericName[ko]=디스크 쓰기
GenericName[lt]=Diskų įrašymas
GenericName[lv]=Disku rakstīšana
GenericName[mr]=डिस्क वर लिहा
GenericName[nb]=Platebrenning
GenericName[nds]=Brennen
GenericName[nl]=Schijven branden
GenericName[nn]=Platebrenning
GenericName[pa]=ਡਿਸਕ ਲਿਖਣਾ
GenericName[pl]=Nagrywanie płyt
GenericName[pt]=Gravação de Discos
GenericName[pt_BR]=Gravação de discos
GenericName[ro]=Inscripționare discuri
GenericName[ru]=Запись дисков
GenericName[sk]=Napaľovanie médií
GenericName[sl]=Zapisovanje nosilcev
GenericName[sr]=Резање дискова
GenericName[sr@ijekavian]=Резање дискова
GenericName[sr@ijekavianlatin]=Rezanje diskova
GenericName[sr@latin]=Rezanje diskova
GenericName[sv]=Skivbränning
GenericName[th]=เขียนแผ่น
GenericName[tr]=Disk Yazma
GenericName[uk]=Запис дисків
GenericName[x-test]=xxDisk Burningxx
GenericName[zh_CN]=磁盘刻录
GenericName[zh_TW]=碟片燒錄
Comment=Disk writing program
Comment[ar]=برنامج لحرق الأقراص
Comment[bg]=Програма за запис на дискове
Comment[bs]=Program za pisanje na disk
Comment[ca]=Programa d'escriptura de disc
Comment[ca@valencia]=Programa d'escriptura de disc
Comment[cs]=Program pro vypalování
Comment[csb]=Programa do zapisëwaniô
Comment[da]=Diskbrænder-program
Comment[de]=Brennprogramm für CDs, DVDs und Blu-Ray
Comment[el]=Πρόγραμμα εγγραφής δίσκων
Comment[en_GB]=Disc writing program
Comment[es]=Programa de grabado de disco
Comment[et]=Plaadi kirjutamise rakendus
Comment[eu]=Disko grabatzeko programa
Comment[fi]=Levynpolttosovellus
Comment[fr]=Programme de gravure de disque
Comment[gl]=Programa para a gravación de discos
Comment[he]=תוכנת כתיבת דיסק
Comment[hr]=Program za snimanje diskova
Comment[hu]=Lemezíró program
Comment[ia]=Programma de scriptura de disco
Comment[id]=Program penulisan disk
Comment[is]=Skrifunarforrit fyrir geisladiska
Comment[it]=Programma di scrittura disco
Comment[ja]=ディスク書き込みプログラム
Comment[kk]=Дискін жазу бағдарламасы
Comment[km]=កម្មវិធី​​សរសេរ​​​ថាស
Comment[ko]=디스크 쓰기 프로그램
Comment[lt]=Diskų įrašymo programa
Comment[lv]=Disku rakstīšanas programma
Comment[mr]=डिस्क वर लिहिणारा कार्यक्रम
Comment[nb]=Platebrenningsprogram
Comment[nds]=Brennprogramm
Comment[nl]=Programma voor schijven beschrijven
Comment[nn]=Platebrenneprogram
Comment[pa]=ਡਿਸਕ ਲਿਖਣ ਪਰੋਗਰਾਮ
Comment[pl]=Program do nagrywania płyt
Comment[pt]=Um programa de gravação de discos
Comment[pt_BR]=Programa de gravação de discos
Comment[ro]=Program de scriere a discurilor
Comment[ru]=Программа записи дисков
Comment[sk]=Program pre napaľovanie médií
Comment[sl]=Program za zapisovanje nosilcev
Comment[sr]=Програм за уписивање дискова
Comment[sr@ijekavian]=Програм за уписивање дискова
Comment[sr@ijekavianlatin]=Program za upisivanje diskova
Comment[sr@latin]=Program za upisivanje diskova
Comment[sv]=Skivbrännprogram
Comment[th]=เครื่องมือเขียนแผ่น
Comment[tr]=Disk yazma uygulaması
Comment[ug]=دىسكىغا يېزىش قورالى
Comment[uk]=Програма для запису дисків
Comment[x-test]=xxDisk writing programxx
Comment[zh_CN]=CD 刻录程序
Comment[zh_TW]=碟片寫入程式
Terminal=false
Name=K3b
Name[ar]=كي3بي
Name[be]=K3b
Name[bg]=K3b
Name[bs]=K3b
Name[ca]=K3b
Name[ca@valencia]=K3b
Name[cs]=K3b
Name[csb]=K3b
Name[da]=K3b
Name[de]=K3b
Name[el]=K3b
Name[en_GB]=K3b
Name[eo]=K3b
Name[es]=K3b
Name[et]=K3b
Name[eu]=K3b
Name[fi]=K3b
Name[fr]=K3b
Name[ga]=K3b
Name[gl]=K3b
Name[he]=K3b
Name[hi]=के3बी
Name[hne]=के3बी
Name[hr]=K3b
Name[hsb]=K3b
Name[hu]=K3b
Name[ia]=K3b
Name[id]=K3b
Name[is]=K3b
Name[it]=K3b
Name[ja]=K3b
Name[kk]=K3b
Name[km]=K3b
Name[ko]=K3b
Name[lt]=K3b
Name[lv]=K3b
Name[mai]=K3b
Name[mr]=के3बी
Name[nb]=K3b
Name[nds]=K3b
Name[ne]=केथ्रीबी
Name[nl]=K3b
Name[nn]=K3b
Name[pa]=K3b
Name[pl]=K3b
Name[pt]=K3b
Name[pt_BR]=K3b
Name[ro]=K3b
Name[ru]=K3b
Name[sk]=K3b
Name[sl]=K3b
Name[sq]=K3b
Name[sr]=К3б
Name[sr@ijekavian]=К3б
Name[sr@ijekavianlatin]=K3b
Name[sr@latin]=K3b
Name[sv]=K3b
Name[th]=K3b
Name[tr]=K3b
Name[ug]=K3b
Name[uk]=K3b
Name[x-test]=xxK3bxx
Name[zh_CN]=K3b
Name[zh_TW]=K3b
MimeType=application/x-k3b;application/x-iso;application/x-cd-image;application/x-cue;x-content/blank-cd;x-content/blank-dvd;x-content/blank-bd;x-content/blank-hddvd;
StartupNotify=true
StartupWMClass=k3b
X-KDE-NativeMimeType=application/x-k3b;
Categories=KDE;Qt;AudioVideo;DiscBurning;Filesystem;
X-DBUS-ServiceType=Unique
InitialPreference=5
X-DBUS-ServiceName=org.kde.k3b
