[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=K3b Project Info
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_k3b
MimeType=application/x-k3b
PreferredGroups=General
PreferredItems=documenttype
