[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=K3b Project Info
Name[af]=K3b Projek Informasie
Name[ar]= معلومات عن مشروع K3B
Name[bg]=Информация за K3b проект
Name[bn]=কে-থ্রি-বি প্রকল্প তথ্য
Name[br]=Titouroù raktres K3b
Name[ca]=Informació sobre el projecte de K3b
Name[cs]=Info o K3b projektu
Name[da]=K3b Projektinformation
Name[de]=K3b Projektinformationen
Name[el]=Πληροφορίες έργου K3b
Name[eo]=K3b projekta informo
Name[es]=Información de proyecto K3b
Name[et]=K3b projekti info
Name[fa]= اطلاعات پروژۀ K3b
Name[fi]=K3b-projektin kuvaus
Name[fr]=Information sur le projet K3b
Name[ga]=Eolas faoin Tionscadal K3b
Name[gl]=Informazón de Proxecto K3b
Name[hu]=K3b-projektinformáció
Name[is]=K3b verkefnisupplýsingar
Name[it]=Informazioni progetto K3b
Name[ja]=K3b プロジェクト情報
Name[km]=ព័ត៌មាន​របស់​​គម្រោង K3b
Name[lt]=K3b projekto informacija
Name[mk]=Информации за проект од K3b
Name[nb]=K3b-prosjektinformasjon
Name[nds]=K3b-Projektinformatschonen
Name[nl]=K3b-projectinformatie
Name[nn]=K3b-prosjektinfo
Name[pa]=K3b ਪ੍ਰੋਜੈੱਕਟ ਜਾਣਕਾਰੀ
Name[pl]=Informacja dla projektu K3b
Name[pt]=Informação do Projecto do K3b
Name[pt_BR]=Informações do Projeto do K3b
Name[ru]=Свдения о проекте K3b
Name[sk]=K3b informácie o projekte
Name[sr]=Инфо о K3b пројекту
Name[sr@Latn]=Info o K3b projektu
Name[sv]=K3b-projektinformation
Name[tr]=K3b Proje Bilgisi
Name[uk]=Інформація проекту K3b
Name[uz]=K3b loyihasi haqida maʼlumot
Name[uz@cyrillic]=K3b лойиҳаси ҳақида маълумот
Name[zh_CN]=K3b 方案信息
Name[zh_TW]=K3b 專案資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_k3b
MimeType=application/x-k3b
PreferredGroups=General
PreferredItems=documenttype
