[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=K3b Project Info
Name[bg]=Информация за K3b проект
Name[ca]=Informació sobre el projecte de K3b
Name[cs]=Info o K3b projektu
Name[csb]=Wëdowiédzô ò ùdbie K3b
Name[de]=K3b-Projektinformationen
Name[el]=Πληροφορίες έργου K3b
Name[eo]=K3b projekta informo
Name[es]=Información de proyecto K3b
Name[et]=K3b projekti info
Name[eu]=K3b proiektu informazioa
Name[fi]=K3b-projektin kuvaus
Name[fr]=Information sur le projet K3b
Name[ga]=Eolas faoin Tionscadal K3b
Name[gl]=Información do Proxecto K3b
Name[he]=מידע אודות הפרוייקט K3b
Name[hsb]=K3b informacija wo projekće
Name[ja]=K3b プロジェクト情報
Name[km]=ព័ត៌មាន​អំពី​គម្រោង K3b
Name[ko]=K3b 프로젝트 정보
Name[lv]=K3b projekta informācija
Name[nb]=K3b prosjektinformasjon
Name[nds]=K3b-Projektinformatschonen
Name[ne]=केथ्रीबी परियोजना सूचना
Name[nl]=K3b-projectinformatie
Name[pa]=K3b ਪ੍ਰੋਜੈਕਟ ਜਾਣਕਾਰੀ
Name[pl]=Informacja o projekcie K3b
Name[pt]=Informação do Projecto do K3b
Name[pt_BR]=Informações de Projeto do K3b
Name[ro]=Informații proiect K3b
Name[ru]=Сведения о проекте K3b
Name[sk]=K3b informácie o projekte
Name[sv]=K3b-projektinformation
Name[th]=ข้อมูลโครงงานของ K3b
Name[tr]=K3b Proje Bilgisi
Name[uk]=Інформація про проект K3b
Name[x-test]=xxK3b Project Infoxx
Name[zh_CN]=K3b 项目信息
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_k3b
MimeType=application/x-k3b
PreferredGroups=General
PreferredItems=documenttype
