[Desktop Entry]
Name=K3b Audio Metainfo Renamer
Name[et]=K3b helifailide metainfo põhjal ümbernimetaja
Name[fr]=Renommeur de méta-données audio K3b
Name[ga]=Athainmneoir Meiteafhaisnéise Fuaime K3b
Name[nds]=Audiometadaten-Ümnömer för K3b
Name[nl]=K3b audio-metainfo-hernoemer
Name[pt]=Mudança de Meta-Dados de Áudio do K3B
Name[pt_BR]=Renomeador de meta informações de áudio do K3b
Name[sv]=K3b namnändring av ljud med metainformation
Name[uk]=Інструмент перейменування за метаданими K3b
Comment=Plugin to rename audio files in a data project based on the meta info.
Comment[et]=Plugin andmeprojekti helifailide ümbernimetamiseks metainfo põhjal.
Comment[fr]=Module pour renommer des fichiers audio dans un projet de données fondé sur les informations de méta-données.
Comment[ga]=Breiseán a athainmníonn comhaid fhuaime i dtionscadal sonraí, bunaithe ar an mheiteafhaisnéis.
Comment[nds]=Moduul för't Ümnömen vun Klangdateien binnen en Datenprojekt na ehr Meta-Informatschonen
Comment[nl]=Plugin om audiobestanden in een dataproject te hernoemen gebaseerd op de metainfo.
Comment[pt]=Um 'plugin' para mudar o nome dos ficheiros de áudio, num projecto de dados, com base nos meta-dados.
Comment[pt_BR]=Plug-in para renomear arquivos de áudio em um projeto de dados baseado nas meta informações.
Comment[sv]=Insticksprogram för att byta namn på ljudfiler i ett dataprojekt baserat på metainformation.
Comment[uk]=Додаток для перейменування звукових файлів у проектах даних на основі метаданих.
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3baudiometainforenamerplugin
X-KDE-PluginInfo-Name=k3baudiometainforenamerplugin
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=ProjectPlugin
X-KDE-PluginInfo-EnabledByDefault=true
