[Desktop Entry]
Name=K3b Audio Metainfo Renamer
Name[uk]=Інструмент перейменування за метаданими K3b
Name[x-test]=xxK3b Audio Metainfo Renamerxx
Comment=Plugin to rename audio files in a data project based on the meta info.
Comment[uk]=Додаток для перейменування звукових файлів у проектах даних на основі метаданих.
Comment[x-test]=xxPlugin to rename audio files in a data project based on the meta info.xx
Type=Service
ServiceTypes=K3b/Plugin
Icon=preferences-plugin

X-KDE-Library=k3baudiometainforenamerplugin
X-KDE-PluginInfo-Name=k3baudiometainforenamerplugin
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@k3b.org
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=ProjectPlugin
X-KDE-PluginInfo-EnabledByDefault=true
